## Local build properties
adeers.username=<your adeers username>
adeers.password=<your adeers password>

adeers.report.service.url=https://betapps-ctep.nci.nih.gov/adeerswsbeta/services/AEReportXMLService
