<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="testCsmUserProvisioningManager"
		class="gov.nih.nci.security.acegi.csm.authorization.UserProvisioningManagerFactory"
		factory-method="newUserProvisioningManager">
		<constructor-arg value="testapp" />
		<constructor-arg>
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="locations" value="classpath:/hibernate.properties"/>
			</bean>
		</constructor-arg>
	</bean>

	<bean id="testCsmAuthenticationManager"
		class="gov.nih.nci.security.SecurityServiceProvider"
		factory-method="getAuthenticationManager">
		<constructor-arg value="testapp" />
	</bean>	

</beans>