testapp{ 
    gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule required 
	driver="org.hsqldb.jdbcDriver" 
	url="jdbc:hsqldb:mem:test" 
	user="sa" 
	passwd="" 
	encryption-enabled="YES"
	
	TABLE_NAME="CSM_USER"
  USER_LOGIN_ID="LOGIN_NAME"
  USER_PASSWORD="PASSWORD"
  USER_FIRST_NAME="FIRST_NAME"
  USER_LAST_NAME="LAST_NAME"
  USER_EMAIL_ID="EMAIL_ID";
};
   
   
   
