<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-configProperties.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-dao.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-db.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-spring.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-security.xml"/>	
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-service.xml"/>
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-coppa.xml"/>
	
	<import resource="classpath*:gov/nih/nci/cabig/caaers/grid/applicationContext-studyConsumer.xml"/>
	
	<bean id="studyRollbackInterval" class="java.lang.Integer">
		<constructor-arg value="s[grid.studyconsumer.rollbackInterval]" />
	</bean>
    <bean id="studyConsumerGridServiceUrl" class="java.lang.String">
        <constructor-arg value="s[grid.studyconsumer.url]"/>
    </bean>
	<bean id="coppaCache" class="java.lang.Boolean">
		<constructor-arg value="false"/>
	</bean>
	<bean id="coppaMode" class="java.lang.Boolean">
		<constructor-arg value="false"/>
	</bean>
	
	<bean id="studyConsumerAuditInfoPopulatorInterceptor" class="gov.nih.nci.cabig.caaers.audit.AuditInfoPopulatorInterceptor">
		<property name="fromUrl" ref="studyConsumerGridServiceUrl" />
	</bean>
		
	 <bean id="studyConsumerTarget" class="gov.nih.nci.cabig.caaers.grid.CaaersStudyConsumer" autowire="byType">
        <property name="studyConsumerGridServiceUrl" ref="studyConsumerGridServiceUrl"/>
     	<property name="rollbackInterval" ref ="studyRollbackInterval" />
    </bean>
	<bean id="studyConsumer" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="studyConsumerTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>gridAutenticationInterceptor</value>
				<value>studyConsumerAuditInfoPopulatorInterceptor</value>
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>

</beans>