<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-configProperties.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-dao.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-db.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-spring.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-security.xml"/>	
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-service.xml"/>
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-coppa.xml"/>
	
	<import resource="classpath*:gov/nih/nci/cabig/caaers/grid/applicationContext-studyConsumer.xml"/>

    <bean id="studyConsumer" class="gov.nih.nci.cabig.caaers.grid.CaaersStudyConsumer" autowire="byType">
        <property name="studyConsumerGridServiceUrl" ref="studyConsumerGridServiceUrl"/>
     	<property name="rollbackInterval" ref ="studyRollbackInterval" />
    </bean>
	<bean id="studyRollbackInterval" class="java.lang.Integer">
		<constructor-arg value="s[grid.studyconsumer.rollbackInterval]" />
	</bean>
    <bean id="studyConsumerGridServiceUrl" class="java.lang.String">
        <constructor-arg value="s[grid.studyconsumer.url]"/>
    </bean>

</beans>