<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright SemanticBits, Northwestern University and Akaza Research
  
  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/caaers/LICENSE.txt for details.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       xmlns:util="http://www.springframework.org/schema/util" default-lazy-init="true">


    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"><value>s[datasource.driver]</value></property>
        <property name="url"><value>s[datasource.url]</value></property>
        <property name="username"><value>s[datasource.username]</value></property>
        <property name="password"><value>s[datasource.password]</value></property>
    </bean>

    <bean id="caaersDatasourceFactoryBean" class="gov.nih.nci.cabig.caaers.tools.CaaersDataSourcePropertiesFactoryBean">
        <property name="databaseConfigurationName"><value>test</value></property>
    </bean>

    <bean id="mainPropertyConfigurer" class="gov.nih.nci.cabig.ctms.tools.spring.PropertyPlaceholderConfigurer">
        <property name="properties" ref="caaersDatasourceFactoryBean"/>
        <!-- have to use a separate prefix/suffix to avoid maven filtering in everything at build time -->
        <property name="placeholderPrefix"><value>s[</value></property>
        <property name="placeholderSuffix"><value>]</value></property>
        <property name="useNullForUnresolvablePlaceholders"><value>true</value></property>
    </bean>

	<bean id="rulesPropertiesFileLoader" class="com.semanticbits.rules.utils.RulesPropertiesFileLoader">
		<property name="databaseConfigurationName" value="test" />
		<property name="applicationDirectoryName" value="caaers" />
	</bean>

    <!-- Unable to load study participant assignment -->
    <bean id="studyParticipantAssignmentAspect" class="gov.nih.nci.cabig.caaers.security.StudyParticipantAssignmentAspect">
        <property name="securityInterceptor" ref="daoSecurity"/>
    </bean>
    
    <bean id="mailer" class="gov.nih.nci.cabig.caaers.service.MailerStub">
    	<property name="configuration" ref="configuration" />
    </bean>
    
    <bean id="caaersLoggingAspect" class="gov.nih.nci.cabig.caaers.tools.logging.CaaersLoggingAspect"  />
    <bean id="paramsTrackerAspect" class="gov.nih.nci.cabig.caaers.utils.MethodParamsTrackerAspect"  />

</beans>
