caaers {
    gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule required
    driver="org.postgresql.Driver"
    url="jdbc:postgresql://@DB_HOST@:@DB_PORT@/@DB_NAME@"
    user="@DB_USER@"
    passwd="@DB_PASSWORD@"
    encryption-enabled="YES"
    query="SELECT * FROM CSM_USER WHERE LOGIN_NAME=? and PASSWORD=?"
    ;

};