<?xml version="1.0" encoding="UTF-8"?>

<!--
  Purpose : Testing in IDE (Eclipse/IDEA) has an issue, Default compilation in IDE will not 
  replace @databaseConfiguration@ filter. To overcome this, all CaaersDBTestCase#getConfigLocations() and 
  CaaersTestCase#getConfigLocations() method will include 
  applicationContext-test.xml, as the last entry, will allow overriding of the following beans. 
  	dataSource and mainPropertyConfigurer.
  	
 Note:- 
 Since the name test is hardcoded in the properties file, it is mandatory that you have test.properties (read DATABASE.readme).
 Also the ANT build, will skip this file, so that the original build, and test build will not conflict. 
 -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       xmlns:util="http://www.springframework.org/schema/util" default-lazy-init="true">


   
    <bean id="caaersDatasourceFactoryBean" class="gov.nih.nci.cabig.caaers.tools.CaaersDataSourcePropertiesFactoryBean">
        <property name="databaseConfigurationName">
            <value>test</value>
        </property>
    </bean>
   
	 <bean id="mainPropertyConfigurer" class="gov.nih.nci.cabig.ctms.tools.spring.PropertyPlaceholderConfigurer">
        <property name="properties" ref="caaersDatasourceFactoryBean"/>

        <!-- have to use a separate prefix/suffix to avoid maven filtering in everything
     at build time -->
        <property name="placeholderPrefix">
            <value>s[</value>
        </property>
        <property name="placeholderSuffix">
            <value>]</value>
        </property>
        <property name="useNullForUnresolvablePlaceholders">
            <value>true</value>
        </property>
    </bean>

</beans>
