<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


	<bean id="csmAuthorizationManager"
		class="gov.nih.nci.security.acegi.csm.authorization.ExtendedCSMAuthorizationManagerImpl">
		<constructor-arg value="testapp" />
	</bean>

	<bean id="csmAuthenticationManager"
		class="gov.nih.nci.security.SecurityServiceProvider"
		factory-method="getAuthenticationManager">
		<constructor-arg value="testapp" />
	</bean>

	<bean id="csmObjectIdGenerator"
		class="gov.nih.nci.security.acegi.csm.authorization.BasicCSMObjectIdGenerator">
		<property name="idMethodName" value="getId" />
		<property name="classNameFirst" value="true" />
		<property name="separator" value=":" />
	</bean>

	<bean id="csmExtentIdGenerator"
		class="gov.nih.nci.security.acegi.csm.authorization.BasicCSMObjectIdGenerator" />

	<bean id="daoSecurityTemplate" abstract="true">

		<property name="authenticationManager" ref="authenticationManager"/>

	</bean>


	<bean id="commonAuthorizationChecks"
		class="org.springframework.beans.factory.config.ListFactoryBean">
		<property name="sourceList">
			<list>
				<bean
					class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
					<property name="csmAuthorizationManager"
						ref="csmAuthorizationManager" />
					<property name="requiredPermission" value="READ" />
					<property name="objectIdGenerator"
						ref="csmExtentIdGenerator" />
				</bean>
				<bean
					class="gov.nih.nci.security.acegi.csm.authorization.CSMUserAuthorizationCheck">
					<property name="csmAuthorizationManager"
						ref="csmAuthorizationManager" />
					<property name="requiredPermission" value="READ" />
					<property name="objectIdGenerator"
						ref="csmObjectIdGenerator" />
				</bean>
				<bean
					class="gov.nih.nci.security.acegi.csm.authorization.CSMOwnershipAuthorizationCheck">
					<property name="csmAuthorizationManager"
						ref="csmAuthorizationManager" />
					<property name="objectIdGenerator"
						ref="csmObjectIdGenerator" />
				</bean>

			</list>
		</property>
	</bean>



</beans>