<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the DAOs
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    >

    <!-- HIBERNATE CONFIGURATION -->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" autowire="byName">
        <property name="mappingLocations">
            <list>
                <value>classpath:gov/nih/nci/cabig/caaers/domain/hibernate/typedefs.hbm.xml</value>
            </list>
        </property>
        <property name="namingStrategy">
            <bean class="gov.nih.nci.cabig.caaers.tools.hibernate.WonderfulNamingStrategy"/>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>gov.nih.nci.cabig.caaers.domain.AdverseEvent</value>
                <value>gov.nih.nci.cabig.caaers.domain.Participant</value>
                <value>gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment</value>
                <value>gov.nih.nci.cabig.caaers.domain.Study</value>
                <value>gov.nih.nci.cabig.caaers.domain.Site</value>
                <value>gov.nih.nci.cabig.caaers.domain.StudySite</value>
                <value>gov.nih.nci.cabig.caaers.domain.Ctc</value>
                <value>gov.nih.nci.cabig.caaers.domain.CtcCategory</value>
                <value>gov.nih.nci.cabig.caaers.domain.CtcTerm</value>
                 <value>gov.nih.nci.cabig.caaers.domain.Identifier</value>
                <value>gov.nih.nci.cabig.caaers.domain.AdverseEventReport</value>
                <value>gov.nih.nci.cabig.caaers.domain.Lab</value>
            </list>
        </property>
    </bean>

    <bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.dialect">${datasource.dialect}</prop>
                <prop key="hibernate.query.substitutions">true 1, false 0, yes 'Y', no 'N'</prop>
                <prop key="hibernate.jdbc.batch_size">30</prop>
            </props>
        </property>
    </bean>

    <bean id="openSessionInViewInterceptor" class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor" autowire="byName">
        <property name="singleSession"><value>true</value></property>
        <property name="flushModeName"><value>FLUSH_AUTO</value></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" autowire="byName"/>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="checkWriteOperations"><value>true</value></property>
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <bean id="daoTemplate" abstract="true">
        <property name="hibernateTemplate"><ref local="hibernateTemplate"/></property>
    </bean>

    <!--- ACTUAL DAOS -->

    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="adverseEventDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.AdverseEventDao"/>
    <bean id="adverseEventReportDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.AdverseEventReportDao"/>
    <bean id="participantDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.ParticipantDao"/>
    <bean id="studyParticipantAssignmentDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.StudyParticipantAssignmentDao"/>
    <bean id="studySiteDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.StudySiteDao"/>
    <bean id="siteDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.SiteDao"/>
    <bean id="studyDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.StudyDao"/>

    <bean id="ctcDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.CtcDao"/>
    <bean id="ctcTermDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.CtcTermDao"/>
    
   <!-- ACTUAL SERVICE LAYER -->
   
   <bean id="studyService" lazy-init="true" class="gov.nih.nci.cabig.caaers.service.StudyServiceImpl" autowire="byName" />
   <bean id="participantService" lazy-init="true" class="gov.nih.nci.cabig.caaers.service.ParticipantServiceImpl" autowire="byName" />
   
</beans>