<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the concrete services
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    >

    <tx:annotation-driven proxy-target-class="true"/>

    <!-- ACTUAL SERVICE LAYER -->
    
    <bean id="studyService" autowire="byType"
          class="gov.nih.nci.cabig.caaers.service.StudyServiceImpl"/>
    <bean id="participantService" autowire="byType"
          class="gov.nih.nci.cabig.caaers.service.ParticipantServiceImpl"/>
    <bean id="interoperationService" autowire="byType"
          class="gov.nih.nci.cabig.caaers.service.MockInteroperationService"/>

</beans>