<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
    <bean id="configurationProperty" class="gov.nih.nci.cabig.caaers.utils.ConfigProperty">
        <property name="map">
            <map>       
              <entry key="monitorCodeRefData">
                    <list>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Cancer Therapy Evaluation Program" />
                            <property name="desc" value="Cancer Therapy Evaluation Program" />
                        </bean>                      
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                        	<property name="code" value="CTEP - Clinical Data Update System Complete" />
                            <property name="desc" value="CTEP - Clinical Data Update System Complete" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                        	<property name="code" value="CTEP - Clinical Data Update System Abbreviated" />
                            <property name="desc" value="CTEP - Clinical Data Update System Abbreviated" />
                        </bean>
                        </list>
                </entry>
                <entry key="diseaseCodeRefData">
                    <list>
                      	<bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="AIDS" />
                            <property name="desc" value="AIDS" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Benign" />
                            <property name="desc" value="Benign" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Cancer" />
                            <property name="desc" value="Cancer" />
                        </bean>
                     </list>
                </entry>                 
                <entry key="statusRefData">
                    <list>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Active - Trial is open to accrual" />
                            <property name="desc" value="Active - Trial is open to accrual" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Administratively Complete" />
                            <property name="desc" value="Administratively Complete" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Approved - Trial has official CTEP approval" />
                            <property name="desc" value="Approved - Trial has official CTEP approval" />
 			           </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Closed to Accrual &amp; Treatment" />
                            <property name="desc" value="Closed to Accrual &amp; Treatment" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                         	 <property name="code" value="Closed to Accrual" />
                             <property name="desc" value="Closed to Accrual" />
                         </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                         	<property name="code" value="Temporarily Closed to Accrual &amp; Treatment" />
                            <property name="desc" value="Temporarily Closed to Accrual &amp; Treatment" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                         	<property name="code" value="Temporarily Closed to Accrual" />
                            <property name="desc" value="Temporarily Closed to Accrual" />
                        </bean>
                    </list>
                </entry>
                <entry key="phaseCodeRefData">
                    <list>
	                    <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="--please select--" />
                            <property name="desc" value="--please select--" />
                        </bean>
                   		<bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="0" />
                            <property name="desc" value="0" />
                        </bean>
                   		<bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="I" />
                            <property name="desc" value="I" />
                        </bean>
                         <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="I/II" />
                            <property name="desc" value="I/II" />
                        </bean>
                         <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="II" />
                            <property name="desc" value="II" />
                        </bean>
                         <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="III" />
                            <property name="desc" value="III" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="IV" />
                            <property name="desc" value="IV" />
                        </bean> 
                         <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Pilot" />
                            <property name="desc" value="Pilot" />
                        </bean>                      
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Other" />
                            <property name="desc" value="Other" />
                        </bean>                      
                        
                    </list>
                </entry>
                <entry key="typeRefData">
                    <list>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Diagnostic" />
                            <property name="desc" value="Diagnostic" />
                         </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Genetic Non-therapeutic" />
                            <property name="desc" value="Genetic Non-therapeutic" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Genetic Therapeutic" />
                            <property name="desc" value="Genetic Therapeutic" />  
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Primary Treatment" />
                            <property name="desc" value="Primary Treatment" />  
                         </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Supportive" />
                            <property name="desc" value="Supportive" />  
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Preventive" />
                            <property name="desc" value="Preventive" />  
                        </bean>
                    </list>
                </entry>
                <entry key="sponsorCodeRefData">
                    <list>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="--please select--" />
                            <property name="desc" value="--please select--" />
                        </bean>
                    
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="National Cancer Institute" />
                            <property name="desc" value="National Cancer Institute" />  
                        </bean>
                    </list>
                </entry>
                
                  <!-- codes for Identifiers -->                                    
                <entry key="identifiersType">
                    <list>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Protocol Authority Identifier" />
                            <property name="desc" value="Protocol Authority Identifier" />
                        </bean>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Co-ordinating Center Identifier" />
                            <property name="desc" value="Co-ordinating Center Identifier" />
 			           </bean>
                       <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Site Identifier" />
                            <property name="desc" value="Site Identifier" />
                       </bean>
                       <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Site IRB Identifier" />
                            <property name="desc" value="Site IRB Identifier" />
                       </bean>                        
                       <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="ClinicalTrails.gov Identifier" />
                            <property name="desc" value="ClinicalTrails.gov Identifier" />
                       </bean>                        
                       <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Grid Identifier" />
                            <property name="desc" value="Grid Identifier" />
                       </bean>                        
                       <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="C3D Identifier" />
                            <property name="desc" value="C3D Identifier" />
                       </bean>                        
                    </list>
                </entry>      
                
                <!-- codes for Study Site -->
                
                <entry key="studySiteStatusRefData">
                    <list>
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Active" />
                            <property name="desc" value="Active" />
                        </bean>                       
                        <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Closed" />
                            <property name="desc" value="Closed" />
                        </bean>                       
                    </list>
                </entry>
                <entry key="studySiteRoleCodeRefData">
                    <list>
                       <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Site" />
                            <property name="desc" value="Site" />
                        </bean>    
                      	<bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Coordinating Center" />
                            <property name="desc" value="Coordinating Center" />
                        </bean>                                           
                     </list>
                </entry>                           
                
                 <entry key="invRoleCodeRefData">
                    <list>
                       <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Principal Investigator" />
                            <property name="desc" value="Principal Investigator" />
                        </bean>    
                      	<bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Co-Investigator" />
                            <property name="desc" value="Co-Investigator" />
                        </bean>                                           
                     </list>
                </entry>                                           
                
                <entry key="invStatusCodeRefData">
                    <list>
                       <bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Active" />
                            <property name="desc" value="Active" />
                        </bean>    
                      	<bean class="gov.nih.nci.cabig.caaers.utils.Lov">
                            <property name="code" value="Inactive" />
                            <property name="desc" value="Inactive" />
                        </bean>                                           
                     </list>
                </entry>                                           
                
            </map>
        </property>                      
    </bean>
</beans>
