<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
    This applicationContext contains configuration for Spring itself
-->

<beans>
    <bean id="mainPropertyConfigurer" class="gov.nih.nci.cabig.caaers.tools.spring.PropertyPlaceholderConfigurer">
        <property name="properties">
            <bean class="gov.nih.nci.cabig.caaers.tools.DataSourceSelfDiscoveringPropertiesFactoryBean">
                <property name="databaseConfigurationName"><value>${databaseConfigurationName}</value></property>
            </bean>
        </property>
        <!-- have to use a separate prefix/suffix to avoid maven filtering in everything
             at build time -->
        <property name="placeholderPrefix"><value>s[</value></property>
        <property name="placeholderSuffix"><value>]</value></property>
        <property name="useNullForUnresolvablePlaceholders"><value>true</value></property>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
</beans>
