<?xml version="1.0" encoding="UTF-8"?>
<!--
This applicationContext contains the definition aspectJ logging related beans
-->

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
        default-lazy-init="false">
        
 	<bean id="caaersLoggingAspect" class="gov.nih.nci.cabig.caaers.tools.logging.CaaersLoggingAspect" factory-method="aspectOf" /> 
   
</beans>
