<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="authorizationSwitch"
		class="gov.nih.nci.security.acegi.csm.authorization.AuthorizationSwitch">
		<property name="on" value="false" />
	</bean>


	<bean id="csmApplicationContextName" class="java.lang.String">
		<constructor-arg value="caaers" />
	</bean>


	<bean id="csmAuthorizationDao"
		class="gov.nih.nci.security.dao.DIAuthorizationDao"
		init-method="init">
		<property name="sessionFactory">
			<bean
				class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
				<property name="dataSource" ref="dataSource" />
				<property name="mappingResources">
					<list>
						<value>
							gov/nih/nci/security/authorization/domainobjects/Privilege.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/authorization/domainobjects/Application.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/authorization/domainobjects/Role.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/dao/hibernate/RolePrivilege.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/dao/hibernate/UserGroup.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/dao/hibernate/ProtectionGroupProtectionElement.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/authorization/domainobjects/Group.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/authorization/domainobjects/User.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/authorization/domainobjects/ProtectionGroup.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/authorization/domainobjects/ProtectionElement.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/authorization/domainobjects/UserGroupRoleProtectionGroup.hbm.xml
						</value>
						<value>
							gov/nih/nci/security/authorization/domainobjects/UserProtectionElement.hbm.xml
						</value>
					</list>
				</property>
				<property name="hibernateProperties">
					<bean
						class="gov.nih.nci.cabig.caaers.tools.spring.HibernatePropertiesFactoryBean">
						<property name="dialectName">
							<value>s[hibernate.dialect]</value>
						</property>
						<property name="properties">
							<props>
								<!-- 
									<prop key="hibernate.show_sql">
									true
									</prop>
									<prop key="hibernate.format_sql">
									true
									</prop>
								-->
								<prop
									key="hibernate.connection.release_mode">
									after_transaction
								</prop>

							</props>
						</property>
					</bean>
				</property>
			</bean>
		</property>
		<property name="applicationContextName"
			ref="csmApplicationContextName" />
	</bean>

	<bean id="csmUserProvisioningManager"
		class="gov.nih.nci.security.provisioning.UserProvisioningManagerImpl">
		<property name="authorizationDAO" ref="csmAuthorizationDao" />
	</bean>

	<bean id="csmAuthenticationManager"
		class="gov.nih.nci.security.SecurityServiceProvider"
		factory-method="getAuthenticationManager">
		<constructor-arg ref="csmApplicationContextName" />
	</bean>

	<bean id="csmObjectIdGenerator"
		class="gov.nih.nci.security.acegi.csm.authorization.BasicCSMObjectIdGenerator">
		<property name="idMethodName" value="getId" />
		<property name="classNameFirst" value="true" />
		<property name="separator" value=":" />
	</bean>

	<bean id="csmExtentIdGenerator"
		class="gov.nih.nci.security.acegi.csm.authorization.BasicCSMObjectIdGenerator" />

	<aop:aspectj-autoproxy />
	<aop:spring-configured />

	<aop:config>
		<!-- pointcuts -->
		<aop:pointcut id="daoSaveOrUpdatePointcut"
			expression="execution(public void gov.nih.nci.cabig.caaers.dao.CaaersDao+.save(gov.nih.nci.cabig.caaers.domain.AbstractDomainObject+)) || execution(public void gov.nih.nci.cabig.caaers.dao.CaaersDao+.merge(gov.nih.nci.cabig.caaers.domain.AbstractDomainObject+))" />


		<!-- advisors -->


		<!-- aspects -->
		<!-- 
			<aop:aspect id="assignDomainObjectOwnershipAspect"
			ref="assignDomainObjectOwnershipBean">
			<aop:after-returning 
			pointcut-ref="daoSaveOrUpdatePointcut"
			method="assignOwner"
			returning="domainObject" />
			</aop:aspect>
		-->

		<aop:aspect id="studySecurityInterceptorAspect"
			ref="studySecurityInterceptorAspectBean">
			<aop:around pointcut-ref="daoSaveOrUpdatePointcut"
				method="advise" />
		</aop:aspect>
		<aop:aspect id="participantSecurityInterceptorAspect"
			ref="participantSecurityInterceptorAspectBean">
			<aop:around pointcut-ref="daoSaveOrUpdatePointcut"
				method="advise" />
		</aop:aspect>
		<aop:aspect id="adverseEventReportSecurityInterceptorAspect"
			ref="adverseEventReportSecurityInterceptorAspectBean">
			<aop:around pointcut-ref="daoSaveOrUpdatePointcut"
				method="advise" />
		</aop:aspect>


	</aop:config>

	<!-- 
		<bean id="assignDomainObjectOwnershipBean" class="gov.nih.nci.cabig.caaers.security.CaaersDomainObjectOwnershipAssigner">
		<property name="csmAuthorizationManager" ref="csmUserProvisioningManager"/>
		</bean>
	-->


	<bean id="studySecurityInterceptorAspectBean"
		class="gov.nih.nci.security.acegi.csm.aop.SecurityInterceptorAspect">
		<property name="securityInterceptor" ref="studyDaoSecurity" />
	</bean>

	<bean id="participantSecurityInterceptorAspectBean"
		class="gov.nih.nci.security.acegi.csm.aop.SecurityInterceptorAspect">
		<property name="securityInterceptor"
			ref="participantDaoSecurity" />
	</bean>
	
	<bean id="adverseEventReportSecurityInterceptorAspectBean"
		class="gov.nih.nci.security.acegi.csm.aop.SecurityInterceptorAspect">
		<property name="securityInterceptor"
			ref="adverseEventReportDaoSecurity" />
	</bean>


	<bean id="daoSecurityTemplate" abstract="true">

		<property name="authenticationManager"
			ref="authenticationManager" />

	</bean>

	<bean id="studyDaoSecurity" parent="daoSecurityTemplate"
		class="org.acegisecurity.intercept.method.aspectj.AspectJSecurityInterceptor">
		<property name="objectDefinitionSource">

			<value>
				gov.nih.nci.cabig.caaers.dao.StudyDao.save=CSM_STUDY_CREATE
				gov.nih.nci.cabig.caaers.dao.StudyDao.merge=CSM_STUDY_UPDATE
			</value>
			<!-- 
				<value>
				gov.nih.nci.cabig.caaers.dao.StudyDao.save=ROLE_caaers_super_user,ROLE_caaers_study_cd
				gov.nih.nci.cabig.caaers.dao.StudyDao.merge=ROLE_caaers_super_user,ROLE_caaers_study_cd
				</value>
			-->
		</property>
		<property name="accessDecisionManager">

			<bean class="org.acegisecurity.vote.AffirmativeBased">
				<property name="allowIfAllAbstainDecisions">
					<value>false</value>
				</property>
				<property name="decisionVoters">
					<list>

						<bean
							class="gov.nih.nci.security.acegi.csm.vote.AuthorizationSwitchVoter">
							<property name="authorizationSwitch"
								ref="authorizationSwitch" />
						</bean>
						<!-- 
							<bean class="org.acegisecurity.vote.RoleVoter" />
						-->

						<bean
							class="gov.nih.nci.security.acegi.csm.vote.CSMBasicAccessDecisionVoter">

							<property name="processDomainObjectClass"
								value="gov.nih.nci.cabig.caaers.domain.Study" />
							<property name="processConfigAttribute"
								value="CSM_STUDY_CREATE" />
							<property name="authorizationCheck">
								<bean
									class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
									<property
										name="csmUserProvisioningManager"
										ref="csmUserProvisioningManager" />
									<property name="requiredPermission"
										value="CREATE" />
									<property name="objectIdGenerator"
										ref="csmExtentIdGenerator" />
								</bean>
							</property>

						</bean>
						<bean
							class="gov.nih.nci.security.acegi.csm.vote.CSMBasicAccessDecisionVoter">

							<property name="processDomainObjectClass"
								value="gov.nih.nci.cabig.caaers.domain.Study" />
							<property name="processConfigAttribute"
								value="CSM_STUDY_UPDATE" />
							<property name="authorizationCheck">
								<bean
									class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
									<property
										name="csmUserProvisioningManager"
										ref="csmUserProvisioningManager" />
									<property name="requiredPermission"
										value="UPDATE" />
									<property name="objectIdGenerator"
										ref="csmExtentIdGenerator" />
								</bean>
							</property>
						</bean>

					</list>
				</property>
			</bean>
		</property>
	</bean>


	<bean id="participantDaoSecurity" parent="daoSecurityTemplate"
		class="org.acegisecurity.intercept.method.aspectj.AspectJSecurityInterceptor">
		<property name="objectDefinitionSource">
			<value>
				gov.nih.nci.cabig.caaers.dao.ParticipantDao.save=CSM_PARTICIPANT_CREATE,CSM_PARTICIPANT_UPDATE
				gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment.setParticipant=CSM_PARTICIPANT_CREATE,CSM_PARTICIPANT_UPDATE
			</value>
			<!-- 
			<value>
				gov.nih.nci.cabig.caaers.dao.ParticipantDao.save=ROLE_caaers_super_user,ROLE_caaers_participant_cd
				gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment.setParticipant=ROLE_caaers_super_user,ROLE_caaers_participant_cd
				gov.nih.nci.cabig.caaers.dao.AdverseEventReportDao.save=ROLE_caaers_super_user,ROLE_caaers_participant_cd
			</value>
			 -->
		</property>
		<property name="accessDecisionManager">
			<bean class="org.acegisecurity.vote.AffirmativeBased">
				<property name="allowIfAllAbstainDecisions">
					<value>false</value>
				</property>
				<property name="decisionVoters">
					<list>
						<bean
							class="gov.nih.nci.security.acegi.csm.vote.AuthorizationSwitchVoter">
							<property name="authorizationSwitch"
								ref="authorizationSwitch" />
						</bean>
						
						<!-- 
						<bean class="org.acegisecurity.vote.RoleVoter" />
						 -->
						
						<bean
							class="gov.nih.nci.security.acegi.csm.vote.CSMBasicAccessDecisionVoter">

							<property name="processDomainObjectClass"
								value="gov.nih.nci.cabig.caaers.domain.Participant" />
							<property name="processConfigAttribute"
								value="CSM_PARTICIPANT_CREATE" />
							<property name="authorizationCheck">
								<bean
									class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
									<property
										name="csmUserProvisioningManager"
										ref="csmUserProvisioningManager" />
									<property name="requiredPermission"
										value="CREATE" />
									<property name="objectIdGenerator"
										ref="csmExtentIdGenerator" />
								</bean>
							</property>

						</bean>
						<bean
							class="gov.nih.nci.security.acegi.csm.vote.CSMBasicAccessDecisionVoter">

							<property name="processDomainObjectClass"
								value="gov.nih.nci.cabig.caaers.domain.Participant" />
							<property name="processConfigAttribute"
								value="CSM_PARTICIPANT_UPDATE" />
							<property name="authorizationCheck">
								<bean
									class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
									<property
										name="csmUserProvisioningManager"
										ref="csmUserProvisioningManager" />
									<property name="requiredPermission"
										value="UPDATE" />
									<property name="objectIdGenerator"
										ref="csmExtentIdGenerator" />
								</bean>
							</property>
						</bean>						
					</list>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="adverseEventReportDaoSecurity" parent="daoSecurityTemplate"
		class="org.acegisecurity.intercept.method.aspectj.AspectJSecurityInterceptor">
		<property name="objectDefinitionSource">
			<value>
				gov.nih.nci.cabig.caaers.dao.AdverseEventReportDao.save=CSM_AE_REPORT_CREATE,CSM_AE_REPORT_UPDATE
			</value>

		</property>
		<property name="accessDecisionManager">
			<bean class="org.acegisecurity.vote.AffirmativeBased">
				<property name="allowIfAllAbstainDecisions">
					<value>false</value>
				</property>
				<property name="decisionVoters">
					<list>

						<bean
						
							class="gov.nih.nci.security.acegi.csm.vote.AuthorizationSwitchVoter">
							<property name="authorizationSwitch"
								ref="authorizationSwitch" />
						</bean>

						<bean
							class="gov.nih.nci.security.acegi.csm.vote.CSMBasicAccessDecisionVoter">

							<property name="processDomainObjectClass"
								value="gov.nih.nci.cabig.caaers.domain.AdverseEventReport" />
							<property name="processConfigAttribute"
								value="CSM_AE_REPORT_CREATE" />
							<property name="authorizationCheck">
								<bean
									class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
									<property
										name="csmUserProvisioningManager"
										ref="csmUserProvisioningManager" />
									<property name="requiredPermission"
										value="CREATE" />
									<property name="objectIdGenerator"
										ref="csmExtentIdGenerator" />
								</bean>
							</property>

						</bean>
						<bean
							class="gov.nih.nci.security.acegi.csm.vote.CSMBasicAccessDecisionVoter">

							<property name="processDomainObjectClass"
								value="gov.nih.nci.cabig.caaers.domain.AdverseEventReport" />
							<property name="processConfigAttribute"
								value="CSM_AE_REPORT_UPDATE" />
							<property name="authorizationCheck">
								<bean
									class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
									<property
										name="csmUserProvisioningManager"
										ref="csmUserProvisioningManager" />
									<property name="requiredPermission"
										value="UPDATE" />
									<property name="objectIdGenerator"
										ref="csmExtentIdGenerator" />
								</bean>
							</property>
						</bean>						

					</list>
				</property>
			</bean>
		</property>
	</bean>	

	<bean id="studyParticipantAssignmentAspect"
		class="gov.nih.nci.cabig.caaers.security.StudyParticipantAssignmentAspect"
		factory-method="aspectOf">

		<property name="securityInterceptor"
			ref="participantDaoSecurity" />

	</bean>

</beans>