<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true">
   	<!--  
   		The workflow definition for Routine Flow 
   	-->
	<bean id="reportingperiod_coordinatingcenter" class="org.springmodules.workflow.jbpm31.definition.ProcessDefinitionFactoryBean">
        <property name="definitionLocation" value="classpath:/workflow/reporting/reportingperiod_coordinatingcenter/processdefinition.xml"/>
    </bean>
    
    <!--  Workflow definition for expedited flow -->
	<bean id="expedited_domestic" class="org.springmodules.workflow.jbpm31.definition.ProcessDefinitionFactoryBean" depends-on="reportingperiod_coordinatingcenter">
        <property name="definitionLocation" value="classpath:/workflow/reporting/expedited_domestic/processdefinition.xml"/>
    </bean>
        
	 <bean id="jbpmConfiguration" class="org.springmodules.workflow.jbpm31.LocalJbpmConfigurationFactoryBean" depends-on="expedited_domestic">
	 
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="configuration" value="classpath:/jbpm.cfg.xml"/>
        
       <property name="processDefinitions">
            <list>
                <ref local="reportingperiod_coordinatingcenter"/>
                <ref local="expedited_domestic"/>
            </list>
        </property>
        
        <property name="createSchema" value="false"/>
        
    </bean>
    
     <bean id="jbpmTemplate" class="org.springmodules.workflow.jbpm31.JbpmTemplate">
    			<constructor-arg index="0" ref="jbpmConfiguration" />
	</bean> 
	
   <bean id="nodeSkipActionHandler" class="gov.nih.nci.cabig.caaers.workflow.handler.NodeSkipActionHandler">
   		<property name="workflowService" ref="workflowService"/>
   </bean>
   <bean id="taskCloseActionHandler" class="gov.nih.nci.cabig.caaers.workflow.handler.TaskCloseActionHandler">
   		<property name="workflowService" ref="workflowService"/>
   </bean>
   <bean id="physicianReviewActionHandler" class="gov.nih.nci.cabig.caaers.workflow.handler.PhysicianReviewActionHandler">
	   <property name="expeditedAdverseEventReportDao" ref="expeditedAdverseEventReportDao"></property>
   </bean>
   <bean id="workflowService" class="gov.nih.nci.cabig.caaers.service.workflow.WorkflowServiceImpl" depends-on="expedited_domestic">
        <property name="jbpmTemplate" ref="jbpmTemplate"/>
         <property name="processDefinitions">
            <list>
                <ref local="reportingperiod_coordinatingcenter"/>
                <ref local="expedited_domestic"/>
            </list>
        </property>
        <property name="caaersJavaMailSender" ref="mailer"/>
        <property name="possibleTransitionsResolver" ref="possibleTransitionsResolver"/>
        <property name="workflowConfigDao" ref="workflowConfigDao"/>
        <property name="expeditedAdverseEventReportDao" ref="expeditedAdverseEventReportDao" />
        <property name="adverseEventReportingPeriodDao" ref="adverseEventReportingPeriodDao" />
        <property name="csmUserRepository" ref="csmUserRepository" />
        <property name="freeMarkerService" ref="freeMarkerService" />
        <property name="configuration" ref="configuration" />
        <property name="studyDao" ref="studyDao" />
   </bean>
   
   <bean id="possibleTransitionsResolver" class="gov.nih.nci.cabig.caaers.workflow.PossibleTransitionsResolver"/>
    

	  
</beans>