<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the DAOs
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
    >

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" autowire="byName"/>

    <bean id="MedDRADao" class="gov.nih.nci.cabig.caaers.dao.MedDRADao">
        <property name="jdbcTemplate"><ref bean="jdbcTemplate"/></property>
    </bean>

    <!-- HIBERNATE CONFIGURATION -->
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" autowire="byName">
        <property name="mappingLocations">
            <list>
                <value>classpath:gov/nih/nci/cabig/caaers/domain/hibernate/typedefs.hbm.xml</value>
            </list>
        </property>
        <property name="namingStrategy">
            <bean class="gov.nih.nci.cabig.caaers.tools.hibernate.WonderfulNamingStrategy"/>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>gov.nih.nci.cabig.caaers.domain.AdverseEvent</value>
                <value>gov.nih.nci.cabig.caaers.domain.Participant</value>
                <value>gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment</value>
                <value>gov.nih.nci.cabig.caaers.domain.Study</value>
                <value>gov.nih.nci.cabig.caaers.domain.Site</value>
                <value>gov.nih.nci.cabig.caaers.domain.StudySite</value>
                <value>gov.nih.nci.cabig.caaers.domain.Ctc</value>
                <value>gov.nih.nci.cabig.caaers.domain.CtcCategory</value>
                <value>gov.nih.nci.cabig.caaers.domain.CtcTerm</value>
                <value>gov.nih.nci.cabig.caaers.domain.CtcGrade</value>
                <value>gov.nih.nci.cabig.caaers.domain.Identifier</value>
                <value>gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport</value>
                <value>gov.nih.nci.cabig.caaers.domain.RoutineAdverseEventReport</value>
                <value>gov.nih.nci.cabig.caaers.domain.Lab</value>
                <value>gov.nih.nci.cabig.caaers.domain.Agent</value>
                <value>gov.nih.nci.cabig.caaers.domain.StudyAgent</value>
                <value>gov.nih.nci.cabig.caaers.domain.Participation</value>
                <value>gov.nih.nci.cabig.caaers.domain.AbstractStudyDisease</value>
                <value>gov.nih.nci.cabig.caaers.domain.CtepStudyDisease</value>
                <value>gov.nih.nci.cabig.caaers.domain.MeddraStudyDisease</value>
                <value>gov.nih.nci.cabig.caaers.domain.DiseaseCategory</value>
                <value>gov.nih.nci.cabig.caaers.domain.DiseaseTerm</value>
                <value>gov.nih.nci.cabig.caaers.domain.Notification</value>
                <value>gov.nih.nci.cabig.caaers.domain.Investigator</value>
                <value>gov.nih.nci.cabig.caaers.domain.SiteInvestigator</value>
                <value>gov.nih.nci.cabig.caaers.domain.StudyInvestigator</value>
                <value>gov.nih.nci.cabig.caaers.domain.ResearchStaff</value>
                <value>gov.nih.nci.cabig.caaers.domain.Person</value>
                <value>gov.nih.nci.cabig.caaers.domain.Reporter</value>
                <value>gov.nih.nci.cabig.caaers.domain.Physician</value>
                <value>gov.nih.nci.cabig.caaers.domain.DiseaseHistory</value>
                <value>gov.nih.nci.cabig.caaers.domain.AnatomicSite</value>
                <value>gov.nih.nci.cabig.caaers.domain.ParticipantHistory</value>                
                <value>gov.nih.nci.cabig.caaers.domain.MetastaticDiseaseSite</value>                
                <value>gov.nih.nci.cabig.caaers.domain.StudyPersonnel</value>
                <value>gov.nih.nci.cabig.caaers.domain.ConcomitantMedication</value>
                <value>gov.nih.nci.cabig.caaers.domain.attribution.AdverseEventAttribution</value>
                <value>gov.nih.nci.cabig.caaers.domain.attribution.ConcomitantMedicationAttribution</value>
                <value>gov.nih.nci.cabig.caaers.domain.TreatmentInformation</value>
                <value>gov.nih.nci.cabig.caaers.domain.CourseAgent</value>
                <value>gov.nih.nci.cabig.caaers.domain.OtherCause</value>
                <value>gov.nih.nci.cabig.caaers.domain.attribution.CourseAgentAttribution</value>
                <value>gov.nih.nci.cabig.caaers.domain.attribution.OtherCauseAttribution</value>
                <value>gov.nih.nci.cabig.caaers.domain.PriorTherapy</value>
                <value>gov.nih.nci.cabig.caaers.domain.AdverseEventPriorTherapy</value>
                <value>gov.nih.nci.cabig.caaers.domain.PreExistingCondition</value>
                <value>gov.nih.nci.cabig.caaers.tools.configuration.ConfigurationEntry</value>
                <value>gov.nih.nci.cabig.caaers.domain.meddra.AbstractMeddraDomainObject</value>
                <value>gov.nih.nci.cabig.caaers.domain.meddra.SystemOrganClass</value>
                <value>gov.nih.nci.cabig.caaers.domain.meddra.SystemOrganClass</value>
                <value>gov.nih.nci.cabig.caaers.domain.meddra.HighLevelGroupTerm</value>
                <value>gov.nih.nci.cabig.caaers.domain.meddra.HighLevelTerm</value>
                <value>gov.nih.nci.cabig.caaers.domain.meddra.PreferredTerm</value>
                <value>gov.nih.nci.cabig.caaers.domain.meddra.LowLevelTerm</value>
                <value>gov.nih.nci.cabig.caaers.domain.AdverseEventResponseDescription</value>
                <!-- For Rules-Scheduler-Notification 05/10/2007-->
				<value>gov.nih.nci.cabig.caaers.domain.report.ReportDefinition</value>
				<value>gov.nih.nci.cabig.caaers.domain.report.Report</value>
				<value>gov.nih.nci.cabig.caaers.domain.report.PlannedNotification</value>
				<value>gov.nih.nci.cabig.caaers.domain.report.PlannedEmailNotification</value>
				<value>gov.nih.nci.cabig.caaers.domain.report.NotificationAttachment</value>
				<value>gov.nih.nci.cabig.caaers.domain.report.Recipient</value>
				<value>gov.nih.nci.cabig.caaers.domain.report.RoleBasedRecipient</value>
				<value>gov.nih.nci.cabig.caaers.domain.report.ContactMechanismBasedRecipient</value>
				<value>gov.nih.nci.cabig.caaers.domain.report.ScheduledNotification</value>
				<value>gov.nih.nci.cabig.caaers.domain.report.ScheduledEmailNotification</value>	
            </list>
        </property>
        <property name="entityInterceptor">
            <bean class="gov.nih.nci.cabig.caaers.utils.GridIdentifierInterceptor" autowire="byName" />
        </property>
    </bean>
    
    <!-- 
    
    <bean id="gridIdentifierCreator" class="gov.nih.nci.cabig.caaers.utils.CaBigGridIdentifierCreator"> 
        <property name="handleRepositoryDir"><value>cabig</value></property>
        <property name="context"><value>urn://cabig</value></property>
    </bean>
    -->
    <bean id="gridIdentifierCreator" class="gov.nih.nci.cabig.caaers.utils.LocalGridIdentifierCreator"/>
    
    <bean id="hibernateProperties" class="gov.nih.nci.cabig.caaers.tools.spring.HibernatePropertiesFactoryBean">
        <property name="dialectName"> <value>s[hibernate.dialect]</value> </property>
        <property name="properties">
            <props>
                <prop key="hibernate.query.substitutions">true 1, false 0, yes 'Y', no 'N'</prop>
                <prop key="hibernate.jdbc.batch_size">30</prop>
            </props>
        </property>
    </bean>

    <bean id="openSessionInViewInterceptor" class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor" autowire="byName">
        <property name="singleSession"><value>true</value></property>
        <property name="flushModeName"><value>FLUSH_NEVER</value></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" autowire="byName"/>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="checkWriteOperations"><value>true</value></property>
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>

    <bean id="daoTemplate" abstract="true">
        <property name="hibernateTemplate"><ref local="hibernateTemplate"/></property>
    </bean>

    <bean id="configuration" parent="daoTemplate"
          class="gov.nih.nci.cabig.caaers.tools.configuration.Configuration"/>

    <!--- ACTUAL DAOS -->

    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="adverseEventDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.AdverseEventDao"/>
    <bean id="expeditedAdverseEventReportDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.ExpeditedAdverseEventReportDao"/>
    <bean id="routineAdverseEventReportDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.RoutineAdverseEventReportDao"/>
    <bean id="participantDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.ParticipantDao"/>
    <bean id="studyParticipantAssignmentDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.StudyParticipantAssignmentDao"/>
    <bean id="studySiteDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.StudySiteDao"/>
    <bean id="siteDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.SiteDao"/>
    <bean id="studyDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.StudyDao"/>
    <bean id="studyAgentDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.StudyAgentDao"/>
    <bean id="agentDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.AgentDao"/>
    <bean id="diseaseCategoryDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.DiseaseCategoryDao"/>
    <bean id="diseaseTermDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.DiseaseTermDao"/>

    <bean id="ctcDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.CtcDao"/>
    <bean id="ctcTermDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.CtcTermDao"/>
    <bean id="ctcCategoryDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.CtcCategoryDao"/>
    <bean id="notificationDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.NotificationDao"/>

	<bean id="researchStaffDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.ResearchStaffDao"/>
	<bean id="investigatorDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.InvestigatorDao"/>
    <bean id="siteInvestigatorDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.SiteInvestigatorDao"/>
	<bean id="reporterDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.ReporterDao"/>
	<bean id="physicianDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.PhysicianDao"/>
	<bean id="anatomicSiteDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.AnatomicSiteDao"/>
	<bean id="studyDiseaseDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.StudyDiseaseDao"/>
	<bean id="ctepStudyDiseaseDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.CtepStudyDiseaseDao"/>
	
	<bean id="priorTherapyDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.PriorTherapyDao"/>
	<bean id="lowLevelTermDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.meddra.LowLevelTermDao"/>
	
	<!--Rules/Scheduler/Notification DAOs-->
	<bean id="reportDefinitionDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.report.ReportDefinitionDao" />
	<bean id="reportDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.report.ReportDao" />
	<bean id="scheduledNotificationDao" parent="daoTemplate" class="gov.nih.nci.cabig.caaers.dao.report.ScheduledNotificationDao" />
	
</beans>
