<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	 <!-- <bean id="jbpmConfiguration" class="org.springmodules.workflow.jbpm31.LocalJbpmConfigurationFactoryBean">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="configuration" value="classpath:/jbpm.cfg.xml"/>
        
        <property name="processDefinitions">
            <list>
                <ref local="routineFlow"/>
            </list>
        </property>
        
        <property name="createSchema" value="false"/>
        
    </bean>
    
    <bean id="jbpmTemplate"	class="org.springmodules.workflow.jbpm31.JbpmTemplate">
    			<constructor-arg index="0" ref="jbpmConfiguration" />
	</bean>
	
	 <bean id="routineFlow" class="org.springmodules.workflow.jbpm31.definition.ProcessDefinitionFactoryBean">
        <property name="definitionLocation" value="classpath:/workflow/routineflow/processdefinition.xml"/>
    </bean>
	
   <bean id="workflowManagerService" class="gov.nih.nci.cabig.caaers.service.workflow.WorkflowManagerService"/> -->
    
</beans>