<?xml version="1.0" encoding="UTF-8"?>
<!--
This applicationContext contains the definition of the concrete services
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" default-lazy-init="true">
	<tx:annotation-driven proxy-target-class="true"/>
	<!-- ACTUAL SERVICE LAYER -->
	<bean id="participantImportService" class="gov.nih.nci.cabig.caaers.service.ParticipantImportServiceImpl">
		<property name="organizationDao" ref="organizationDao"/>
		<property name="participantRepository" ref="participantRepository"/>
		<property name="participantMigrator" ref="participantMigrator"/>
	</bean>
	<bean id="studyImportService" class="gov.nih.nci.cabig.caaers.service.StudyImportServiceImpl">
		<property name="studyMigrator" ref="studyMigrator"/>
		<property name="studyDao" ref="studyDao"/>
	</bean>
	<bean id="interoperationService" autowire="byType" class="gov.nih.nci.cabig.caaers.service.InteroperationServiceImpl"/>
	<bean id="adverseEventConverter" autowire="byType" class="gov.nih.nci.cabig.caaers.service.migrator.adverseevent.AdverseEventConverter"/>
	<bean id="passwordManagerService" class="gov.nih.nci.cabig.caaers.service.security.PasswordManagerServiceImpl" autowire="byName"/>
	<bean id="passwordPolicyService" class="gov.nih.nci.cabig.caaers.service.security.passwordpolicy.PasswordPolicyServiceImpl" autowire="byName"/>
	<bean id="organizationRepository" lazy-init="true" class="gov.nih.nci.cabig.caaers.domain.repository.OrganizationRepositoryImpl" autowire="byType">
		<property name="csmApplicationContextName" ref="csmApplicationContextName"/>
		<property name="siteObjectIdGenerator" ref="sitePrivilegeAndObjectIdGenerator"/>
		<property name="userProvisioningManager" ref="csmUserProvisioningManager"/>
		<property name="siteProtectionGroupId">
			<!--id for site protection group-->
			<value>-5</value>
		</property>
		<property name="siteAccessRoleId">
			<value>-14</value>
		</property>
	</bean>
	<bean id="delegatedCredentialProvider" class="gov.nih.nci.cabig.caaers.accesscontrol.SecurityContextCredentialProvider"/>
	<bean id="messageBroadcastService" lazy-init="true" class="gov.nih.nci.cabig.caaers.esb.client.impl.CaaersCaXchangeMessageBroadcastServiceImpl">
		<property name="configuration" ref="configuration"/>
		<property name="messageTypesMapping">
			<map>
				<entry key="aeNotification" value="SCHEDULE_MODIFICATION"/>
			</map>
		</property>
		<property name="delegatedCredentialProvider" ref="delegatedCredentialProvider"/>
	</bean>
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616"/>
	</bean>
	<bean id="sendQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>adeers-ae-message.inputQueue</value>
		</constructor-arg>
	</bean>
	<bean id="recvQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>adeers-ae-message.outputQueue</value>
		</constructor-arg>
	</bean>
	<bean id="messageBroadcaster" class="gov.nih.nci.cabig.caaers.esb.client.impl.CaaersAdeersMessageBroadcastServiceImpl">
		<property name="sendQueue">
			<ref bean="sendQueueDestination" />
		</property>
		<property name="recvQueue">
			<ref bean="recvQueueDestination" />
		</property>
		<property name="messageConsumer">
			<ref bean="esbMessageConsumer" />
		</property>
		<property name="configuration" ref="configuration"/>
	</bean>
	<bean id="esbMessageConsumer" class="gov.nih.nci.cabig.caaers.esb.client.ESBMessageConsumerImpl" autowire="byType"/>
	<bean id="messageNotificationService" class="gov.nih.nci.cabig.caaers.esb.client.MessageNotificationService" autowire="byType"/>
	<!-- XXX: may want to put this in a different app context -->
	<bean id="nowFactory" class="gov.nih.nci.cabig.ctms.lang.NowFactory"/>
	<!--  This bean that implements the service  -->
	<bean id="schedulerService" class="gov.nih.nci.cabig.caaers.service.SchedulerServiceImpl">
		<property name="scheduler">
			<ref bean="schedulerFactory"/>
		</property>
		<!-- The mapping is used to identify the correct job class implementation -->
		<property name="jobClassMapping">
			<map>
				<entry key="gov.nih.nci.cabig.caaers.domain.report.ScheduledEmailNotification" value="gov.nih.nci.cabig.caaers.scheduler.runtime.job.ReminderEmailJob"/>
			</map>
		</property>
		<property name="reportScheduleDao">
			<ref bean="reportDao"/>
		</property>
	</bean>
	<bean id="mailer" class="gov.nih.nci.cabig.caaers.tools.mail.CaaersJavaMailSender">
		<property name="configuration" ref="configuration"/>
	</bean>
	<!-- this is a template message that we can pre-load with default state -->
	<bean id="accountCreatedTemplateMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="${outgoing.mail.from.address}"/>
		<property name="subject" value="Account created in caAERS"/>
	</bean>
	<bean id="buildInfo" class="gov.nih.nci.cabig.ctms.tools.BuildInfo">
		<property name="applicationName">
			<value>caAERS</value>
		</property>
		<property name="versionNumber">
			<value>@project.version@</value>
		</property>
		<!-- provided by maven-buildnumber-plugin -->
		<property name="timestamp">
			<value>@buildNumber@</value>
		</property>
	</bean>
	<!--  Migrators -->
	<bean id="identifierMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.IdentifierMigrator">
		<property name="organizationDao" ref="organizationDao" />
		<property name="organizationRepository" ref="organizationRepository" />
	</bean>
	<bean id="studyTherapyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyTherapyMigrator" />
	<bean id="studyTerminologyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyTerminologyMigrator">
		<property name="meddraVersionDao" ref="meddraVersionDao" />
		<property name="ctcDao" ref="ctcDao" />
	</bean>
	<bean id="studyDiseaseTerminologyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyDiseaseTerminologyMigrator" />
	<bean id="studyOrganizationMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyOrganizationMigrator">
		<property name="researchStaffDao" ref="researchStaffDao" />
		<property name="organizationDao" ref="organizationDao" />
		<property name="siteInvestigatorDao" ref="siteInvestigatorDao" />
		<property name="organizationRepository" ref="organizationRepository" />
	</bean>
	<bean id="studyAgentMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyAgentMigrator">
		<property name="agentDao" ref="agentDao" />
		<property name="investigationalNewDrugDao" ref="investigationalNewDrugDao" />
	</bean>
	<bean id="studyDiseaseMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyDiseaseMigrator">
		<property name="diseaseTermDao" ref="diseaseTermDao" />
		<property name="lowLevelTermDao" ref="lowLevelTermDao" />
	</bean>
	<bean id="studyTreatmentMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.TreatmentAssignmentMigrator" />
	<bean id="studyEvaluationPeriodsMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyEvaluationPeriodsMigrator">
		<property name="ctcTermDao" ref="ctcTermDao" />
		<property name="lowLevelTermDao" ref="lowLevelTermDao" />
	</bean>
	<bean id="studyExpectedAEMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyExpectedAEMigrator">
		<property name="ctcTermDao" ref="ctcTermDao" />
		<property name="lowLevelTermDao" ref="lowLevelTermDao" />
	</bean>
	
	<bean id="studyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyMigrator">
		<property name="children">
			<list>
				<ref bean="studyTherapyMigrator"/>
				<ref bean="studyTerminologyMigrator"/>
				<ref bean="studyDiseaseTerminologyMigrator" />
				<ref bean="studyOrganizationMigrator" />
				<ref bean="identifierMigrator" />
				<ref bean="studyAgentMigrator"/>
				<ref bean="studyDiseaseMigrator" />
				<ref bean="studyTreatmentMigrator" />
				<ref bean="studyEvaluationPeriodsMigrator" />
				<ref bean="studyExpectedAEMigrator" />
			</list>
		</property>
	</bean>
	<bean id="studyParticipantAssignmentMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyParticipantAssignmentMigrator">
		<property name="studySiteDao" ref="studySiteDao" />
	</bean>
	<bean id="participantMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.ParticipantMigrator">
		<property name="children">
			<list>
				<ref bean="identifierMigrator" />
				<ref bean="studyParticipantAssignmentMigrator" />
			</list>
		</property>
	</bean>
	
	<bean id="studyConverter" class="gov.nih.nci.cabig.caaers.service.migrator.StudyConverter"/>	
	
	<bean id="identifierSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.IdentifierSynchronizer"/>
	<bean id="treatmentAssignmentSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.TreatmentAssignmentSynchronizer"/>
	<bean id="studyDiseasesSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyDiseasesSynchronizer"/>
	<bean id="studyOrganizationSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyOrganizationSynchronizer"/>
	<bean id="studyTherapySynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyTherapySynchronizer"/>
	<bean id="studyAgentsSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyAgentsSynchronizer"/>
	<bean id="studyEvaluationPeriodsSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyEvaluationPeriodsSynchronizer"/>
	
	<bean id="studySynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudySynchronizer">
		<property name="children">
			<list>
				<ref bean="identifierSynchronizer"/>
				<ref bean="treatmentAssignmentSynchronizer"/>
				<ref bean="studyDiseasesSynchronizer"/>
				<ref bean="studyOrganizationSynchronizer"/>
				<ref bean="studyTherapySynchronizer"/>
				<ref bean="studyAgentsSynchronizer"/>
				<ref bean="studyEvaluationPeriodsSynchronizer"/>
			</list>
		</property>
	</bean>
	
	<bean id="participantConverter" class="gov.nih.nci.cabig.caaers.service.migrator.ParticipantConverter"/>	
	
	<bean id="studyParticipantAssignmentSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyParticipantAssignmentSynchronizer"/>
	
	<bean id="participantSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.ParticipantSynchronizer">
		<property name="children">
			<list>
				<ref bean="identifierSynchronizer"/>
				<ref bean="studyParticipantAssignmentSynchronizer"/>
			</list>
		</property>
	</bean>
	
	<bean id="adverseEventQueryService" class="gov.nih.nci.cabig.caaers.api.impl.AdverseEventQueryServiceImpl">
		<property name="adverseEventDao" ref="adverseEventDao" />	
	</bean>
	
	<bean id="XLstudyImporter" class="gov.nih.nci.cabig.ctms.tools.XLstudyImporter">
        <property name="orgdao" ref="organizationDao"/>
		<property name="ctcdao" ref="ctcDao"/>
		<property name="studydao" ref="studyDao"/>
		<property name="agentdao" ref="agentDao"/>
		<property name="investigationalnewdrugdao" ref="investigationalNewDrugDao"/>
		<property name="diseasetermdao" ref="diseaseTermDao"/>
		<property name="investigatordao" ref="investigatorDao"/>
		<property name="studyImportService" ref="studyImportService"/>
		
    </bean>
    
    <bean id="ctmsCaaersResponseQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>ctms-caaers.outputQueue</value>
		</constructor-arg>
	</bean>
	<bean id="ctmsCaaersRecvQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>ctms-caaers.inputQueue</value>
		</constructor-arg>
	</bean>
    
    <bean id="ctmsCaaersMessageConsumer" class="gov.nih.nci.cabig.caaers.esb.client.impl.CtmsCaaersMessageConsumer" init-method="initialize">
        <property name="connectionFactory" ref="connectionFactory"/>
		<property name="ctmsCaaersRecvQueue" ref="ctmsCaaersRecvQueue"/>
		<property name="ctmsCaaersResponseQueue" ref="ctmsCaaersResponseQueue"/>
		<property name="studyProcessor" ref="studyProcessorImpl"/>
		<property name="participantService" ref="participantServiceImpl"/>
		<property name="investigatorMigratorService" ref="investigatorMigratorService"/>
		<property name="researchStaffMigratorService" ref="researchStaffMigratorService"/>
		<property name="configuration" ref="configuration"/>
    </bean>

	<bean id="reportDefinitionConverter" class="gov.nih.nci.cabig.caaers.service.migrator.ReportDefinitionConverter">
		<property name="organizationDao" ref="organizationDao"/>
	</bean> 
	
	<bean id="adeersReportGenerator" autowire="byType" lazy-init="true"	class="gov.nih.nci.cabig.caaers.api.AdeersReportGenerator"/>
	<bean id="reportSubmissionService" lazy-init="true" class="gov.nih.nci.cabig.caaers.service.ReportSubmissionService">
	    	<property name="caaersJavaMailSender" ref="mailer" />
	    	<property name="adeersReportGenerator" ref="adeersReportGenerator" />
	    	<property name="messageBroadcastService" ref="messageBroadcaster" />
	    	<property name="reportDao" ref="reportDao" />
	    	<property name="schedulerService" ref="schedulerService" />
	    	<property name="nowFactory" ref="nowFactory" />
	</bean>	
	<bean id="adverseEventReportSerializer" class="gov.nih.nci.cabig.caaers.api.AdverseEventReportSerializer" />
	
	<bean id="domainObjectValidator" autowire="byType" lazy-init="true"	class="gov.nih.nci.cabig.caaers.validation.validator.DomainObjectValidator"/>
	<bean id="freeMarkerService" class="gov.nih.nci.cabig.caaers.service.FreeMarkerService"/>
	
	<bean id="caaersRulesEngineService" class="gov.nih.nci.cabig.caaers.rules.business.service.CaaersRulesEngineService">
		<property name="ruleEngineService" ref="ruleEngineService"/>
		<property name="ruleAuthoringService" ref="ruleAuthoringService"/>
		<property name="repositoryService" ref="jcrService"/>
		<property name="reportDefinitionDao" ref="reportDefinitionDao"/>
		<property name="organizationDao" ref="organizationDao"/>
	</bean>
</beans>