<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- for testing, purge the log on each run -->
    <appender name="caAERSLogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="maxBackupIndex" value="40"/>
        <param name="file" value="${catalina.home}/logs/caaers.log"/>
        <param name="threshold" value="DEBUG"/>
        <param name="append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="caAERS-webapp-%d [%15t] %-5p %c %x: %m%n"/>
        </layout>
    </appender>

	<root>
	  <level value="DEBUG"/>
	  	<appender-ref ref="caAERSLogFile"/>
	</root>

	<!--
			Log Levels Reference
			TRACE
			DEBUG
			INFO
			WARN
			ERROR
			FATAL 
	 -->
</log4j:configuration>