<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- for testing, purge the log on each run -->
    <appender name="caAERSLogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="maxBackupIndex" value="20"/>
        <param name="file" value="${catalina.home}/logs/caaers.log"/>
        <param name="threshold" value="ERROR"/>
        <param name="append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="caAERS-webapp-%d [%15t] %-5p %c %x: %m%n"/>
        </layout>
    </appender>
    
    <appender name="hibernateFile" class="org.apache.log4j.RollingFileAppender">
        <param name="maxBackupIndex" value="20"/>
        <param name="file" value="${catalina.home}/logs/caaers.hibernate.log"/>
        <param name="append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d [%15t] %-5p %c %x: %m%n"/>
        </layout>
    </appender>

	<logger name="gov.nih.nci.cabig.caaers">
        <level value="ERROR"/>
        <appender-ref ref="caAERSLogFile"/>
    </logger>
	<logger name="gov.nih.nci.cabig.caaers.domain.repository">
        <level value="ERROR"/>
        <appender-ref ref="caAERSLogFile"/>
    </logger>
	<logger name="gov.nih.nci.cabig.caaers.web.listener">
        <level value="ERROR"/>
        <appender-ref ref="caAERSLogFile"/>
    </logger>
	<logger name="gov.nih.nci.cabig.caaers.accesscontrol">
        <level value="ERROR"/>
        <appender-ref ref="caAERSLogFile"/>
    </logger>    
	<logger name="gov.nih.nci.cabig.caaers.security">
        <level value="ERROR"/>
        <appender-ref ref="caAERSLogFile"/>
    </logger>
    
	<logger name="org.hibernate.SQL">
        <level value="ERROR" />
        <appender-ref ref="hibernateFile"/>
    </logger>

	<root>
	  <level value="ERROR"/>
	  	<appender-ref ref="caAERSLogFile"/>
	</root>

	<!--
			Log Levels Reference
			TRACE
			DEBUG
			INFO
			WARN
			ERROR
			FATAL 
	 -->
</log4j:configuration>