<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the default implementations
    of the public API services.
-->

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
        default-autowire="no">

    <tx:annotation-driven/>

    <bean id="ruleAuthoringService" class="com.semanticbits.rules.impl.RuleAuthoringServiceImpl">
    	<property name="ruleServiceContext" ref="ruleServiceContext" />
    </bean>

    <bean id="ruleDeploymentService" class="com.semanticbits.rules.impl.RuleDeploymentServiceImpl">
    	<property name="ruleServiceContext" ref="ruleServiceContext" />
    </bean>


    <bean id="ruleEngineService" autowire="byType" class="com.semanticbits.rules.impl.RulesEngineServiceImpl">
    	<property name="repositoryService" ref="jcrService" />
    	<property name="ruleAuthoringService" ref="ruleAuthoringService" />
    	<property name="ruleDeploymentService" ref="ruleDeploymentService" />
    </bean>

    <bean id="businessRulesExecutionService" class="com.semanticbits.rules.impl.BusinessRulesExecutionServiceImpl">
    	<property name="ruleServiceContext" ref="ruleServiceContext" />
    </bean>

    <bean id="rulesLoader" class="com.semanticbits.rules.impl.SystemRulesDeployer">
        <constructor-arg ref="ruleDeploymentService" index="0"/>
        <constructor-arg value="gov.nih.nci.cabig.caaers.rules.deploy" index="1"/>
    </bean>

	<bean id="ruleServiceContext" class="com.semanticbits.rules.impl.RuleServiceContext">
		<property name="repositoryService" ref="jcrService" />
		<property name="ruleExecutionSetRepository" ref="ruleExecutionSetRepository" />
	</bean>
	
	<bean id="ruleExecutionSetRepository" class="com.semanticbits.rules.impl.RuleExecutionSetRepositoryImpl">
		<property name="repositoryService" ref="jcrService" />
	</bean>
	
	<bean id="evaluationService" autowire="byType"
        class="gov.nih.nci.cabig.caaers.rules.business.service.EvaluationServiceImpl"/>
        
    <bean id="adverseEventEvaluationService" class="gov.nih.nci.cabig.caaers.rules.business.service.AdverseEventEvaluationServiceImpl" autowire="no">
    	<property name="caaersRulesEngineService" ref="caaersRulesEngineService" />
    	<property name="businessRulesExecutionService" ref="businessRulesExecutionService" />
    </bean>

</beans>
