<?xml version="1.0" encoding="UTF-8"?>
	<!--
		This applicationContext contains the definition aspectJ logging
		related beans
	-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-lazy-init="false">

	<bean id="jMXBeansRegistrar" class="gov.nih.nci.cabig.caaers.tools.JMXBeansRegistrar"
		lazy-init="false">
		<property name="sessionFactories">
			<list>
				<ref bean="sessionFactory" />
				<ref bean="auditSessionFactory" />
				<ref bean="csmSessionFactory" />
			</list>
		</property>
	</bean>

    <!--<bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">-->
        <!--<property name="locateExistingServerIfPossible" value="true" />-->
    <!--</bean>-->
    <!--<bean id="mbeanExporter" class="org.springframework.jmx.export.MBeanExporter">-->
        <!--<property name="assembler">-->
            <!--<bean class="org.springframework.jmx.export.assembler.MethodNameBasedMBeanInfoAssembler">-->
                <!--<property name="managedMethods">-->
                    <!--<list>-->
                        <!--<value>getLoginTimeout</value>-->
                        <!--<value>getConnectionTestQuery</value>-->
                        <!--<value>getConnectionInitSql</value>-->
                        <!--<value>getConnectionTimeout</value>-->
                        <!--<value>getValidationTimeout</value>-->
                        <!--<value>getLeakDetectionThreshold</value>-->
                        <!--<value>getDataSourceClassName</value>-->
                        <!--<value>getDataSourceJNDI</value>-->
                        <!--<value>getDriverClassName</value>-->
                        <!--<value>getIdleTimeout</value>-->
                        <!--<value>getJdbcUrl</value>-->
                        <!--<value>getMaxLifetime</value>-->
                        <!--<value>getMaximumPoolSize</value>-->
                        <!--<value>getMinimumIdle</value>-->
                        <!--<value>getPoolName</value>-->
                        <!--<value>getTransactionIsolation</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</property>-->
        <!--<property name="beans">-->
            <!--<map>-->
                <!--<entry key="dataSource:name=DataSource" value-ref="dataSource"/>-->
            <!--</map>-->
        <!--</property>-->
        <!--<property name="server" ref="mbeanServer" />-->
    <!--</bean>-->

</beans>
