<?xml version="1.0" encoding="UTF-8"?>
<!--
	This applicationContext contains the definition of the default implementations
	of the public API services.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="no">

	<tx:annotation-driven proxy-target-class="true" />
	
	<!--  This bean will clear off the files in rules workspace -->
	<bean id="repositoryCleaner" class="com.semanticbits.rules.utils.RepositoryCleaner"  >
		<constructor-arg value="s[rules.repository]"  />
	</bean>

	<bean id="jcrSessionFactory" class="org.springmodules.jcr.JcrSessionFactory">
		<property name="repository" ref="repository" />
	</bean>

	<!-- configuring a 'transient' repository (automatically starts when a session is opened 
		and shutdowns when all sessions are closed) -->

	<bean id="repository" class="org.springmodules.jcr.jackrabbit.TransientRepositoryFactoryBean" depends-on="repositoryCleaner">
		<property name="configuration"  value="s[rules.dbfile]"/>
		<property name="homeDir" value="s[rules.repository]" />
	</bean>

	<bean id="jcrTransactionManager" class="org.springmodules.jcr.jackrabbit.LocalTransactionManager">
		<property name="sessionFactory" ref="jcrSessionFactory" />
	</bean>


	<bean id="jcrTemplate" class="org.springmodules.jcr.JcrTemplate" autowire="byType">
		<property name="sessionFactory" ref="jcrSessionFactory" />
		<property name="allowCreate" value="true" />
	</bean>

	<bean id="rulesPropertiesFileLoader"
				class="com.semanticbits.rules.utils.RulesPropertiesFileLoader">
		<property name="databaseConfigurationName" value="@databaseConfigurationName@" />
		<property name="applicationDirectoryName" ref="applicationDirectoryName"/>
	</bean>
	
	
	<bean id="rulesPropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="rulesPropertiesFileLoader" />
			
		<!-- have to use a separate prefix/suffix to avoid maven filtering in everything
			at build time -->
		<property name="placeholderPrefix">
			<value>s[</value>
		</property>
		<property name="placeholderSuffix">
			<value>]</value>
		</property>
        <property name="ignoreResourceNotFound"><value>true</value></property>
        <property name="ignoreUnresolvablePlaceholders"><value>true</value></property>

	</bean>

    <bean id="ruleRepository" class="com.semanticbits.rules.impl.RuleRepositoryImpl">
        <property name="template" ref="jcrTemplate" />
    </bean>

	
</beans>