<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false"
		  destroy-method="destroy" >
 	 	<property name="waitForJobsToCompleteOnShutdown"><value>true</value></property>
 	 	<property name="autoStartup"><value>true</value></property>
 	 	<property name="startupDelay"><value>2</value></property>
		<property name="applicationContextSchedulerContextKey"><value>applicationContext</value></property>
		 <property name="overwriteExistingJobs" value="true"/>
        <property name="dataSource" ref="dataSource"/>
		<property name="quartzProperties">
			<props>
				<!-- ThreadPool -->
				<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
				<prop key="org.quartz.threadPool.threadCount">5</prop>
				<prop key="org.quartz.threadPool.threadPriority">5</prop>
				<!-- Job store -->
				<prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop>
				<prop key="org.quartz.jobStore.driverDelegateClass">s[jdbc.quartz.delegateClassName]</prop>
				<prop key="org.quartz.jobStore.useProperties">false</prop>
				<prop key="org.quartz.jobStore.selectWithLockSQL">SELECT * FROM {0}LOCKS UPDLOCK WHERE LOCK_NAME = ?</prop>
			</props>
		</property>
		<property name="jobDetails">
			<list>
			<ref bean="reportStatusResetJob" /> 
			</list>
		</property>
    	 <property name="triggers">
        	<list> 
        		<ref bean="reportStatusResetTrigger" /> 
        	</list>
     	</property>
	</bean>
	
	
	<!--  This bean that implements the service  -->
	<bean id="reportStatusResetJobTarget" class="org.springframework.scheduling.quartz.JobDetailBean">
  		<property name="jobClass" value="gov.nih.nci.cabig.caaers.scheduler.runtime.job.ReportStatusResetJob" />
  		<property name="group" value="DEFAULT"/>
  		<property name="name" value="reportStatusResetJob"/>
  	</bean>
  	
	<bean name="reportStatusResetJob" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="reportStatusResetJobTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>auditInfoPopulatorInterceptor</value>
			</list> 
		</property> 
	</bean>

	<!-- trigger every 5 minutes -->
	<bean id="reportStatusResetTrigger" class="gov.nih.nci.cabig.caaers.scheduler.runtime.trigger.ReportStatusResetTrigger">
	    <property name="jobName" value="reportStatusResetJob" />
	    <property name="jobGroup" value="DEFAULT" />
	    <property name="volatility" value="true" />
	    <property name="misfireInstruction" value="0" />
	</bean>





</beans>