<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright SemanticBits, Northwestern University and Akaza Research
  
  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/caaers/LICENSE.txt for details.
-->
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- https://github.com/brettwooldridge/HikariCP/wiki/Spring-Hibernate -->
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="poolName" value="caaersTomcatConnectionPool" />
        <property name="driverClassName" value="s[datasource.driver]" />
        <property name="jdbcUrl"  value="s[datasource.url]" />
        <property name="username" value="s[datasource.username]" />
        <property name="password"  value="s[datasource.password]" />
       <!-- <property name="connectionTestQuery" value="s[datasource.validationQuery:select release from bering_version where release = 1]" /> -->
        <property name="connectionTimeout" value="s[datasource.connectionTimeout:30000]" />
        <property name="idleTimeout" value="s[datasource.idleTimeout:300000]"/>
        <property name="initializationFailFast" value="s[datasource.initializationFailFast:true]" />
        <property name="maximumPoolSize" value="s[datasource.maximumPoolSize:30]" />
        <property name="leakDetectionThreshold" value="s[datasource.leakDetectionThreshold:60000]" />
        <property name="maxLifetime" value="s[datasource.maxLifetime:1800000]" />
        <property name="registerMbeans" value="true" />
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig" />
    </bean>


    <bean id="beringMigrator" class="edu.northwestern.bioinformatics.bering.servlet.DeployedMigrator">
        <property name="dataSource" ref="dataSource" />
    </bean>
	
</beans>
