<?xml version="1.0" encoding="UTF-8"?>
<!--
 =====================================================================================
       This XML is defined to store all the Repository
 =====================================================================================
-->
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
        default-lazy-init="true">


    <bean id="participantRepository" class="gov.nih.nci.cabig.caaers.domain.repository.ParticipantRepository">
        <property name="participantDao" ref="participantDao"></property>
    </bean>
    <bean id="studyRepository" class="gov.nih.nci.cabig.caaers.domain.repository.StudyRepository">
        <property name="studyDao" ref="studyDao"></property>
        <property name="studySiteDao" ref="studySiteDao"></property>
        <property name="researchStaffDao" ref="researchStaffDao"></property>
        <property name="siteResearchStaffDao" ref="siteResearchStaffDao"></property>
        <property name="organizationDao" ref="organizationDao"></property>
        <property name="organizationRepository" ref="organizationRepository" />
        <property name="investigatorDao" ref="investigatorDao" />
        <property name="workflowConfigDao" ref="workflowConfigDao" />
        <property name="investigationalNewDrugDao" ref="investigationalNewDrugDao" />
        <property name="caaersSecurityFacade" ref="caaersSecurityFacade"/>
        <property name="adeersIntegrationFacade" ref="proxyWebServiceFacade"/>
        <property name="eventFactory" ref="eventFactory"  />
    </bean>

    <bean id="studySearchableAjaxableDomainObjectRepository" class="gov.nih.nci.cabig.caaers.domain.repository.ajax.StudySearchableAjaxableDomainObjectRepository" parent="daoTemplate">
    	<property name="studyRepository" ref="studyRepository"></property>
    </bean>

    <bean id="participantAjaxableDomainObjectRepository" class="gov.nih.nci.cabig.caaers.domain.repository.ajax.ParticipantAjaxableDomainObjectRepository" parent="daoTemplate" />

    <bean id="studySiteAjaxableDomainObjectRepository"
          class="gov.nih.nci.cabig.caaers.domain.repository.ajax.StudySiteAjaxableDomainObjectRepository"
          parent="daoTemplate">
    </bean>


    <bean id="reportVersionRepository" class="gov.nih.nci.cabig.caaers.domain.repository.ReportVersionRepository">
        <property name="reportVersionDao" ref="reportVersionDao"/>
    </bean>


    <bean id="researchStaffRepository" class="gov.nih.nci.cabig.caaers.domain.repository.ResearchStaffRepository">
        <property name="researchStaffDao" ref="researchStaffDao"/>
        <property name="siteResearchStaffDao" ref="siteResearchStaffDao"/>
        <property name="organizationDao" ref="organizationDao"/>
        <property name="organizationRepository" ref="organizationRepository"/>
        <property name="caaersSecurityFacade" ref="caaersSecurityFacade"/>
        <property name="authenticationMode" ref="authenticationMode"/>
        <property name="researchStaffConverterDao" ref="researchStaffConverterDao"/>
        <property name="studyRepository" ref="studyRepository"/>
        <property name="coppaModeForAutoCompleters" ref="coppaModeForAutoCompleters"/>
        <property name="eventFactory" ref="eventFactory"  />
    </bean>

	<bean id="investigatorRepository" class="gov.nih.nci.cabig.caaers.domain.repository.InvestigatorRepositoryImpl">
		<property name="authenticationMode" ref="authenticationMode"/>
		<property name="caaersSecurityFacade" ref="caaersSecurityFacade"/>
		<property name="investigatorDao" ref="investigatorDao" />
		<property name="investigatorConverterDao" ref="investigatorConverterDao" />
		<property name="siteInvestigatorDao" ref="siteInvestigatorDao" />
		<property name="organizationDao" ref="organizationDao" />
		<property name="organizationRepository" ref="organizationRepository" />
         <property name="eventFactory" ref="eventFactory"  />
	</bean>

    <bean id="reportFactory" class="gov.nih.nci.cabig.caaers.domain.factory.ReportFactory">
        <property name="nowFactory" ref="nowFactory"></property>
    </bean>

    <bean id="reportRepository" class="gov.nih.nci.cabig.caaers.domain.repository.ReportRepositoryImpl">
        <property name="nowFactory" ref="nowFactory"/>
        <property name="reportDao" ref="reportDao"/>
		<property name="reportDefinitionDao" ref="reportDefinitionDao" />
        <property name="reportFactory" ref="reportFactory"/>
        <property name="schedulerService" ref="schedulerService"/>
        <property name="studyDao" ref="studyDao"/>
		<property name="reportWithdrawalService" ref="reportWithdrawalService" />
		<property name="configuration" ref="configuration" />
		<property name="adverseEventRoutingAndReviewRepository" ref="adverseEventRoutingAndReviewRepository" />
		
    </bean>

    <bean id="labLoadRepository" class="gov.nih.nci.cabig.caaers.domain.repository.LabLoadRepository">
        <property name="labLoadDao" ref="labLoadDao"></property>
    </bean>

    <bean id="adverseEventRoutingAndReviewRepository" class="gov.nih.nci.cabig.caaers.domain.repository.AdverseEventRoutingAndReviewRepositoryImpl">
    	<property name="adverseEventReportingPeriodDao" ref="adverseEventReportingPeriodDao" />
    	<property name="expeditedAdverseEventReportDao" ref="expeditedAdverseEventReportDao" />
    	<property name="workflowService" ref="workflowService" />
    	<property name="reportValidationService" ref="reportValidationService" />
    	<property name="reportDao" ref="reportDao" />
    </bean>


    <bean id="terminologyRepository" class="gov.nih.nci.cabig.caaers.domain.repository.TerminologyRepositoryImpl" autowire="byType"/>

    <bean id="deviceRepository" class="gov.nih.nci.cabig.caaers.domain.repository.DeviceRepository">
        <property name="deviceDao" ref="deviceDao"></property>
    </bean>

    <bean id="priorTherapyRepository" class="gov.nih.nci.cabig.caaers.domain.repository.PriorTherapyRepository">
        <property name="priorTherapyDao" ref="priorTherapyDao"></property>
    </bean>

    <bean id="preExistingConditionRepository" class="gov.nih.nci.cabig.caaers.domain.repository.PreExistingConditionRepository">
        <property name="preExistingConditionDao" ref="preExistingConditionDao"></property>
    </bean>

	<bean id="userRepository" class="gov.nih.nci.cabig.caaers.domain.repository.UserRepositoryImpl"
          lazy-init="true" autowire="byType">
        <property name="authenticationMode" ref="authenticationMode"/>
        <property name="mailSender" ref="mailer"/>
        <property name="userProvisioningManager" ref="csmUserProvisioningManager"/>
        <property name="userDao" ref="userDao" />
        <property name="provisioningSessionFactory" ref="provisioningSessionFactory" /> 
    </bean>

	<bean id="personRepository" class="gov.nih.nci.cabig.caaers.domain.repository.PersonRepository" lazy-init="true" autowire="byType">
        <property name="personDao" ref="personDao" />
    </bean>

 </beans>