<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the default implementations
    of the public API services.
-->

<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
        default-autowire="no">

    <tx:annotation-driven/>


    <bean id="rulesServiceProvider" class="org.drools.jsr94.rules.RuleServiceProviderImplEx" />

    <bean id="rulesAdministrator" class="org.springmodules.jsr94.factory.RuleAdministratorFactoryBean">
        <property name="serviceProvider" ref="rulesServiceProvider" />
    </bean>
    <bean id="rulesRuntime" class="org.springmodules.jsr94.factory.RuleRuntimeFactoryBean">
        <property name="serviceProvider" ref="rulesServiceProvider" />
    </bean>

    <bean id="ruleSource" class="org.drools.jsr94.rules.RuleSourceEx">
        <property name="ruleRuntime" ref="rulesRuntime" />
    </bean>
    <bean id="jsr94Template"  class="org.springmodules.jsr94.core.Jsr94Template">
        <property name="ruleSource"  ref="ruleSource" />
    </bean>

    <bean id="ruleDeploymentService" class="com.semanticbits.rules.impl.RuleDeploymentServiceImpl">
        <property name="ruleAdministrator" ref="rulesAdministrator" />
        <property name="ruleRuntime" ref="rulesRuntime" />
        <property name="ruleRepository"  ref="ruleRepository"/>
    </bean>



    <bean id="ruleEngineService" autowire="byType" class="com.semanticbits.rules.impl.RulesEngineServiceImpl">
    	<property name="ruleRepository" ref="ruleRepository" />
    	<property name="ruleDeploymentService" ref="ruleDeploymentService" />
    </bean>


    <bean id="businessRulesExecutionService" class="com.semanticbits.rules.impl.BusinessRulesExecutionServiceImpl">
        <property name="jsr94Template"  ref="jsr94Template" />
    </bean>

    <bean id="rulesLoader" class="com.semanticbits.rules.impl.SystemRulesDeployer">
        <constructor-arg ref="ruleDeploymentService" index="0"/>
        <constructor-arg value="gov.nih.nci.cabig.caaers.rules.deploy" index="1"/>
    </bean>

	<bean id="evaluationService" autowire="byType" class="gov.nih.nci.cabig.caaers.rules.business.service.EvaluationServiceImpl" />
        
    <bean id="adverseEventEvaluationService" class="gov.nih.nci.cabig.caaers.rules.business.service.AdverseEventEvaluationServiceImpl" autowire="no">
    	<property name="caaersRulesEngineService" ref="caaersRulesEngineService" />
    	<property name="businessRulesExecutionService" ref="businessRulesExecutionService" />
    </bean>

</beans>
