<?xml version="1.0" encoding="UTF-8"?>
<!--
 =====================================================================================
       This XML is defined to store all the validator beans related to core module.
 =====================================================================================
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


    <!-- validator beans starts here-->

    <bean id="uniqueNciIdentifierForOrganizationValidator" class="gov.nih.nci.cabig.caaers.validation.annotation.UniqueNciIdentifierForOrganizationValidator">
        <property name="organizationDao" ref="organizationDao"/>
        <property name="organizationRepository" ref="organizationRepository"/>
    </bean>

    <bean id="uniqueIdentifierValidator"
          class="gov.nih.nci.cabig.caaers.validation.annotation.UniqueIdentifierForParticipantValidator">
        <property name="participantDao" ref="participantDao"/>
    </bean>

    <bean id="uniqueObjectInCollectionValidator"
          class="gov.nih.nci.cabig.caaers.validation.annotation.UniqueObjectInCollectionValidator"/>

    <bean id="uniqueIdentifierForStudyValidator"
          class="gov.nih.nci.cabig.caaers.validation.annotation.UniqueIdentifierForStudyValidator">
        <property name="studyDao" ref="studyDao"/>
    </bean>

    <bean id="uniqueResearchStaffEmailAddressValidator"
          class="gov.nih.nci.cabig.caaers.validation.annotation.UniqueResearchStaffEmailAddressValidator">
        <property name="researchStaffRepository" ref="researchStaffRepository"/>
    </bean>

    <!-- validator beans end here-->
    
</beans>