<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" default-autowire="no" default-lazy-init="true" >


    <bean id="investigatorMigratorService" class="gov.nih.nci.cabig.caaers.api.impl.DefaultInvestigatorMigratorService">
        <property name="investigatorDao" ref="investigatorDao" />
        <property name="organizationDao" ref="organizationDao" />
        <property name="organizationRepository" ref="organizationRepository" />
        <property name="investigatorRepository" ref="investigatorRepository" />
    </bean>

    <bean id="researchStaffMigratorService" class="gov.nih.nci.cabig.caaers.api.impl.DefaultResearchStaffMigratorService">
        <property name="organizationDao" ref="organizationDao" />
        <property name="organizationRepository" ref="organizationRepository" />
        <property name="personRepository" ref="personRepository" />
        <property name="userRepository" ref="userRepository" />
    </bean>

    <bean id="studyProcessorImpl" class="gov.nih.nci.cabig.caaers.api.impl.StudyProcessorImpl">
        <property name="studyImportService" ref="studyImportService" />
        <property name="studyConverter" ref="studyConverter" />
        <property name="studyDao" ref="studyDao" />
        <property name="studyRepository" ref="studyRepository" />
        <property name="studySynchronizer" ref="studySynchronizer" />
        <property name="domainObjectValidator" ref="domainObjectValidator" />
        <property name="studySearchableAjaxableDomainObjectRepository" ref="studySearchableAjaxableDomainObjectRepository" />
        <property name="organizationRepository" ref="organizationRepository" />
        <property name="organizationManagementServiceImpl" ref="organizationManagementService" />
        <property name="organizationConverter" ref="organizationConverter" />
    </bean>

    <bean id="participantServiceImpl" class="gov.nih.nci.cabig.caaers.api.impl.ParticipantServiceImpl">
        <property name="participantImportServiceImpl" ref="participantImportService" />
        <property name="participantConverter" ref="participantConverter" />
        <property name="participantDao" ref="participantDao" />
        <property name="participantSynchronizer" ref="participantSynchronizer" />
        <property name="domainObjectValidator" ref="domainObjectValidator" />
        <property name="studyDao" ref="studyDao" />
        <property name="studySearchableAjaxableDomainObjectRepository" ref="studySearchableAjaxableDomainObjectRepository" />
        <property name="organizationRepository" ref="organizationRepository" />

    </bean>

    <bean id="adverseEventManagementServiceImpl" autowire="byType" class="gov.nih.nci.cabig.caaers.api.impl.AdverseEventManagementServiceImpl"/>
    
    <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory"/>
    <bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
	    <constructor-arg ref="messageFactory"/>
	    <property name="messageSender">
	        <bean class="org.springframework.ws.transport.http.CommonsHttpMessageSender">
	            <!-- <property name="credentials">
	                <bean class="org.apache.commons.httpclient.UsernamePasswordCredentials">
	                    <constructor-arg value="john"/>
	                    <constructor-arg value="secret"/>
	                </bean>
	            </property> -->
	        </bean>
	    </property>
	    <property name="defaultUri" value="https://localhost:8196/GenericProcessorService"/>
	</bean>
	
	<bean id="proxyWebServiceFacade" class="gov.nih.nci.cabig.caaers.service.ProxyWebServiceFacade">
		<property name="webServiceTemplate" ref="webServiceTemplate"/>
		<property name="studyConverter" ref="studyConverter"/>
        <property name="configuration" ref="configuration" />
        <property name="studyDao" ref="studyDao" />
        <property name="eventFactory" ref="eventFactory" />
	</bean>

</beans>