<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" default-autowire="no" default-lazy-init="true" >

<!-- Xfire Configuration-->
   
    <import resource="classpath:org/codehaus/xfire/spring/xfire.xml"/>
   
   	<bean id="jaxbTypeMappingRegistry" class="org.codehaus.xfire.jaxb2.JaxbTypeRegistry" init-method="createDefaultMappings" scope="singleton" />
	
	<bean id="webAnnotations" class="org.codehaus.xfire.annotations.jsr181.Jsr181WebAnnotations"/>

	<bean id="handlerMapping" class="org.codehaus.xfire.spring.remoting.Jsr181HandlerMapping">
	        <property name="typeMappingRegistry">
	            <ref bean="jaxbTypeMappingRegistry"/>
	        </property>
	        <property name="xfire">
	            <ref bean="xfire"/>
	        </property>
	        <property name="webAnnotations">
	            <ref bean="webAnnotations"/>
	        </property>
	 </bean>
 	 
	 <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	        <property name="urlMap">
	            <map>
	                <entry key="/">
	                    <ref bean="handlerMapping"/>
	                </entry>
	            </map>
	        </property>
    </bean>
    		
   <bean name="jaxbServiceFactory" class="org.codehaus.xfire.jaxb2.JaxbServiceFactory">
     <constructor-arg ref="xfire.transportManager"/>
   </bean> 
       
   	<bean id="investigatorMigratorService" class="gov.nih.nci.cabig.caaers.api.impl.DefaultInvestigatorMigratorService">
		<property name="investigatorDao" ref="investigatorDao" />
		<property name="organizationDao" ref="organizationDao" />
		<property name="organizationRepository" ref="organizationRepository" />
		<property name="investigatorRepository" ref="investigatorRepository" />
	</bean>
	
	<bean id="researchStaffMigratorService" class="gov.nih.nci.cabig.caaers.api.impl.DefaultResearchStaffMigratorService">
		<property name="researchStaffDao" ref="researchStaffDao" />
		<property name="organizationDao" ref="organizationDao" />	
		<property name="researchStaffRepository" ref="researchStaffRepository" />
		<property name="organizationRepository" ref="organizationRepository" />
	</bean> 
    
   <bean id="studyProcessorImpl" class="gov.nih.nci.cabig.caaers.api.impl.StudyProcessorImpl">
		<property name="studyImportService" ref="studyImportService" />
		<property name="studyConverter" ref="studyConverter" />
		<property name="studyDao" ref="studyDao" />
		<property name="studySynchronizer" ref="studySynchronizer" />
		<property name="domainObjectValidator" ref="domainObjectValidator" />
		<property name="studySearchableAjaxableDomainObjectRepository" ref="studySearchableAjaxableDomainObjectRepository" />  
		<property name="organizationRepository" ref="organizationRepository" />  
  </bean>
  
  	
   <bean id="participantServiceImpl" class="gov.nih.nci.cabig.caaers.api.impl.ParticipantServiceImpl">
   		<property name="participantImportServiceImpl" ref="participantImportService" />
		<property name="participantConverter" ref="participantConverter" />
		<property name="participantDao" ref="participantDao" />
		<property name="participantSynchronizer" ref="participantSynchronizer" />
		<property name="domainObjectValidator" ref="domainObjectValidator" />  
		<property name="studyDao" ref="studyDao" />  
		<property name="studySearchableAjaxableDomainObjectRepository" ref="studySearchableAjaxableDomainObjectRepository" />  
		<property name="organizationRepository" ref="organizationRepository" />
   </bean>

   <bean id="adverseEventManagementServiceImpl" autowire="byType" class="gov.nih.nci.cabig.caaers.api.impl.AdverseEventManagementServiceImpl"/>
   
 
     
	<bean id="domInHandler" class="org.codehaus.xfire.util.dom.DOMInHandler" />
	<bean id="validateUserTokenHandler" autowire="byType"  class="gov.nih.nci.cabig.caaers.utils.ValidateUserTokenHandler" />
    <bean id="xFireSchemaValidationHandler" class="gov.nih.nci.cabig.caaers.utils.XFireSchemaValidationHandler"/>

	<!-- caAERS Study WebService --> 
   <bean id="studyService" class="org.codehaus.xfire.spring.ServiceBean"> 
       <property name="serviceBean" ref="studyProcessorImpl"/>
       <property name="serviceFactory" ref="jaxbServiceFactory"/>
       <property name="inHandlers">
         <list>
 		   <ref bean="domInHandler"/> 
		   <ref bean="validateUserTokenHandler"/>        
           <ref bean="xFireSchemaValidationHandler"/>
         </list>
       </property>
       <property name="schemas">
       <list>
           <value>gov/nih/nci/cabig/caaers/StudySchema.xsd</value>
       	</list>
       </property>
   </bean>
   
   	<!-- caAERS Participant WebService --> 
   <bean id="participantService" class="org.codehaus.xfire.spring.ServiceBean"> 
       <property name="serviceBean" ref="participantServiceImpl"/>
       <property name="serviceFactory" ref="jaxbServiceFactory"/>
       <property name="inHandlers">
         <list>
		   <ref bean="domInHandler"/> 
		   <ref bean="validateUserTokenHandler"/>        
           <ref bean="xFireSchemaValidationHandler"/>
         </list>
       </property>
       <property name="schemas">
       <list>
           <value>gov/nih/nci/cabig/caaers/ParticipantSchema.xsd</value>
       	</list>
       </property>
   </bean>
   
    <!-- caAERS ResearchStaff WebService --> 
   <bean id="researchStaffService" class="org.codehaus.xfire.spring.ServiceBean"> 
       <property name="serviceBean" ref="researchStaffMigratorService"/>
       <property name="serviceFactory" ref="jaxbServiceFactory"/>
       <property name="inHandlers">
         <list>
           <ref bean="xFireSchemaValidationHandler"/>
         </list>
       </property>
       <property name="schemas">
       <list>
           <value>gov/nih/nci/cabig/caaers/ResearchStaff.xsd</value>
           <value>gov/nih/nci/cabig/caaers/caAERSCommonTypes.xsd</value>
       	</list>
       </property>
   </bean>
   
   <!-- caAERS Investigator WebService --> 
   <bean id="investigatorService" class="org.codehaus.xfire.spring.ServiceBean"> 
       <!-- Only need to specify these if you didn't specify them in the annotation 
       <property name="name" value="MyServiceName"/>
       <property name="namespace" value="http://myexample/namespace"/>
        -->
       <property name="serviceBean" ref="investigatorMigratorService"/>
       <property name="serviceFactory" ref="jaxbServiceFactory"/>
       <property name="inHandlers">
         <list>
           <ref bean="xFireSchemaValidationHandler"/>
         </list>
       </property>
       <property name="schemas">
       <list>
           <value>gov/nih/nci/cabig/caaers/Investigator.xsd</value>
           <value>gov/nih/nci/cabig/caaers/caAERSCommonTypes.xsd</value>
       	</list>
       </property>
   </bean>

      
   <!-- caAERS AdverseEventManagement WebService -->
   <bean id="adverseEventManagementService" class="org.codehaus.xfire.spring.ServiceBean"> 

       <property name="serviceBean" ref="adverseEventManagementServiceImpl"/>
       <property name="serviceFactory" ref="jaxbServiceFactory"/>
       <property name="inHandlers">
         <list>
		   <ref bean="domInHandler"/> 
		   <ref bean="validateUserTokenHandler"/> 
           <ref bean="xFireSchemaValidationHandler"/>           
         </list>
       </property>
       <property name="schemas">
       <list>
           <value>gov/nih/nci/cabig/caaers/ManageAdverseEventsSchema.xsd</value>
       </list>
       </property>
   </bean>   
 </beans>