<?xml version="1.0" encoding="UTF-8"?>
<!--
 =====================================================================================
       This XML is defined to store all the data migrator
 =====================================================================================
-->
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
        default-lazy-init="true">


    <bean id="userDataMigratorTarget" class="gov.nih.nci.cabig.caaers.datamigrator.UserDataMigrator">
		<property name="jdbcTemplate">
            <ref bean="jdbcTemplate"/>
        </property>
    </bean>

 	<bean id="userDataMigrator" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="userDataMigratorTarget"/></property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
			</list>
		</property>
	</bean>


    <bean id="userPrivilegeMigratorTarget" class="gov.nih.nci.cabig.caaers.datamigrator.UserPrivilegeMigrator">
		<property name="jdbcTemplate">
            <ref bean="jdbcTemplate"/>
        </property>
        <property name="userRepository" ref="userRepository" />
        <property name="authenticationMode" ref="authenticationMode" />
    </bean>

 	<bean id="userPrivilegeMigrator" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="userPrivilegeMigratorTarget"/></property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
			</list>
		</property>
	</bean>



    <bean id="medicalDeviceMigratorTarget" class="gov.nih.nci.cabig.caaers.datamigrator.MedicalDeviceDataMigrator">
		<property name="jdbcTemplate">
            <ref bean="jdbcTemplate"/>
        </property>
    </bean>

 	<bean id="medicalDeviceDataMigrator" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="medicalDeviceMigratorTarget"/></property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
			</list>
		</property>
	</bean>



    <bean id="radiationDataMigratorTarget" class="gov.nih.nci.cabig.caaers.datamigrator.RadiationMigrator">
		<property name="jdbcTemplate">
            <ref bean="jdbcTemplate"/>
        </property>
    </bean>

 	<bean id="radiationDataMigrator" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="radiationDataMigratorTarget"/></property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
			</list>
		</property>
	</bean>




    <bean id="surgeryDataMigratorTarget" class="gov.nih.nci.cabig.caaers.datamigrator.SurgeryMigrator">
		<property name="jdbcTemplate">
            <ref bean="jdbcTemplate"/>
        </property>
    </bean>

 	<bean id="surgeryDataMigrator" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="surgeryDataMigratorTarget"/></property>
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
			</list>
		</property>
	</bean>




	<bean id="caaersDataMigratorDelegate" class="gov.nih.nci.cabig.caaers.datamigrator.CaaersDataMigratorDelegate">
		<property name="migrators">
			<list>
				<ref bean="userDataMigrator"/>
                <ref bean="medicalDeviceDataMigrator"/>
                <ref bean="radiationDataMigrator"/>
                <ref bean="surgeryDataMigrator"/>
                <ref bean="userPrivilegeMigrator" />

			</list>
		</property>
    </bean>

    <!-- Context refresh event is defined here -->

	<bean id="contextRefreshEventListener" class="gov.nih.nci.cabig.caaers.event.ContextRefreshEventListener">
		<property name="caaersDataMigratorDelegate" ref="caaersDataMigratorDelegate"/>
	</bean>

</beans>