<?xml version="1.0" encoding="utf-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    >
    <bean name="expeditedReportTree" class="gov.nih.nci.cabig.caaers.domain.expeditedfields.ExpeditedReportTree">
        <constructor-arg ref="messageSource" />
    </bean>
    <bean name="caaersFieldsTree" class="gov.nih.nci.cabig.caaers.domain.expeditedfields.CaaersFieldsTree">
        <constructor-arg ref="messageSource" />
    </bean>
</beans>