<?xml version="1.0" encoding="UTF-8"?>
<!--
This applicationContext contains the definition of the concrete services
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
default-lazy-init="true">
	<tx:annotation-driven proxy-target-class="true"/>
	<!-- ACTUAL SERVICE LAYER -->
	<bean id="participantImportService" class="gov.nih.nci.cabig.caaers.service.ParticipantImportServiceImpl">
		<property name="organizationDao" ref="organizationDao"/>
		<property name="participantRepository" ref="participantRepository"/>
		<property name="participantMigrator" ref="participantMigrator"/>
	</bean>
	<bean id="organizationManagementService" class="gov.nih.nci.cabig.caaers.api.impl.OrganizationManagementServiceImpl">
		<property name="organizationDao" ref="organizationDao"/>
		<property name="organizationRepository" ref="organizationRepository"/>
		<property name="organizationMigrator" ref="organizationMigrator"/>
	</bean>
	<bean id="agentService" class="gov.nih.nci.cabig.caaers.api.impl.AgentServiceImpl">
		<property name="agentDao" ref="agentDao"/>
		<property name="agentRepository" ref="agentRepository"/>
		<property name="agentMigrator" ref="agentMigrator"/>
	</bean>
	
	<bean id="labService" class="gov.nih.nci.cabig.caaers.api.impl.LabServiceImpl">
		<property name="labCategoryDao" ref="labCategoryDao"/>
		<property name="labMigrator" ref="labMigrator"/>
	</bean>
	
	<bean id="priorTherapyManagementService" class="gov.nih.nci.cabig.caaers.api.impl.PriorTherapyManagementServiceImpl">
		<property name="priorTherapyDao" ref="priorTherapyDao"/>
        <property name="priorTherapyConverter" ref="priorTherapyConverter"   />
        <property name="priorTherapyMigrator" ref="priorTherapyMigrator" />
	</bean>
	
	<bean id="preExistingConditionLOVService" class="gov.nih.nci.cabig.caaers.api.impl.PreExistingConditionManagementServiceImpl">
		<property name="preExistingConditionDao" ref="preExistingConditionDao"/>
        <property name="preExistingConditionConverter" ref="preExistingConditionConverter"/>
        <property name="preExistingConditionMigrator"  ref="preExistingConditionMigrator" />
	</bean>
	
	<bean id="studyImportService" class="gov.nih.nci.cabig.caaers.service.StudyImportServiceImpl">
		<property name="studyMigrator" ref="studyMigrator"/>
		<property name="studyDao" ref="studyDao"/>
	</bean>

    <bean id="aeNotificationFactory" class="gov.nih.nci.cabig.caaers.domain.factory.AENotificationFactory"></bean>
    
	<bean id="interoperationService" class="gov.nih.nci.cabig.caaers.service.InteroperationServiceImpl">
		<property name="aeNotificationFactory" ref="aeNotificationFactory" />
		<property name="messageBroadcastService" ref="webSSOmessageBroadcastService" />
	</bean>
    <bean id="adverseEventReportingPeriodConverter" autowire="byType" class="gov.nih.nci.cabig.caaers.service.migrator.adverseevent.AdverseEventReportingPeriodConverter" />
    <bean id="saeAdverseEventReportingPeriodConverter" autowire="byType" class="gov.nih.nci.cabig.caaers.service.migrator.adverseevent.SAEAdverseEventReportingPeriodConverter" />
	<bean id="adverseEventConverter" autowire="byType" class="gov.nih.nci.cabig.caaers.service.migrator.adverseevent.AdverseEventConverter"/>
	<bean id="SAEEvaluationAdverseEventConverter" autowire="byType" class="gov.nih.nci.cabig.caaers.service.migrator.adverseevent.SAEEvaluationAdverseEventConverter"/>
	<bean id="passwordManagerService" class="gov.nih.nci.cabig.caaers.service.security.PasswordManagerServiceImpl" autowire="byName"/>
	<bean id="passwordPolicyService" class="gov.nih.nci.cabig.caaers.service.security.passwordpolicy.PasswordPolicyServiceImpl" autowire="byName"/>
	<bean id="organizationRepository" lazy-init="true" class="gov.nih.nci.cabig.caaers.domain.repository.OrganizationRepositoryImpl" autowire="byType">
		<property name="coppaModeForAutoCompleters" ref="coppaModeForAutoCompleters"/>
	</bean>
	<bean id="delegatedCredentialProvider" class="gov.nih.nci.cabig.caaers.accesscontrol.SecurityContextCredentialProvider"/>
	
	<bean id="webSSOmessageBroadcastService" class="gov.nih.nci.cabig.caaers.esb.client.impl.CaaersCaXchangeMessageBroadcastServiceImpl">
		<property name="messageTypesMapping">
			<map>
				<entry key="aeNotification" value="SCHEDULE_MODIFICATION"/>
			</map>
		</property>
		<property name="delegatedCredentialProvider" ref="delegatedCredentialProvider"/>
	</bean>
	
	<bean id="localmessageBroadcastService" class="gov.nih.nci.cabig.caaers.esb.client.impl.CaaersNonGridCaXchangeMessageBroadcastServiceImpl">
		<property name="clientFactory" ref="clientFactory"/>
	</bean>

    <!--

    <bean id="CTEPIAMmessageBroadcastService" class="gov.nih.nci.cabig.caaers.esb.client.impl.CaaersNonGridCaXchangeMessageBroadcastServiceImpl">
        <property name="clientFactory" ref="clientFactory"/>
    </bean>
    -->
	
	
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:61616"/>
	</bean>
	<bean id="sendQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>adeers-ae-message.inputQueue</value>
		</constructor-arg>
	</bean>
	<bean id="recvQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>adeers-ae-message.outputQueue</value>
		</constructor-arg>
	</bean>
	<bean id="messageBroadcaster" class="gov.nih.nci.cabig.caaers.esb.client.impl.CaaersAdeersMessageBroadcastServiceImpl">
		<property name="sendQueue">
			<ref bean="sendQueueDestination" />
		</property>
		<property name="recvQueue">
			<ref bean="recvQueueDestination" />
		</property>
		<property name="messageConsumer">
			<ref bean="esbMessageConsumer" />
		</property>
		<property name="configuration" ref="configuration"/>
	</bean>
	<bean id="esbMessageConsumer" class="gov.nih.nci.cabig.caaers.esb.client.ESBMessageConsumerImpl" autowire="byType"/>
	<bean id="messageNotificationServiceTarget" class="gov.nih.nci.cabig.caaers.esb.client.MessageNotificationService" autowire="byType"/>
	<bean id="messageNotificationService" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="messageNotificationServiceTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>auditInfoPopulatorInterceptor</value>
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>
	
	<bean id="nowFactory" class="gov.nih.nci.cabig.ctms.lang.NowFactory"/>
	<bean id="schedulerService" class="gov.nih.nci.cabig.caaers.service.SchedulerServiceImpl">
		<property name="scheduler">
			<ref bean="schedulerFactory"/>
		</property>
		<!-- The mapping is used to identify the correct job class implementation -->
		<property name="jobClassMapping">
			<map>
				<entry key="gov.nih.nci.cabig.caaers.domain.report.ScheduledEmailNotification" value="gov.nih.nci.cabig.caaers.scheduler.runtime.job.ReminderEmailJob"/>
			</map>
		</property>
		<property name="reportScheduleDao">
			<ref bean="reportDao"/>
		</property>
	</bean>
	
	<bean id="scheduledNotificationProcessServiceTarget" class="gov.nih.nci.cabig.caaers.service.ScheduledNotificationProcessService" autowire="byType" />
	<bean id="scheduledNotificationProcessService" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="scheduledNotificationProcessServiceTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>auditInfoPopulatorInterceptor</value>
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>
	
	<bean id="mailer" class="gov.nih.nci.cabig.caaers.tools.mail.CaaersJavaMailSender">
		<property name="configuration" ref="configuration"/>
	</bean>
	<!-- this is a template message that we can pre-load with default state -->
	<bean id="accountCreatedTemplateMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="${outgoing.mail.from.address}"/>
		<property name="subject" value="Account created in caAERS"/>
	</bean>
	<bean id="buildInfo" class="gov.nih.nci.cabig.ctms.tools.BuildInfo">
		<property name="applicationName">
			<value>caAERS</value>
		</property>
		<property name="versionNumber">
			<value>@project.version@</value>
		</property>
		<!-- provided by maven-buildnumber-plugin -->
		<property name="timestamp">
			<value>@buildNumber@</value>
		</property>
	</bean>
	<!--  Migrators -->
	<bean id="identifierMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.IdentifierMigrator">
		<property name="organizationDao" ref="organizationDao" />
		<property name="organizationRepository" ref="organizationRepository" />
	</bean>
	<bean id="studyTherapyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyTherapyMigrator" />
	<bean id="studyReportFormatTypeMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyReportFormatTypeMigrator" />
	<bean id="studyTerminologyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyTerminologyMigrator">
		<property name="meddraVersionDao" ref="meddraVersionDao" />
		<property name="ctcDao" ref="ctcDao" />
	</bean>
	<bean id="studyDiseaseTerminologyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyDiseaseTerminologyMigrator" />
	<bean id="studyOrganizationMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyOrganizationMigrator">
		<property name="siteResearchStaffDao" ref="siteResearchStaffDao" />
		<property name="organizationDao" ref="organizationDao" />
		<property name="siteInvestigatorDao" ref="siteInvestigatorDao" />
		<property name="organizationRepository" ref="organizationRepository" />
		<property name="organizationMigrator" ref="organizationMigrator" />
	</bean>
	<bean id="studyAgentMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyAgentMigrator">
		<property name="agentDao" ref="agentDao" />
		<property name="investigationalNewDrugDao" ref="investigationalNewDrugDao" />
        <property name="agentMigrator" ref="agentMigrator" />
        <property name="organizationDao" ref="organizationDao" />
	</bean>
	<bean id="studyDiseaseMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyDiseaseMigrator">
		<property name="diseaseTermDao" ref="diseaseTermDao" />
		<property name="lowLevelTermDao" ref="lowLevelTermDao" />
	</bean>
	<bean id="studyTreatmentMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.TreatmentAssignmentMigrator" />
	<bean id="studyEvaluationPeriodsMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyEvaluationPeriodsMigrator">
		<property name="ctcTermDao" ref="ctcTermDao" />
		<property name="lowLevelTermDao" ref="lowLevelTermDao" />
	</bean>
	<bean id="studyExpectedAEMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyExpectedAEMigrator">
		<property name="ctcTermDao" ref="ctcTermDao" />
		<property name="lowLevelTermDao" ref="lowLevelTermDao" />
	</bean>

	<bean id="studyDeviceMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyDeviceMigrator" autowire="byType" />
	<bean id="studyInterventionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyInterventionMigrator" autowire="byType" />

	<bean id="studyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyMigrator">
		<property name="children">
			<list>
				<ref bean="studyTherapyMigrator"/>
				<ref bean="studyReportFormatTypeMigrator"/>
				<ref bean="studyTerminologyMigrator"/>
				<ref bean="studyDiseaseTerminologyMigrator" />
				<ref bean="studyOrganizationMigrator" />
				<ref bean="identifierMigrator" />
				<ref bean="studyAgentMigrator"/>
				<ref bean="studyDiseaseMigrator" />
				<ref bean="studyTreatmentMigrator" />
				<ref bean="studyEvaluationPeriodsMigrator" />
				<ref bean="studyExpectedAEMigrator" />
				<ref bean="studyDeviceMigrator" />
				<ref bean="studyInterventionMigrator" />
			</list>
		</property>
	</bean>
    
	<bean id="studyParticipantAssignmentMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.StudyParticipantAssignmentMigrator">
		<property name="studySiteDao" ref="studySiteDao" />
		<property name="studyDao" ref="studyDao" />
		<property name="studyRepository" ref="studyRepository" />
		<property name="organizationRepository" ref="organizationRepository" />
		<property name="organizationDao" ref="organizationDao" />
	</bean>
	<bean id="participantMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.ParticipantMigrator">
		<property name="children">
			<list>
				<ref bean="identifierMigrator" />
				<ref bean="studyParticipantAssignmentMigrator" />
			</list>
		</property>
	</bean>

    <bean id="adverseEventMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.adverseevent.AdverseEventMigrator" autowire="byType" />
    <bean id="reportingPeriodMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.adverseevent.AdverseEventReportingPeriodMigrator" autowire="byType">
        <property name="children">
            <list>
                <ref bean="adverseEventMigrator" />
            </list>
        </property>
        <property name="stopOnError" value="true" />
    </bean>

	<bean id="organizationMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.OrganizationMigrator"/>
	<bean id="agentMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.AgentMigrator"/>
	<bean id="deviceMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.DeviceMigrator"/>
	<bean id="priorTherapyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.PriorTherapyMigrator"/>
    <bean id="preExistingConditionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.PreExistingConditionMigrator"/>
    <bean id="labMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.LabMigrator">
    	<property name="labVersionDao" ref="labVersionDao"></property>
    	<property name="labTermDao" ref="labTermDao"></property>
    </bean>

	<bean id="studyConverter" class="gov.nih.nci.cabig.caaers.service.migrator.StudyConverter">
		<property name="ctcTermDao" ref="ctcTermDao"/>
		<property name="lowLevelTermDao" ref="lowLevelTermDao"/>
	</bean>	
	<bean id="reportingPeriodSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.adverseevent.AdverseEventReportingPeriodSynchronizer" autowire="byType" />
	<bean id="identifierSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.IdentifierSynchronizer"/>
	<bean id="treatmentAssignmentSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.TreatmentAssignmentSynchronizer"/>
	<bean id="studyDiseasesSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyDiseasesSynchronizer"/>
	<bean id="studyOrganizationSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyOrganizationSynchronizer"/>
	<bean id="studyTherapySynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyTherapySynchronizer"/>
	<bean id="studyReportTypeSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyReportTypeSynchronizer"/>
	<bean id="studyAgentsSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyAgentsSynchronizer"/>
	<bean id="studyEvaluationPeriodsSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyEvaluationPeriodsSynchronizer"/>
	<bean id="studyDeviceSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyDeviceSynchronizer"/>
	<bean id="studyInterventionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyInterventionSynchronizer"/>

	<bean id="studySynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudySynchronizer">
		<property name="ctcDao" ref="ctcDao" />
		<property name="meddraVersionDao" ref="meddraVersionDao" />
		<property name="children">
			<list>
				<ref bean="identifierSynchronizer"/>
				<ref bean="treatmentAssignmentSynchronizer"/>
				<ref bean="studyDiseasesSynchronizer"/>
				<ref bean="studyOrganizationSynchronizer"/>
				<ref bean="studyTherapySynchronizer"/>
				<ref bean="studyReportTypeSynchronizer"/>
				<ref bean="studyAgentsSynchronizer"/>
				<ref bean="studyEvaluationPeriodsSynchronizer"/>
				<ref bean="studyEvaluationPeriodsSynchronizer"/>
				<ref bean="studyDeviceSynchronizer"/>
				<ref bean="studyInterventionSynchronizer"/>
			</list>
		</property>
	</bean>
	
	<bean id="reportMandatoryFieldDefinitionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.ReportMandatoryFieldDefinitionSynchronizer"/>
	<bean id="reportDeliveryDefinitionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.ReportDeliveryDefinitionSynchronizer"/>
	<bean id="reportNotificationDefinitionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.ReportNotificationDefinitionSynchronizer"/>
	
	<bean id="reportDefinitionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.ReportDefinitionSynchronizer">
		<property name="children">
			<list>
				<ref bean="reportMandatoryFieldDefinitionSynchronizer"/>
				<ref bean="reportDeliveryDefinitionSynchronizer"/>
				<ref bean="reportNotificationDefinitionSynchronizer"/>
			</list>
		</property>
	</bean>

    <bean id="deviceConverter" class="gov.nih.nci.cabig.caaers.service.migrator.DeviceConverter" />
    <bean id="priorTherapyConverter" class="gov.nih.nci.cabig.caaers.service.migrator.PriorTherapyConverter" />
    <bean id ="preExistingConditionConverter" class="gov.nih.nci.cabig.caaers.service.migrator.PreExistingConditionConverter"/>

	<bean id="participantConverter" class="gov.nih.nci.cabig.caaers.service.migrator.ParticipantConverter"/>	
	
	<bean id="organizationConverter" class="gov.nih.nci.cabig.caaers.service.migrator.OrganizationConverter"/>
	
	<bean id="agentConverter" class="gov.nih.nci.cabig.caaers.service.migrator.AgentConverter"/>
	
	<bean id="labConverter" class="gov.nih.nci.cabig.caaers.service.migrator.LabConverter"/>

	<bean id="studyParticipantAssignmentSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.StudyParticipantAssignmentSynchronizer"/>
	
	<bean id="participantSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.ParticipantSynchronizer">
		<property name="children">
			<list>
				<ref bean="identifierSynchronizer"/>
				<ref bean="studyParticipantAssignmentSynchronizer"/>
			</list>
		</property>
	</bean>
	
	<bean id="adverseEventQueryService" class="gov.nih.nci.cabig.caaers.api.impl.AdverseEventQueryServiceImpl">
		<property name="adverseEventDao" ref="adverseEventDao" />	
	</bean>
	
	<bean id="XLstudyImporter" class="gov.nih.nci.cabig.ctms.tools.XLstudyImporter">
        <property name="orgdao" ref="organizationDao"/>
		<property name="ctcdao" ref="ctcDao"/>
		<property name="studydao" ref="studyDao"/>
		<property name="agentdao" ref="agentDao"/>
		<property name="investigationalnewdrugdao" ref="investigationalNewDrugDao"/>
		<property name="diseasetermdao" ref="diseaseTermDao"/>
		<property name="investigatordao" ref="investigatorDao"/>
		<property name="studyImportService" ref="studyImportService"/>
		
    </bean>
    
    <bean id="ctmsCaaersResponseQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>ctms-caaers.outputQueue</value>
		</constructor-arg>
	</bean>
	<bean id="ctmsCaaersRecvQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>ctms-caaers.inputQueue</value>
		</constructor-arg>
	</bean>
    
    <bean id="ctmsCaaersMessageConsumer" class="gov.nih.nci.cabig.caaers.esb.client.impl.CtmsCaaersMessageConsumer" init-method="initialize">
        <property name="connectionFactory" ref="connectionFactory"/>
		<property name="ctmsCaaersRecvQueue" ref="ctmsCaaersRecvQueue"/>
		<property name="ctmsCaaersResponseQueue" ref="ctmsCaaersResponseQueue"/>
		<property name="studyProcessor" ref="studyProcessorImpl"/>
		<property name="participantService" ref="participantServiceImpl"/>
		<property name="investigatorMigratorService" ref="investigatorMigratorService"/>
		<property name="researchStaffMigratorService" ref="researchStaffMigratorService"/>
		<property name="configuration" ref="configuration"/>
    </bean>

	<bean id="reportDefinitionConverter" class="gov.nih.nci.cabig.caaers.service.migrator.ReportDefinitionConverter">
		<property name="organizationDao" ref="organizationDao"/>
		<property name="configPropertyDao" ref="configPropertyDao" />
		<property name="reportDefinitionDao" ref="reportDefinitionDao"></property>
	</bean>
	
	<bean id="adeersReportGenerator" autowire="byType" lazy-init="true"	class="gov.nih.nci.cabig.caaers.api.AdeersReportGenerator"/>
	<bean id="reportSubmissionService"  lazy-init="true" class="gov.nih.nci.cabig.caaers.service.ReportSubmissionService">
	    	<property name="caaersJavaMailSender" ref="mailer" />
	    	<property name="adeersReportGenerator" ref="adeersReportGenerator" />
	    	<property name="messageBroadcastService" ref="messageBroadcaster" />
	    	<property name="reportDao" ref="reportDao" />
			<property name="reportRepository" ref="reportRepository"/>
	    	<property name="schedulerService" ref="schedulerService" />
	    	<property name="nowFactory" ref="nowFactory" />
			<property name="expeditedAdverseEventReportDao" ref="expeditedAdverseEventReportDao" />
			<property name="messageSource" ref="messageSource" />
			<property name="workflowService" ref="workflowService"/>
	</bean>
	<bean id="reportWithdrawalService" class="gov.nih.nci.cabig.caaers.service.ReportWithdrawalService" autowire="byType" lazy-init="true" />
	<bean id="adverseEventReportSerializer" class="gov.nih.nci.cabig.caaers.api.AdverseEventReportSerializer" />
	
	<bean id="domainObjectValidator" autowire="byType" lazy-init="true"	class="gov.nih.nci.cabig.caaers.validation.validator.DomainObjectValidator"/>
	
	<bean id="freeMarkerService" class="gov.nih.nci.cabig.caaers.service.FreeMarkerService"/>

	<bean id="reportValidationService" class="gov.nih.nci.cabig.caaers.domain.repository.ReportValidationServiceImpl">
		<property name="expeditedReportTree" ref="expeditedReportTree"/>
        <property name="evaluationService" ref="evaluationService" />
	</bean>
    
	<bean id="caaersRulesEngineService" class="gov.nih.nci.cabig.caaers.rules.business.service.CaaersRulesEngineService">
		<property name="configPropertyDao"  ref="configPropertyDao"/>
        <property name="organizationDao"  ref="organizationDao" />
        <property name="reportDefinitionDao" ref="reportDefinitionDao" />
        <property name="studyDao" ref="studyDao" />
        <property name="ruleSetDao" ref="ruleSetDao" />
        <property name="ruleEngineService" ref="ruleEngineService" />
	</bean>

   <bean id="configPropertyRepositoryImpl" autowire="byType" class="gov.nih.nci.cabig.caaers.domain.repository.ConfigPropertyRepositoryImpl" />

   <bean id="submitAEDataXMLAsAttachmentResponseTarget" autowire="byType" class="gov.nih.nci.cabig.caaers.esb.client.impl.AdeersSubmissionResponseMessageProcessor">
   		<property name="messageNotificationService" ref="messageNotificationService" />
		<property name="messageSource" ref="messageSource" />
		<property name="reportDao" ref="reportDao" />
		<property name="proxyWebServiceFacade" ref="proxyWebServiceFacade"/>
   </bean>
   
   	<bean id="submitAEDataXMLAsAttachmentResponse" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="submitAEDataXMLAsAttachmentResponseTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>auditInfoPopulatorInterceptor</value>
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>

   <bean id="withdrawAEReportResponseTarget" autowire="byType" class="gov.nih.nci.cabig.caaers.esb.client.impl.AdeersWithdrawResponseMessageProcessor" >
	   	<property name="messageNotificationService" ref="messageNotificationService" />
		<property name="messageSource" ref="messageSource" />
		<property name="reportDao" ref="reportDao" />
		<property name="proxyWebServiceFacade" ref="proxyWebServiceFacade"/>
   </bean>
   
  <bean id="withdrawAEReportResponse" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="withdrawAEReportResponseTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>auditInfoPopulatorInterceptor</value>
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>
	
	<bean id="agentRepository" lazy-init="true" class="gov.nih.nci.cabig.caaers.domain.repository.AgentRepositoryImpl" autowire="byType">
		<property name="agentDao" ref="agentDao"/>
	</bean> 	

    <bean id="agentSpecificAdverseEventListService" class="gov.nih.nci.cabig.caaers.service.AgentSpecificAdverseEventListServiceImpl" autowire="byType" />
    <bean id="agentSpecificTermsImporter" class="gov.nih.nci.cabig.caaers.dataimport.AgentSpecificTermsImporter" autowire="byType" />
    <bean id="adverseEventReportingPeriodService" class="gov.nih.nci.cabig.caaers.service.AdverseEventReportingPeriodService" />
    <bean id="asaelServiceImpl" class="gov.nih.nci.cabig.caaers.api.impl.ASAELServiceImpl" autowire="byType" />
    <bean id="devicesServiceImpl" class="gov.nih.nci.cabig.caaers.api.impl.DevicesServiceImpl" autowire="byType" />
    <bean id="ctcService" class="gov.nih.nci.cabig.caaers.api.impl.CtcServiceImpl" autowire="byType" />
    <bean id="configPropertyServiceImpl" class="gov.nih.nci.cabig.caaers.api.impl.ConfigPropertyServiceImpl" autowire="byType" />

	<bean id="safetyMonitoringService" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="safetyMonitoringServiceTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>auditInfoPopulatorInterceptor</value>
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>
    <bean id="safetyMonitoringServiceTarget" class="gov.nih.nci.cabig.caaers.service.SafetyMonitoringServiceImpl" autowire="byType" />
    <bean id="additionalInformationDocumentService"
          class="gov.nih.nci.cabig.caaers.service.adverseevent.AdditionalInformationDocumentService" autowire="byType" />
           
    <!-- Safety Management Service. -->
    <!--  Converter  -->
    <bean id="baseEaeConverter" class="gov.nih.nci.cabig.caaers.service.migrator.BaseExpeditedAdverseEventReportConverter">
    	<property name="studyDao" ref="studyDao" />
    </bean>
    <bean id="eaeConverter" class="gov.nih.nci.cabig.caaers.service.migrator.ExpeditedAdverseEventReportConverter">
    	<property name="studyDao" ref="studyDao" />
    </bean>
    <bean id="aeReportValidator" class="gov.nih.nci.cabig.caaers.domain.validation.ExpeditedAdverseEventReportValidatorImpl"/>
    <bean id="adverseEventValidatior" class="gov.nih.nci.cabig.caaers.validation.validator.AdverseEventValidatior" autowire="byType"/>
    <bean id="recommendedActionService" class="gov.nih.nci.cabig.caaers.service.RecommendedActionServiceImpl" autowire="byType"/>


    <!--  Migrators -->
    <bean id="additionalInformationMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.AdditionalInformationMigrator" autowire="byType"/>
    <bean id="adverseEventResponseDescriptionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.AdverseEventResponseDescriptionMigrator" autowire="byType"/>
    <bean id="behavioralInterventionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.BehavioralInterventionMigrator" autowire="byType"/>
    <bean id="biologicalInterventionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.BiologicalInterventionMigrator" autowire="byType"/>
    <bean id="concomitantMedicationMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.ConcomitantMedicationMigrator" autowire="byType"/>
    <bean id="diseaseHistoryMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.DiseaseHistoryMigrator" autowire="byType"/>
    <bean id="dietarySupplementInterventionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.DietarySupplementInterventionMigrator" autowire="byType"/>
    <bean id="geneticInterventionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.GeneticInterventionMigrator" autowire="byType"/>
    <bean id="safetyLabMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.LabMigrator" autowire="byType"/>
    <bean id="medicalDeviceMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.MedicalDeviceMigrator" autowire="byType"/>
    <bean id="otherAEInterventionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.OtherAEInterventionMigrator" autowire="byType"/>
    <bean id="otherCauseMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.OtherCauseMigrator" autowire="byType"/>
    <bean id="participantHistoryMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.ParticipantHistoryMigrator" autowire="byType"/>
    <bean id="physicianMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.PhysicianMigrator" autowire="byType"/>
    <bean id="radiationInterventionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.RadiationInterventionMigrator" autowire="byType"/>
    <bean id="reporterMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.ReporterMigrator" autowire="byType"/>
    <bean id="reportMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.ReportMigrator" autowire="byType"/>
    <bean id="saeReportPreExistingConditionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.SAEReportPreExistingConditionMigrator" autowire="byType"/>
    <bean id="saeReportPriorTherapyMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.SAEReportPriorTherapyMigrator" autowire="byType"/>
    <bean id="surgeryInterventionMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.SurgeryInterventionMigrator" autowire="byType"/>
    <bean id="treatmentInformationMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.TreatmentInformationMigrator" autowire="byType"/>
    <bean id="expeditedAdverseEventMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.ExpeditedAdverseEventMigrator" autowire="byType"/>


	<bean id="expeditedReportMigrator" class="gov.nih.nci.cabig.caaers.service.migrator.report.ExpeditedReportMigrator">
		<property name="children">
			<list>
				<ref bean="additionalInformationMigrator"/>
				<ref bean="adverseEventResponseDescriptionMigrator"/>
				<ref bean="behavioralInterventionMigrator"/>
				<ref bean="biologicalInterventionMigrator"/>	
				<ref bean="concomitantMedicationMigrator"/>	
				<ref bean="diseaseHistoryMigrator"/>
				<ref bean="dietarySupplementInterventionMigrator"/>
				<ref bean="geneticInterventionMigrator"/>
				<ref bean="safetyLabMigrator"/>
				<ref bean="medicalDeviceMigrator"/>
				<ref bean="otherAEInterventionMigrator"/>
				<ref bean="otherCauseMigrator"/>
				<ref bean="participantHistoryMigrator"/>
				<ref bean="physicianMigrator"/>
				<ref bean="radiationInterventionMigrator"/>	
				<ref bean="reporterMigrator"/>	
				<ref bean="reportMigrator"/>	
				<ref bean="saeReportPreExistingConditionMigrator"/>	
				<ref bean="saeReportPriorTherapyMigrator"/>	
				<ref bean="surgeryInterventionMigrator"/>
				<ref bean="treatmentInformationMigrator"/>
				<ref bean="expeditedAdverseEventMigrator"/>	
			</list>
		</property>
        <property name="stopOnError" value="true" />
        <property name="studyDao" ref="studyDao" />
        <property name="organizationDao" ref="organizationDao" />
        <property name="participantDao" ref="participantDao" />
        <property name="adverseEventReportingPeriodDao" ref="adverseEventReportingPeriodDao" />
        <property name="studyParticipantAssignmentDao" ref="studyParticipantAssignmentDao" />
	</bean>

    <!-- Synchronizer -->
    <bean id="expeditedReportingPeriodSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.ExpeditedReportingPeriodSynchronizer" />
    <bean id="expeditedAdverseEventSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.ExpeditedAdverseEventSynchronizer" />
    <bean id="adverseEventResponseDescriptionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.AdverseEventResponseDescriptionSynchronizer" />
    <bean id="labSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.LabSynchronizer" />
    <bean id="treatmentInformationSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.TreatmentInformationSynchronizer" />
    <bean id="behavioralInterventionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.BehavioralInterventionSynchronizer" />
    <bean id="biologicalInterventionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.BiologicalInterventionSynchronizer" />
    <bean id="dietarySupplementInterventionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.DietarySupplementInterventionSynchronizer" />
    <bean id="geneticInterventionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.GeneticInterventionSynchronizer" />
    <bean id="medicalDeviceSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.MedicalDeviceSynchronizer" />
    <bean id="otherAEInterventionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.OtherAEInterventionSynchronizer" />
    <bean id="otherCauseSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.OtherCauseSynchronizer" />
    <bean id="participantHistorySynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.ParticipantHistorySynchronizer" />
    <bean id="physicianSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.PhysicianSynchronizer" />
    <bean id="preExistingConditionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.PreExistingConditionSynchronizer" />
    <bean id="priorTherapySynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.PriorTherapySynchronizer" />
    <bean id="reporterSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.ReporterSynchronizer" />
    <bean id="concomitantMedicationSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.ConcomitantMedicationSynchronizer" autowire="byType"/>
    <bean id="diseaseHistorySynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.DiseaseHistorySynchronizer" autowire="byType"/>
    <bean id="radiationInterventionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.RadiationInterventionSynchronizer" autowire="byType"/>
    <bean id="surgeryInterventionSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.SurgeryInterventionSynchronizer" autowire="byType"/>

    <bean id="aeReportSynchronizer" class="gov.nih.nci.cabig.caaers.service.synchronizer.report.ExpeditedAdverseEventReportSynchronizer">
        <property name="children">
            <list>
            	<ref bean="expeditedReportingPeriodSynchronizer" />
                <ref bean="adverseEventResponseDescriptionSynchronizer" />
                <ref bean="labSynchronizer" />
                <ref bean="treatmentInformationSynchronizer" />
                <ref bean="behavioralInterventionSynchronizer" />
                <ref bean="biologicalInterventionSynchronizer" />
                <ref bean="dietarySupplementInterventionSynchronizer" />
                <ref bean="geneticInterventionSynchronizer" />
                <ref bean="medicalDeviceSynchronizer" />
                <ref bean="otherAEInterventionSynchronizer" />
                <ref bean="physicianSynchronizer" />
                <ref bean="reporterSynchronizer" />
                <ref bean="diseaseHistorySynchronizer" />
                <ref bean="participantHistorySynchronizer" />
                <ref bean="preExistingConditionSynchronizer" />
                <ref bean="priorTherapySynchronizer" />
                <ref bean="concomitantMedicationSynchronizer" />
                <ref bean="otherCauseSynchronizer" />
                <ref bean="expeditedAdverseEventSynchronizer" />
                <ref bean="surgeryInterventionSynchronizer" />
                <ref bean="radiationInterventionSynchronizer" />
            </list>
        </property>
    </bean>
</beans>