CTMS_SUITE {
     gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule required
     driver="org.postgresql.Driver"
     url="jdbc:postgresql://@CSM_DB_HOST@:@CSM_DB_PORT@/@CSM_DB_NAME@"
     user="@CSM_DB_USER@"
     passwd="@CSM_DB_PASSWORD@"
     encryption-enabled="YES"
     query="SELECT * FROM CSM_USER WHERE LOGIN_NAME=? and PASSWORD=?"
     ;
};