<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
		  destroy-method="destroy" >
 	 	<property name="waitForJobsToCompleteOnShutdown"><value>true</value></property>
		<property name="configLocation"><value>classpath:quartz.properties</value></property>
 	 	<property name="autoStartup"><value>true</value></property>
 	 	<property name="startupDelay"><value>10</value></property>
		<property name="applicationContextSchedulerContextKey"><value>applicationContext</value></property>
	</bean>
</beans>