<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the default implementations
    of the public API services.
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" default-autowire="no">

	
	 <bean id="webAnnotations" class="org.codehaus.xfire.annotations.jsr181.Jsr181WebAnnotations"/>


	 <bean id="handlerMapping" class="org.codehaus.xfire.spring.remoting.Jsr181HandlerMapping">
	        <property name="typeMappingRegistry">
	            <ref bean="xfire.typeMappingRegistry"/>
	        </property>
	        <property name="xfire">
	            <ref bean="xfire"/>
	        </property>
	        <property name="webAnnotations">
	            <ref bean="webAnnotations"/>
	        </property>
	 </bean>

 	 
	 <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
	        <property name="urlMap">
	            <map>
	                <entry key="/">
	                    <ref bean="handlerMapping"/>
	                </entry>
	            </map>
	        </property>
    </bean>


	<bean name="jaxbServiceFactory" class="org.codehaus.xfire.jaxb2.JaxbServiceFactory">
		<constructor-arg ref="xfire.transportManager"/>
	</bean>

    <!--
    <import resource="classpath:org/codehaus/xfire/spring/xfire.xml"/>
    -->

  <!-- <bean id="xfire.typeMappingRegistry"
    class="org.codehaus.xfire.aegis.type.DefaultTypeMappingRegistry"
    init-method="createDefaultMappings" scope="singleton"> -->
  <bean id="xfire.typeMappingRegistry"
    class="org.codehaus.xfire.jaxb2.JaxbTypeRegistry"
    init-method="createDefaultMappings" scope="singleton">

  </bean>
  
  
  <bean id="xfire.serviceRegistry"
    class="org.codehaus.xfire.service.DefaultServiceRegistry"
    scope="singleton" />

  <bean id="xfire.transportManager"
    class="org.codehaus.xfire.transport.DefaultTransportManager"
    scope="singleton" init-method="initialize" destroy-method="dispose">
  </bean>

  <bean id="xfire" class="org.codehaus.xfire.DefaultXFire"
    scope="singleton">
    <constructor-arg index="0">
      <ref bean="xfire.serviceRegistry" />
    </constructor-arg>
    <constructor-arg index="1">
      <ref bean="xfire.transportManager" />
    </constructor-arg>
  </bean>

	
</beans>