<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the configurations for the email service.
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" default-autowire="no">

	<bean id="smtpConfig" class="gov.nih.nci.cabig.caaers.email.SmtpConfig">
		<property name="user" value="caaers@yahoo.com"/>
		<property name="password" value="semanticbits"/>
		<property name="host" value="smtp.east.cox.net"/>
		<!--<property name="host" value="smtp.comcast.net"/>-->
		<property name="port" value="25"/>
		<property name="auth" value="true"/>
		<!--
		<property name="connectiontimeout" value=""/>
		<property name="timeout" value=""/>
		<property name="localport" value=""/>
		<property name="ehlo" value=""/>
		<property name="sendpartial" value=""/>
		-->
	</bean>


	<bean id="emailInfo" class="gov.nih.nci.cabig.caaers.email.EmailInfo">
		<property name="from" value="caaers@yahoo.com"/>
		<property name="replyTo" value="caaers@yahoo.com"/>
		<property name="to">
		   <list>
              <value>caaers@yahoo.com</value>
           </list>
        </property>
		<property name="cc">
		   <list>
              <value>caaers@yahoo.com</value>
           </list>
        </property>
		<property name="bcc">
		   <list>
              <value>caaers@yahoo.com</value>
           </list>
        </property>
		<!--
		<property name="subject" value=""/>
		<property name="content" value=""/>
		<property name="country" value=""/>
		<property name="language" value=""/>
		<property name="variant" value=""/>
		-->
	</bean>
	
	<bean id="defaultEmailNotificationHandler" class="gov.nih.nci.cabig.caaers.rules.runtime.action.DefaultEmailNotificationHandler">
		<property name="smtpConfig" ref="smtpConfig"/>
		<property name="emailInfo" ref="emailInfo"/>
	</bean>
	
	
	
</beans>