<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the default implementations
    of the public API services.
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" default-autowire="no">

    <tx:annotation-driven/>

    <bean id="ruleAuthoringService" class="gov.nih.nci.cabig.caaers.rules.author.RuleAuthoringServiceImpl"/>

    <bean id="ruleDeploymentService" class="gov.nih.nci.cabig.caaers.rules.deploy.RuleDeploymentServiceImpl"/>

    <bean id="ruleExecutionService" class="gov.nih.nci.cabig.caaers.rules.runtime.RuleExecutionServiceImpl"/>

    <bean id="emailService" class="gov.nih.nci.cabig.caaers.email.EmailServiceImpl"/>

    <bean id="ruleEngineService" autowire="byType" class="gov.nih.nci.cabig.caaers.rules.business.service.RulesEngineServiceImpl"/>

    <bean id="evaluationService" autowire="byType"
        class="gov.nih.nci.cabig.caaers.rules.business.service.EvaluationServiceImpl"/>
        
    <bean id="adverseEventEvaluationService" class="gov.nih.nci.cabig.caaers.rules.business.service.AdverseEventEvaluationServiceImpl" autowire="no">
    	<property name="rulesEngineService" ref="ruleEngineService" />
    	<property name="businessRulesExecutionService" ref="businessRulesExecutionService" />
    </bean>
    
    <bean id="businessRulesExecutionService" class="gov.nih.nci.cabig.caaers.rules.runtime.BusinessRulesExecutionServiceImpl" autowire="byName" />
  
</beans>
