/**** The CSS associated to accordions ******/
.accordion-toggle {
	display: block;
	background-color:#314993;
	padding: 0 10px 0 10px;
	line-height: 30px;
	outline: none;
	cursor: pointer;
	margin: 0 0 0 0;
	color: #ffffff;
	border-bottom:1px solid;
}
		
.accordion-toggle-active {
	background-color:#D15300;
	color: #ffffff;
}
		
.accordion-content {
	background-color: #efefef;
	color: #444444;
	overflow: hidden;
	height:auto;
	padding:10px;
}