.eXtremeTable {
	margin: 0;
	padding: 0;
}



.eXtremeTable .tableRegion {
	border: 1px solid #A8C9E0;
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 12px;
	margin-top: 7px;
}
.eXtremeTable .tableHeader:last-child {border-right:  none;}


.eXtremeTable .tableRegion .tdNoMatch {text-align: center;border-bottom: 1px solid #ccc;padding: 3px 10px; background: #efefef; color: red; font-style: italic;text-shadow: 0 1px white;}

.eXtremeTable .tableRegion td {padding:  3px 8px;line-height: 13px;}
.eXtremeTable .tableRegion td.fillerRow {padding: 0}
.eXtremeTable .tableRegion td.fillerRow hr.hrfiller {background:  #ddd; height: 4px; border: none}
.eXtremeTable .tableRegion button td {padding: 0}
.eXtremeTable .tableRegion .yui-dt-bd td {padding: 3px 1px}

.eXtremeTable .tableRegion tr.error {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #fce5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fce5e5));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fce5e5 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#fce5e5 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#fce5e5 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#fce5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fce5e5',GradientType=0 );

    text-shadow: 0 1px white;
    color: #8E0000;

}
.eXtremeTable .tableRegion tr.error td.error {border-top:  1px solid pink;
    border-bottom:  1px solid pink;}

.eXtremeTable .filter {
	background-color: #F4F4F4;
}
.eXtremeTable .yui-skin-sam tr.yui-dt-odd {background-color: #efefef}
.eXtremeTable th .yui-dt-label {color: #2b4f6f;text-shadow: 0 1px white;}
.eXtremeTable .yui-skin-sam tr.yui-dt-selected td, .eXtremeTable .yui-skin-sam tr.yui-dt-selected td.yui-dt-asc, .eXtremeTable .yui-skin-sam tr.yui-dt-selected td.yui-dt-desc {
    background: #f8ffe8;
    background: -moz-linear-gradient(top,  #f8ffe8 0%, #e3f5ab 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8ffe8), color-stop(100%,#e3f5ab));
    background: -webkit-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 100%);
    background: -o-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 100%);
    background: -ms-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 100%);
    background: linear-gradient(to bottom,  #f8ffe8 0%,#e3f5ab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#e3f5ab',GradientType=0 );

color:#333;
    text-shadow: 0 1px white;

}
.actionBtns button.omnipotent-button.small td.m, .actionBtns a.omnipotent-button.small td.m      {padding: 2px 3px 1px}
.actionBtns button.omnipotent-button.small td.m img, .actionBtns a.omnipotent-button.small td.m img {margin-top:0}
.selectAbove {color: #ED4242; font-style: italic;}
.eXtremeTable .oddx, .eXtremeTable .evenx {border-bottom: 1px solid #eee;}
/*.tr-ae1.oddx, .tr-ae1.evenx, .tr-ae2.oddx, .tr-ae2.evenx {color: gray}
.tr-ae1.oddx label, .tr-ae1.evenx label {color: #333}       */
.eXtremeTable .yui-dt-bd thead {}
.eXtremeTable .yui-dt-data tr {cursor: pointer; border-bottom: 1px solid #ddd;}
.eXtremeTable .yui-dt-data tr:hover {
    background: #d1e8ff;
    background: -moz-linear-gradient(top,  #d1e8ff 0%, #81cbed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e8ff), color-stop(100%,#81cbed));
    background: -webkit-linear-gradient(top,  #d1e8ff 0%,#81cbed 100%);
    background: -o-linear-gradient(top,  #d1e8ff 0%,#81cbed 100%);
    background: -ms-linear-gradient(top,  #d1e8ff 0%,#81cbed 100%);
    background: linear-gradient(to bottom,  #d1e8ff 0%,#81cbed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8ff', endColorstr='#81cbed',GradientType=0 );
   color:#333;
    text-shadow: 0 1px white;

}

.eXtremeTable .filter td {
	padding: 2px;
}

.eXtremeTable .title {
	color: #444444;
	font-weight: bold;
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 15px;
	vertical-align: middle;
}

.eXtremeTable .titleRow {
	background-color: #F4F4F4;
}

.eXtremeTable .titleRow td {
	border-bottom: 1px solid #308dbb;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
	text-align: center;
}

.eXtremeTable .titleRow span {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
}

.eXtremeTable .filter input {
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 10px;
	border: solid 1px gray;
	padding: 1px;
}

.eXtremeTable .filter select {
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 9px;
	border: solid 1px #EEE;
}

.eXtremeTable .tableHeader {
	color: #2b4f6f;
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	border-right: solid 1px #A8C9E0;
    background: #eaf2f9;
    background: -moz-linear-gradient(top,  #eaf2f9 0%, #b7d9f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf2f9), color-stop(100%,#b7d9f5));
    background: -webkit-linear-gradient(top,  #eaf2f9 0%,#b7d9f5 100%);
    background: -o-linear-gradient(top,  #eaf2f9 0%,#b7d9f5 100%);
    background: -ms-linear-gradient(top,  #eaf2f9 0%,#b7d9f5 100%);
    background: linear-gradient(to bottom,  #eaf2f9 0%,#b7d9f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf2f9', endColorstr='#b7d9f5',GradientType=0 );
    border-bottom: 1px solid #A8C9E0;
    text-shadow: 0 1px white;
}

.eXtremeTable .centerTableHeader {
	background-color: #6dafe9;
	color: #2b4f6f;
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	border-right: solid 1px #d5e8f9;
	background-image: url(../images/blue/eXtableheader_bg.png);
	background-repeat: repeat-x;
	background-position: top;
    text-shadow: 0 1px white;
}


.eXtremeTable .tableHeaderSort {
	background-color: #6dafe9;
	color: #2b4f6f;
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	padding-right: 8px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	border-right: solid 1px #d5e8f9;
	background-image: url(../images/blue/eXtableheader_bg.png);
	background-repeat: repeat-x;
	background-position: top;
    text-shadow: 0 1px white;
}

.eXtremeTable .odd a, .even a {
	color: #1b619c;
    text-decoration: none
}

.eXtremeTable .odd a:hover, .even a:hover {
	color: #6dafea;
    text-decoration: none
}

.eXtremeTable .odd td, .eXtremeTable .even td {
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	vertical-align: middle;
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 12px;
}


.eXtremeTable .odd {
	background-color: #FFFFFF;
}

.eXtremeTable .even {
  	background: #f0f7fd url(../images/blue/eXtable_even.png) repeat-x top;
    text-shadow: 0 1px white;
}

.eXtremeTable .highlight td {
	color: #1b619c;
    text-shadow: 0 1px white;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	vertical-align: middle;
	background: #bddbf5 url(../images/blue/eXtable_highlight.png) repeat-x top;
	font-size: 12px;
}

.eXtremeTable .highlight a, .highlight a {
	color: black;
}

.eXtremeTable .compactToolbar {
	background-color: #F4F4F4;
}

.eXtremeTable .eXtremeTable {border: 1px solid #6cafe9}

.eXtremeTable .toolbar {
	background: url(../images/blue/thirdlevelnav_grey_gradient.png) center ;

	border: 1px solid #ccc;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-box-shadow:inset  0px 0px 9px #000;
    -webkit-box-shadow:inset  0px 0px 9px #000;
    padding: 6px 10px 0 10px;

}

.eXtremeTable .toolbar a:hover {
	background-color: transparent;
}

.eXtremeTable .toolbar img {

}

.eXtremeTable .toolbar td {
	text-align:center;
    padding: 0 6px 2px 6px;

}


.eXtremeTable .separator {
	width: 7px;
    height: 20px;
}

.eXtremeTable .statusBar {
	background-color: #F4F4F4;
	font-family: Lucida Sans Unicode, sans-serif;
	font-size: 10px;
}

.eXtremeTable .filterButtons {
	background-color: #F4F4F4;
	text-align: right;
}

.eXtremeTable .title span {
	margin-left: 7px;
}

.eXtremeTable .formButtons {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
}

.eXtremeTable .formButton {
	cursor: pointer;
	font-family: Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	background-color: #308dbb;
	color: white;
	margin-top: 5px;
	border: outset 1px #333;
	vertical-align: middle;
}

.eXtremeTable .calcRow {
	background-color: #F4F4F4;
}

.eXtremeTable .calcTitle {
	background-color: #F4F4F4;
	color: black;
	font-family: Lucida Sans Unicode, sans-serif;
	font-weight: bold;
}

.eXtremeTable .calcResult {
	background-color: #F4F4F4;
	color: black;
	font-family: Lucida Sans Unicode, sans-serif;
}


