
#floatingTaskbar {
	background: transparent url(../images/blue/floatingTaskbar_BG.png) repeat-x top;
	height: 42px;
	width: 970px;
	font-size: 14px;
    line-height: 13pt;
	position: absolute;
	top: 98px;
	padding-left: 10px;
    padding-top: 1px;
	color: #FFFFFF;
	vertical-align: middle;
	z-index: 1;
    text-shadow: 0 -1px 1px #053E6F;
    font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
}
#floatingTaskbar ul {
	margin:0 0 0 -45px;
}
#floatingTaskbar li {
	list-style-type:none;
	display:inline;
}
#floatingTaskbar li.lte4 a {
	color:#FFF;
	text-decoration: none;
	height: auto;
	width: auto;
	float:left;
	padding: 5px 10px 6px 4px;
    margin-left: 1px;
	
}
#floatingTaskbar li.gt4 a {
	color:#FFF;
	text-decoration: none;
	height: auto;
	width: auto;
	float:left;
	padding: 12px 16px 12px 16px;
    font-size: 14px;
	margin-left: 1px;
}
#floatingTaskbar li.gt4 a:hover {
	color:#fff;
	background: url(../images/blue/floatingTaskbar_hover.png) top right;
	background-repeat: no-repeat;
    margin-left: 0px;
    border-left: 1px solid #286599;
}
#floatingTaskbar li.gt4 a:active {
	color:#dff0ff;
	background: url(../images/blue/floatingTaskbar_active.png) top right;
	background-repeat: no-repeat;
}
#floatingTaskbar li.lte4 img {
	margin-right:7px;
	margin-left:5px;
}
#floatingTaskbar li a:hover {
	color:#fff;
	background: url(../images/blue/floatingTaskbar_hover.png) top right;
	background-repeat: no-repeat;
    margin-left: 0px;
    border-left: 1px solid #286599;
}
#floatingTaskbar li a:active {
	color:#dff0ff;
	background: url(../images/blue/floatingTaskbar_active.png) top right;
	background-repeat: no-repeat;
}


.spangt18 { padding-right:4px }
#floatingTaskbar .lte4 a.selected, #v .lte4 a.selected:hover, #floatingTaskbar .lte4 a.selected:active {
	background-image: url(../images/blue/secondlevelnav_selected.jpg);
	background-repeat: no-repeat;
}
#floatingTaskbar .gt4 a.selected, #floatingTaskbar .gt4 a.selected:hover, #floatingTaskbar .gt4 a.selected:active {
	background-image: url(../images/blue/secondlevelnav_gt4_selected.png);
	background-repeat: no-repeat;
}


