
#floatingTaskbar {
	background: transparent url(../images/blue/floatingTaskbar_BG.png) no-repeat top;
	height: 40px;
	width: 1010px;
	font-size: 14px;
	position: absolute;
	top: 98px;
	margin-left: -14px;
	color: #c0dbf2;
	font-weight: normal;
	z-index: 1;
    margin-top: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-shadow: 0px -2px #216dae;
}
#floatingTaskbar ul {
	margin:0 0 0 -30px;
    text-shadow: 0px -2px #216dae;
}
#floatingTaskbar li {
	list-style-type:none;
	display:inline;
}
#floatingTaskbar li.lte4 a {
	color:#c0dbf2;
	text-decoration: none;
    float:left;
	padding: 5px 10px 0px 10px;
	font-weight: normal;
    text-shadow: 0px -2px #216dae;
}
#floatingTaskbar li.gt4 a {
	color:#c0dbf2;
	text-decoration: none;
   	float:left;
	padding: 8px 10px 0px 10px;
	font-weight: normal;
    margin-left: 10px;
    text-shadow: 0px -2px #216dae;
	
	
}
#floatingTaskbar li.gt4 a:hover {
	color:#fff;

}
#floatingTaskbar li.gt4 a:active {
	color:#b0d7ff;
    
}
#floatingTaskbar li.lte4 img {
	margin-right:7px;
	margin-left:5px;
}
#floatingTaskbar li a:hover {
	color:#fff;

}
#floatingTaskbar li a:active {
	color:#b0d7ff;
	
}


#floatingTaskbar .lte4 a.selected, #v .lte4 a.selected:hover, #floatingTaskbar .lte4 a.selected:active {
	background-image: url(../images/blue/secondlevelnav_selected.jpg);
	background-repeat: no-repeat;
}
#floatingTaskbar .gt4 a.selected, #floatingTaskbar .gt4 a.selected:hover, #floatingTaskbar .gt4 a.selected:active {
	background-image: url(../images/blue/secondlevelnav_gt4_selected.png);
	background-repeat: no-repeat;
}


