#sideBar {
    text-align:left;
}

#sideBar h2 {
	color:#FFFFFF;
	font-size:110%;
	font-family:arial;
	margin:10px 10px 10px 10px;
	font-weight:bold !important;
}

#sideBar h2 span {
	font-size:125%;
	font-weight:normal !important;
}

#sideBar ul {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#sideBar {
	position: absolute;
	width: auto;
	height: auto;
	top: 140px;
	right:0px;
	background-position:top left;
	background-repeat:repeat-y;
    background-image:url(../images/sidebar/background.gif);
}

#sideBarTab {
	float:left;
	height:137px;
	width:28px;
}

#sideBarContents {
	float:left;
	overflow:hidden !important;
	width:300px;
}

#sideBarContentsInner {
	width:200px;
}
