<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright SemanticBits, Northwestern University and Akaza Research
  
  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/caaers/LICENSE.txt for details.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="no">		
 	
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-caXchange.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-lab.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-labConsumer.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-registrationConsumer.xml" />		
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-studyConsumer-grid.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-studyConsumer.xml" />		
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-selenium.xml" />	
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-test-security.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-test.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-web-dwr.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-web-event.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-web-security.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-web-sso.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-web-test-security.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-web-validator.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-xfire.xml" />		
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-service.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-coppa.xml" />		
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-remote.xml" /> 
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-acegi-security.xml" />	
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-configProperties.xml" />	
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-api.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-auditing.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-dao.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-db.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-domain.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-indexing.xml" />	
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-logging.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-migrate.xml" />	
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-repository.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-security.xml" />	
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-spring.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-validator.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-workflow.xml" />	
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-grid.xml" />	
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-rules-jcr.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-rules-services.xml" />
	<import
		resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-scheduler-quartz.xml" />
	
	
	<!-- 
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-configProperties.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-dao.xml" />
    <import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-auditing.xml" />
    <import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-remote.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-db.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-spring.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-security.xml"/>	
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-service.xml"/>
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-coppa.xml"/>
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-repository.xml"/>
	--> 
	 
	<!--  overriding the authorization -->
	<bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager">
		<property name="providers">
			<list>
				<bean class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
					<property name="key" value="anonymousAuthKey"/>
				</bean>
			</list>
		</property>
	</bean>	
	
	<bean id="caaersDataMigratorDelegate" class="gov.nih.nci.cabig.caaers.datamigrator.CaaersDataMigratorDelegate">
		<property name="migrators">
			<list/>
		</property>
    </bean>	
	
	<bean id="coppaCache" class="java.lang.Boolean">
		<constructor-arg value="false"/>
	</bean>
	<bean id="coppaMode" class="java.lang.Boolean">
		<constructor-arg value="false"/>
	</bean>	
	<bean id="applicationDirectoryName" class="java.lang.String" autowire-candidate="false" >
		<constructor-arg value="wsrf-caaers"/>
	</bean>	

	<bean id="gridToDomainObjectConverter" class="gov.nih.nci.ess.ae.GridToDomainObjectConverter"
		autowire="byType" />
	<bean id="domainToGridObjectConverter" class="gov.nih.nci.ess.ae.DomainToGridObjectConverter"
		autowire="byType" />
	<bean id="adverseEventManagementImplTarget" class="gov.nih.nci.ess.ae.AdverseEventManagementImpl" autowire="byType" />		
	<bean id="adverseEventQueryImplTarget" class="gov.nih.nci.ess.ae.AdverseEventQueryImpl" autowire="byType"/>
	<bean id="adverseEventAssociateImplTarget" class="gov.nih.nci.ess.ae.AdverseEventAssociateImpl" autowire="byType" />
	<bean id="adverseEventAdvancedQueryImplTarget" class="gov.nih.nci.ess.ae.AdverseEventAdvancedQueryImpl" autowire="byType" />
	<bean id="adverseEventProtocolImplTarget" class="gov.nih.nci.ess.ae.AdverseEventProtocolImpl" autowire="byType" />

	<!-- Audit -->
    <bean id="adverseEventManagementGridServiceUrl" class="java.lang.String">
        <constructor-arg value="/wsrf-caaers/services/cagrid/Management"/>
    </bean>
    <bean id="adverseEventAssociateGridServiceUrl" class="java.lang.String">
        <constructor-arg value="/wsrf-caaers/services/cagrid/Associate"/>
    </bean>
    <bean id="adverseEventAdvancedQueryGridServiceUrl" class="java.lang.String">
        <constructor-arg value="/wsrf-caaers/services/cagrid/AdvancedQuery"/>
    </bean>
    <bean id="adverseEventProtocolGridServiceUrl" class="java.lang.String">
        <constructor-arg value="/wsrf-caaers/services/cagrid/AEProtocol"/>
    </bean>
    
	<bean id="adverseEventManagementAuditInfoPopulatorInterceptor" class="gov.nih.nci.cabig.caaers.audit.AuditInfoPopulatorInterceptor">
		<property name="fromUrl" ref="adverseEventManagementGridServiceUrl" />
	</bean>
	<bean id="adverseEventAssociateAuditInfoPopulatorInterceptor" class="gov.nih.nci.cabig.caaers.audit.AuditInfoPopulatorInterceptor">
		<property name="fromUrl" ref="adverseEventAssociateGridServiceUrl" />
	</bean>
	<bean id="adverseEventAdvancedQueryAuditInfoPopulatorInterceptor" class="gov.nih.nci.cabig.caaers.audit.AuditInfoPopulatorInterceptor">
		<property name="fromUrl" ref="adverseEventAdvancedQueryGridServiceUrl" />
	</bean>	
	<bean id="adverseEventProtocolAuditInfoPopulatorInterceptor" class="gov.nih.nci.cabig.caaers.audit.AuditInfoPopulatorInterceptor">
		<property name="fromUrl" ref="adverseEventProtocolGridServiceUrl" />
	</bean>	
    
	<bean id="adverseEventQueryImpl" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="adverseEventQueryImplTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>

	<bean id="adverseEventManagementImpl" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="adverseEventManagementImplTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>adverseEventManagementAuditInfoPopulatorInterceptor</value>				
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>		

	<bean id="adverseEventAssociateImpl" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="adverseEventAssociateImplTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>adverseEventAssociateAuditInfoPopulatorInterceptor</value>				
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>	

	<bean id="adverseEventAdvancedQueryImpl" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="adverseEventAdvancedQueryImplTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>adverseEventAdvancedQueryAuditInfoPopulatorInterceptor</value>				
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>	

	<bean id="adverseEventProtocolImpl" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="adverseEventProtocolImplTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>adverseEventAdvancedQueryAuditInfoPopulatorInterceptor</value>				
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>

</beans>
