<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="true">

	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-configProperties.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-dao.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-db.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-spring.xml" />
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-security.xml"/>	
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-core-service.xml"/>
	<import resource="classpath*:gov/nih/nci/cabig/caaers/applicationContext-coppa.xml"/>
	
	
	<import resource="classpath*:gov/nih/nci/cabig/caaers/grid/applicationContext-registrationConsumer.xml"/>
	<bean id="coppaCache" class="java.lang.Boolean">
		<constructor-arg value="false"/>
	</bean>
	<bean id="coppaMode" class="java.lang.Boolean">
		<constructor-arg value="false"/>
	</bean>
		

	<bean id="registrationRollbackInterval" class="java.lang.Integer">
		<constructor-arg value="s[grid.registrationconsumer.rollbackInterval]" />
	</bean>
    <bean id="registrationConsumerGridServiceUrl" class="java.lang.String">
        <constructor-arg value="s[grid.registrationconsumer.url]"/>
    </bean>
    
    <bean id="registrationConsumerAuditInfoPopulatorInterceptor" class="gov.nih.nci.cabig.caaers.audit.AuditInfoPopulatorInterceptor">
		<property name="fromUrl" ref="registrationConsumerGridServiceUrl" />
	</bean>
		
	 <bean id="registrationConsumerTarget" class="gov.nih.nci.cabig.caaers.grid.CaaersRegistrationConsumer" autowire="byType">
        <property name="registrationConsumerGridServiceUrl" ref="registrationConsumerGridServiceUrl"/>
     	<property name="rollbackInterval" ref ="registrationRollbackInterval" />
    </bean>
    
	<bean id="registrationConsumer" class="org.springframework.aop.framework.ProxyFactoryBean"> 
		<property name="proxyTargetClass"><value>true</value></property>
		<property name="target"><ref local="registrationConsumerTarget"/></property> 
		<property name="interceptorNames"> 
			<list> 
				<value>runAsAutenticationProviderInterceptor</value>
				<value>registrationConsumerAuditInfoPopulatorInterceptor</value>
				<value>hibernateInterceptor</value> 
			</list> 
		</property> 
	</bean>


</beans>