<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

    <display-name>caAERS web interface</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:gov/nih/nci/cabig/caaers/applicationContext*.xml
            /WEB-INF/applicationContext-acegi-security.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	<listener>
		<listener-class>gov.nih.nci.cabig.caaers.web.rule.ContextListener</listener-class>
	</listener>
	
    <!--
    Checks for presence of grid proxy. If not found, forwards to failureUrl.
    -->
    <!--
    <filter>
        <filter-name>GridProxyFilter</filter-name>
        <filter-class>gov.nih.nci.cabig.ctms.web.sso.GridProxyFilter</filter-class>
        <init-param>
            <param-name>failureUrl</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>ignoreUrlPattern</param-name>
            <param-value>.*\/index.jsp|.*\/pages/login</param-value>
        </init-param>
        <init-param>
            <param-name>gridProxyRetrievalStrategyBeanName</param-name>
            <param-value>gridProxyRetrievalStrategy</param-value>
        </init-param>
        <init-param>
            <param-name>isStrict</param-name>
            <param-value>false</param-value>
        </init-param>        
    </filter>
    
    <filter-mapping>
        <filter-name>GridProxyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>    
    -->

    <filter>
        <filter-name>Sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


	<filter>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<filter-class>
			org.acegisecurity.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetClass</param-name>
			<param-value>
				org.acegisecurity.util.FilterChainProxy
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


    <filter>
        <filter-name>OpenSessionInViewInterceptorFilter</filter-name>
        <filter-class>gov.nih.nci.cabig.caaers.web.OpenSessionInViewInterceptorFilter</filter-class>
        <init-param>
            <param-name>interceptorBeanName</param-name>
            <param-value>openSessionInViewInterceptor</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>OpenSessionInViewInterceptorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>BeansInRequestFilter</filter-name>
        <filter-class>gov.nih.nci.cabig.caaers.web.BeansInRequestFilter</filter-class>
        <init-param>
            <param-name>beanNames</param-name>
            <param-value>configuration</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>BeansInRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <servlet>
        <servlet-name>pages</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pages</servlet-name>
        <url-pattern>/pages/*</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>public</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>public</servlet-name>
        <url-pattern>/public/*</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>dwr-invoker</servlet-name>
      <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
      <init-param>
         <param-name>debug</param-name>
         <param-value>true</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
</web-app>
