<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
        >
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="createAeAjaxFacade" autowire="byType"
          class="gov.nih.nci.cabig.caaers.web.ae.CreateAdverseEventAjaxFacade">
        <property name="reportRepository" ref="reportRepository"/>
        <property name="studySearchableAjaxableDomainObjectRepository"
                  ref="studySearchableAjaxableDomainObjectRepository"/>
        <property name="participantAjaxableDomainObjectRepository" ref="participantAjaxableDomainObjectRepository"/>
    </bean>
	
	<bean id="submitReportAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.ae.SubmitReportAjaxFacade"
		parent="createAeAjaxFacade"/>
	<bean id="routingAndReviewAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.ae.RoutingAndReviewAjaxFacade">
	</bean>
    <bean id="captureAeAjaxFacade" autowire="byType"
          class="gov.nih.nci.cabig.caaers.web.ae.CaptureAdverseEventAjaxFacade" parent="createAeAjaxFacade">
    	<property name="adverseEventReportingPeriodDao" ref="adverseEventReportingPeriodDao"></property>
    </bean>
    <bean id="reviewRpAjaxFacade" autowire="byType"
    	  class="gov.nih.nci.cabig.caaers.web.ae.ReviewEvaluationPeriodAjaxFacade" parent="captureAeAjaxFacade">
   	</bean>
   	<bean id="reviewAeReportAjaxFacade" autowire="byType"
   		  class="gov.nih.nci.cabig.caaers.web.ae.ReviewAeReportAjaxFacade" parent="createAeAjaxFacade">
	</bean>
    <bean id="adverseEventHistoryAjaxFacade" autowire="byType"
          class="gov.nih.nci.cabig.caaers.web.ae.AdverseEventHistoryAjaxFacade">
        <property name="auditHistoryRepository" ref="auditHistoryRepository"/>
    </bean>

    <bean id="studyAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.study.CreateStudyAjaxFacade">
    	<property name="studySiteAjaxableDomainObjectRepository" ref="studySiteAjaxableDomainObjectRepository"/>
    </bean>
    
    <bean id="advSearchAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.search.AdvancedSearchAjaxFacade">
    </bean>

    <bean id="participantAjaxFacade"
          class="gov.nih.nci.cabig.caaers.web.participant.CreateParticipantAjaxFacade">
        <property name="organizationDao" ref="organizationDao"/>
        <property name="organizationRepository" ref="organizationRepository"/>
        <property name="participantAjaxableDomainObjectRepository" ref="participantAjaxableDomainObjectRepository"/>
    </bean>

    <bean id="assignParticipantFacade" autowire="byType"
          class="gov.nih.nci.cabig.caaers.web.participant.AssignParticipantAjaxFacade"/>

    <bean id="investigatorAjaxFacade" autowire="byType"
          class="gov.nih.nci.cabig.caaers.web.admin.InvestigatorAjaxFacade"/>

    <bean id="searchStudyAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.study.SearchStudyAjaxFacade">
        <property name="studySearchableAjaxableDomainObjectRepository"
                  ref="studySearchableAjaxableDomainObjectRepository"/>
    </bean>
    <bean id="ruleAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.rule.RuleAjaxFacade">
    	<property name="repositoryService" ref="jcrService" />
    </bean>
    
    <bean id="meddraAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.admin.MeddraAjaxFacade">
    	<property name="transactionManager" ref="transactionManager"/>
    </bean>
    
    <bean id="searchAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.search.SearchStudyAjaxFacade">
        <property name="studySearchableAjaxableDomainObjectRepository"
                  ref="studySearchableAjaxableDomainObjectRepository"/>
    </bean>
    <bean id="searchParticipantAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.search.SearchParticipantAjaxFacade">
        <property name="participantAjaxableDomainObjectRepository"
                  ref="participantAjaxableDomainObjectRepository"/>
    </bean>
    <bean id="reportAjaxFacade" autowire="byType"
          class="gov.nih.nci.cabig.caaers.web.rule.notification.ReportDefinitionAjaxFacade"/>
    <bean id="indAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.admin.INDAjaxFacade"/>

    <bean id="importAjaxFacade" autowire="byType" class="gov.nih.nci.cabig.caaers.web.admin.ImportAjaxFacade"/>
	
  
	
</beans>