<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
   
	<bean id="ruleAuthoringService"
		class="gov.nih.nci.cabig.caaers.rules.common.spring.CaaersXFireClientFactoryBean">
		<property name="serviceClass" value="gov.nih.nci.cabig.caaers.rules.author.RuleAuthoringService"/>
		<property name="serviceUrl" value="http://localhost:5050/rules/services/RuleAuthoringService"/>
	</bean>   

	<bean id="ruleExecutionService"
		class="gov.nih.nci.cabig.caaers.rules.common.spring.CaaersXFireClientFactoryBean">
		<property name="serviceClass" value="gov.nih.nci.cabig.caaers.rules.runtime.RuleExecutionService"/>
		<property name="serviceUrl" value="http://localhost:5050/rules/services/RuleExecutionService"/>
	</bean>
  
	<bean id="ruleDeploymentService"
		class="gov.nih.nci.cabig.caaers.rules.common.spring.CaaersXFireClientFactoryBean">
		<property name="serviceClass" value="gov.nih.nci.cabig.caaers.rules.deploy.RuleDeploymentService"/>
		<property name="serviceUrl" value="http://localhost:5050/rules/services/RuleDeploymentService"/>
	</bean>
	
</beans>