<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

    <display-name>caAERS web interface</display-name>
    
    <jsp-config>
		<taglib>
			<taglib-uri>http://csm.ncicb.nci.nih.gov/authz</taglib-uri>
			<taglib-location>/WEB-INF/csmauthz.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>>http://gforge.nci.nih.gov/projects/caaers/tags</taglib-uri>
			<taglib-location>/WEB-INF/caaers-tags.tld</taglib-location>
		</taglib>
	</jsp-config>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:gov/nih/nci/cabig/caaers/applicationContext*.xml
            /WEB-INF/applicationContext-acegi-security.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>beringContextConfigLocation</param-name>
        <param-value>
            classpath:gov/nih/nci/cabig/caaers/applicationContext-core-spring.xml
            classpath:gov/nih/nci/cabig/caaers/applicationContext-core-db.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>edu.northwestern.bioinformatics.bering.servlet.SeparateApplicationContextBeringContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>gov.nih.nci.cabig.caaers.web.rule.ContextListener</listener-class>
    </listener>
    <listener>
     <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    

    <filter>
        <filter-name>Sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<filter>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<filter-class>
			org.acegisecurity.util.FilterToBeanProxy
		</filter-class>
		<init-param>
			<param-name>targetClass</param-name>
			<param-value>
				org.acegisecurity.util.FilterChainProxy
			</param-value>	
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter>
        <filter-name>OpenSessionInViewInterceptorFilter</filter-name>
        <filter-class>gov.nih.nci.cabig.caaers.web.OpenSessionInViewInterceptorFilter</filter-class>
        <init-param>
            <param-name>interceptorBeanName</param-name>
            <param-value>openSessionInViewInterceptor</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>OpenSessionInViewInterceptorFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>OpenSessionInViewInterceptorFilter</filter-name>
        <url-pattern>/public/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>OpenSessionInViewInterceptorFilter</filter-name>
        <url-pattern>/dwr/*</url-pattern>
    </filter-mapping>
    
        <filter-mapping>
        <filter-name>OpenSessionInViewInterceptorFilter</filter-name>
        <url-pattern>/services/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>BeansInRequestFilter</filter-name>
        <filter-class>gov.nih.nci.cabig.ctms.web.filters.BeansInRequestFilter</filter-class>
        <init-param>
            <param-name>beanNames</param-name>
            <param-value>configuration, buildInfo</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>BeansInRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
  		<filter-name>AuditInfoFilter</filter-name>
  		<filter-class>gov.nih.nci.cabig.caaers.web.AuditInfoFilter</filter-class>
	</filter>
    <filter-mapping>
        <filter-name>AuditInfoFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
  		<filter-name>eXtremeExport</filter-name>
  		<filter-class>org.extremecomponents.table.filter.ExportFilter</filter-class>
	</filter>
	<filter-mapping>
  		<filter-name>eXtremeExport</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
  		<filter-name>sitemesh</filter-name>
  		<filter-class>org.extremecomponents.table.filter.SitemeshPageFilter</filter-class>
	</filter>
	<filter-mapping>
  		<filter-name>sitemesh</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <servlet>
        <servlet-name>pages</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>pages</servlet-name>
        <url-pattern>/pages/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>public</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>public</servlet-name>
        <url-pattern>/public/*</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>dwr-invoker</servlet-name>
      <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
      <init-param>
         <param-name>debug</param-name>
         <param-value>true</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>XFireServlet</servlet-name>
	    <servlet-class>
        	org.codehaus.xfire.transport.http.XFireConfigurableServlet
    	</servlet-class>
	</servlet>

	 <servlet-mapping>
    	<servlet-name>XFireServlet</servlet-name>
	    <url-pattern>/servlet/XFireServlet/*</url-pattern>
  	</servlet-mapping>

  	<servlet-mapping>
	    <servlet-name>XFireServlet</servlet-name>
    	<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
    
    <error-page>
        <error-code>500</error-code>
        <location>/decorated-error.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/decorated-error.jsp</location>
    </error-page>
    
    <security-constraint>
		<web-resource-collection>
			<web-resource-name>Secure URLs</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<!--  Session Timeout is set to 30 mts. -->
	 <session-config>
      <session-timeout>30</session-timeout> 
    </session-config>

    <!-- JAWR config start -->

        <servlet>
            <servlet-name>JavascriptServlet</servlet-name>
            <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>

            <init-param>
                <param-name>configLocation</param-name>
                <param-value>/jawr.properties</param-value>
            </init-param>
            <load-on-startup>1</load-on-startup>
        </servlet>

        <servlet>
            <servlet-name>CSSServlet</servlet-name>
            <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>

            <!-- Location in classpath of the config file -->
            <init-param>
                <param-name>configLocation</param-name>
                <param-value>/jawr.properties</param-value>
            </init-param>
            <init-param>
                <param-name>type</param-name>
                <param-value>css</param-value>
            </init-param>
            <load-on-startup>1</load-on-startup>
        </servlet>

        <servlet-mapping>
            <servlet-name>JavascriptServlet</servlet-name>
            <url-pattern>*.zjs</url-pattern>
        </servlet-mapping>

        <servlet-mapping>
            <servlet-name>CSSServlet</servlet-name>
            <url-pattern>*.zcss</url-pattern>
        </servlet-mapping>

        <!-- JAWR config end -->

<!-- perf testing configs below -->
<filter>
        <filter-name>infrared</filter-name>
        <filter-class>net.sf.infrared.aspects.servlet.InfraREDServletFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>infrared</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>net.sf.infrared.agent.setup.InfraREDServletContextListener</listener-class>
    </listener>
    
</web-app>
	
