<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean id="authenticationManager"
		class="org.acegisecurity.MockAuthenticationManager" />

	<bean id="testAuthenticationPopulator"
		class="gov.nih.nci.cabig.caaers.security.TestAuthenticationPopulator">
		<property name="username" value="SYSTEM_ADMIN" />
		<property name="password" value="ignored" />
		<property name="authorities">
			<list>
				<value>ROLE_caaers_super_user</value>
			</list>
		</property>
	</bean>
	<!-- 
	<bean id="testCsmGroupAuthorizationCheck"
		class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
		<property name="csmUserProvisioningManager"	ref="csmUserProvisioningManager" />
		<property name="authorizationSwitch" ref="authorizationSwitch"/>
	</bean>
	-->

</beans>