<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/aclstest
		</property>
		<property name="connection.username">aclstest</property>
		<property name="connection.password">aclstest</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="show_sql">true</property>

		<mapping class="gov.nih.nci.security.acegi.acls.dao.beans.AclEntryBean" />
		<mapping class="gov.nih.nci.security.acegi.acls.dao.beans.AclObjectIdentityBean" />
		<mapping class="gov.nih.nci.security.acegi.acls.dao.beans.AclSidBean" />

	</session-factory>

</hibernate-configuration>