/* TODO: some of these may be moved up to common */
form.standard .row {
    font-size: 11px;
}
ul.errors {
    color: #EE3324;
}
.label {
    width: 12em; text-align: right; padding: 4px;
    font-weight: bold; white-space: nowrap;
}
.value, .extra { margin-left: 13em; }
.repeatedGroup {
    border-top: 1px dotted #6E81A6;
    margin: 1em 2em;
}
.repeatedGroup.first {
    border-top: none;
}

#main-fields {
    margin-top: 1.2em;
    padding-top: 0.3em;
    border-top: 1px solid #999;
}
