/* TODO: some of these may be moved up to common */
form.standard .row {
    font-size: 11px;
}
form.standard .disabled {
    background: transparent;
    color: #666;
}
.label {
    width: 9em; text-align: right; padding: 4px;
    font-weight: bold; white-space: nowrap;
}
.medical-label {
    width: 16em; text-align: right; padding: 4px;
    font-weight: bold; white-space: nowrap; font-weight: bold; float: left; margin-left: 0.5em
}

.value, .extra { margin-left: 11em; }
.text { padding: 4px; margin-left: 11em;}
/*
.repeatedGroup {
    border-top: 1px dotted #6E81A6;
    margin: 1em 2em;
}
*/

.main-fields {
    float: left;
    width: 30em;
    border-left: 1px solid #999;
}

.ctc-details {
    padding-right: 1.2em;
    float: left;
    width: 40em;
}
