/* TODO: some of these may be moved up to common */
div.row div.label {
    width: 9em;
}

div.row div.value, div.row div.extra { margin-left: 11em; }
div.row div.extra {
    padding-top: 0.3em;
}

.main-fields {
    float: left;
    width: 30em;
    border-left: 1px solid #999;
    margin-bottom: 0.5em;
}

.ctc-details {
    padding-right: 1.2em;
    float: left;
    width: 45em;
}
