/* BEGIN omnipotent-button type="anchor" core CSS */
a.omnipotent-button {
	height: 31px;
	padding:0 8px;
	background-image:url(../images/buttons/buttons-bg-sprite.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:19px;
	color:white;
	text-decoration:none;
	line-height:30px;
	margin:0 2px;
	display:inline-block;
	cursor:default;
}
a.omnipotent-button .right {
	background-color:white;
	background-image:url(../images/buttons/buttons-bg-sprite.png);
	background-repeat:no-repeat;
	display:block;
	height:31px;
	position:absolute;
	right:2px;
	top:3px;
	width:3px;
}
a.omnipotent-button img {
	vertical-align:text-top;
}
/* a.omnipotent-button:hover {
	color:#2f2f2f;
}
a.omnipotent-button:active {
	color:white;
} */
a.omnipotent-button .right, x:-moz-any-link {
	right:0px;
	top:4px;
}
a.omnipotent-button .right, x:-moz-any-link, x:default {
	right:0px;
	top:0px;
}

/* END omnipotent-button type="anchor" core CSS */

/* BEGIN omnipotent-button type="anchor" color="red" */
a.omnipotent-button.red, a.omnipotent-button.red:link {
	background-position:0 0;
}
a.omnipotent-button.red .right, a.omnipotent-button.red:link .right {
	background-position:-547px 0;
}
a.omnipotent-button.red:hover {
	background-position:0 -31px;
}
a.omnipotent-button.red:hover .right {
	background-position:-547px -31px;
}
a.omnipotent-button.red:active {
	background-position:0 -62px;
}
a.omnipotent-button.red:active .right {
	background-position:-547px -62px;
}
/* END omnipotent-button type="anchor" color="red" */

/* BEGIN omnipotent-button type="anchor" color="green" */
a.omnipotent-button.green, a.omnipotent-button.green:link {
	background-position:0 -93px;
}
a.omnipotent-button.green .right, a.omnipotent-button.green:link .right {
	background-position:-547px -93px;
}
a.omnipotent-button.green:hover {
	background-position:0 -124px;
}
a.omnipotent-button.green:hover .right {
	background-position:-547px -124px;
}
a.omnipotent-button.green:active {
	background-position:0 -155px;
}
a.omnipotent-button.green:active .right {
	background-position:-547px -155px;
}
/* END omnipotent-button type="anchor" color="green" */

/* BEGIN omnipotent-button type="anchor" color="blue" */
a.omnipotent-button.blue, a.omnipotent-button.blue:link {
	background-position:0 -186px;
}
a.omnipotent-button.blue .right, a.omnipotent-button.blue:link .right {
	background-position:-547px -186px;
}
a.omnipotent-button.blue:hover {
	background-position:0 -217px;
}
a.omnipotent-button.blue:hover .right {
	background-position:-547px -217px;
}
a.omnipotent-button.blue:active {
	background-position:0 -248px;
}
a.omnipotent-button.blue:active .right {
	background-position:-547px -248px;
}
/* END omnipotent-button type="anchor" color="blue" */

/* BEGIN omnipotent-button type="anchor" color="orange" */
a.omnipotent-button.orange, a.omnipotent-button.orange:link {
	background-position:0 -279px;
}
a.omnipotent-button.orange .right, a.omnipotent-button.orange:link .right {
	background-position:-547px -279px;
}
a.omnipotent-button.orange:hover {
	background-position:0 -310px;
}
a.omnipotent-button.orange:hover .right {
	background-position:-547px -310px;
}
a.omnipotent-button.orange:active {
	background-position:0 -341px;
}
a.omnipotent-button.orange:active .right {
	background-position:-547px -341px;
}
/* END omnipotent-button type="anchor" color="orange" */

/* Begin omnipotent-button type="anchor" size="small" core CSS*/
a.omnipotent-button.small {
	height: 20px;
	padding:3px 5px;
	background-image:url(../images/buttons/buttons-small-bg-sprite.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:11px;
	color:white;
	text-decoration:none;
	vertical-align:middle;
	line-height:20px;
	display:inline;
}
a.omnipotent-button.small.no-icon {
	padding:3px 5px 4px;
}

a.omnipotent-button.small .right {
	background-color:white;
	background-image:url(../images/buttons/buttons-small-bg-sprite.png);
	background-repeat:no-repeat;
	display:block;
	height:20px;
	position:absolute;
	right:0px;
	top:0px;
	width:3px;
}
a.omnipotent-button.small .right, x:-moz-any-link {
	right:-3px;
}
a.omnipotent-button.small .right, x:-moz-any-link, x:default {
	right:0px;
}
/* END omnipotent-button type="anchor" size="small" core CSS*/

/* BEGIN omnipotent-button type="anchor" size="small" color="red" */
a.omnipotent-button.small.red, a.omnipotent-button.small.red:link {
	background-position:0 0;
}
a.omnipotent-button.small.red .right, a.omnipotent-button.small.red:link .right {
	background-position:-547px 0;
}
a.omnipotent-button.small.red:hover {
	background-position:0 -20px;
}
a.omnipotent-button.small.red:hover .right {
	background-position:-547px -20px;
}
a.omnipotent-button.small.red:active {
	background-position:0 -40px;
}
a.omnipotent-button.small.red:active .right {
	background-position:-547px -40px;
}
/* END omnipotent-button type="anchor" size="small" color="red" */

/* BEGIN omnipotent-button type="anchor" size="small" color="green" */
a.omnipotent-button.small.green, a.omnipotent-button.small.green:link {
	background-position:0 -60px;
}
a.omnipotent-button.small.green .right, a.omnipotent-button.small.green:link .right {
	background-position:-547px -60px;
}
a.omnipotent-button.small.green:hover {
	background-position:0 -80px;
}
a.omnipotent-button.small.green:hover .right {
	background-position:-547px -80px;
}
a.omnipotent-button.small.green:active {
	background-position:0 -100px;
}
a.omnipotent-button.small.green:active .right {
	background-position:-547px -100px;
}
/* END omnipotent-button type="anchor" size="small" color="green" */

/* BEGIN omnipotent-button type="anchor" size="small" color="blue" */
a.omnipotent-button.small.blue, a.omnipotent-button.small.blue:link {
	background-position:0 -120px;
}
a.omnipotent-button.small.blue .right, a.omnipotent-button.small.blue:link .right {
	background-position:-547px -120px;
}
a.omnipotent-button.small.blue:hover {
	background-position:0 -140px;
}
a.omnipotent-button.small.blue:hover .right {
	background-position:-547px -140px;
}
a.omnipotent-button.small.blue:active {
	background-position:0 -160px;
}
a.omnipotent-button.small.blue:active .right {
	background-position:-547px -160px;
}
/* END omnipotent-button type="anchor" size="small" color="blue" */

/* BEGIN omnipotent-button type="anchor" size="small" color="orange" */
a.omnipotent-button.small.orange, a.omnipotent-button.small.orange:link {
	background-position:0 -180px;
}
a.omnipotent-button.small.orange .right, a.omnipotent-button.small.orange:link .right {
	background-position:-547px -180px;
}
a.omnipotent-button.small.orange:hover {
	background-position:0 -200px;
}
a.omnipotent-button.small.orange:hover .right {
	background-position:-547px -200px;
}
a.omnipotent-button.small.orange:active {
	background-position:0 -220px;
}
a.omnipotent-button.small.orange:active .right {
	background-position:-547px -220px;
}
/* END omnipotent-button type="anchor" size="small" color="orange" */

/* #--------------------------------------------------------------------------

/* Begin omnipotent-button type="button" core CSS*/
button.omnipotent-button {
	behavior: url('/caaers/js/button-pseudoclass-IE-hack.htc');
	height: 31px;
	padding:4px 6px 2px 6px;
	background-image:url(../images/buttons/buttons-bg-sprite.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:19px;
	color:white;
	text-decoration:none;
} 
button::-moz-focus-inner { border: none;} 
button.omnipotent-button.red[disabled], button.omnipotent-button.red[disabled] .right,
button.omnipotent-button.red[disabled]:hover, button.omnipotent-button.red[disabled]:hover .right,
button.omnipotent-button.red[disabled]:active, button.omnipotent-button.red[disabled]:active .right,
button.omnipotent-button.green[disabled], button.omnipotent-button.green[disabled] .right,
button.omnipotent-button.green[disabled]:hover, button.omnipotent-button.green[disabled]:hover .right,
button.omnipotent-button.green[disabled]:active, button.omnipotent-button.green[disabled]:active .right,
button.omnipotent-button.blue[disabled], button.omnipotent-button.blue[disabled] .right,
button.omnipotent-button.blue[disabled]:hover, button.omnipotent-button.blue[disabled]:hover .right,
button.omnipotent-button.blue[disabled]:active, button.omnipotent-button.blue[disabled]:active .right,
button.omnipotent-button.orange[disabled], button.omnipotent-button.orange[disabled] .right,
button.omnipotent-button.orange[disabled]:hover, button.omnipotent-button.orange[disabled]:hover .right,
button.omnipotent-button.orange[disabled]:active, button.omnipotent-button.orange[disabled]:active .right {
	background-image:url(../images/buttons/button-disabled.png);
}
button.omnipotent-button[disabled] img {
	opacity:0.4;
 	filter:alpha(opacity=40);
}
button.omnipotent-button.no-icon {
	padding:3px 6px 4px;
}
button.omnipotent-button .right {
	background-color:white;
	background-image:url(../images/buttons/buttons-bg-sprite.png);
	background-repeat:no-repeat;
	display:block;
	height:31px;
	position:absolute;
	right:9px;
	top:-4px;
	width:3px;
}
button.omnipotent-button .right, x:-moz-any-link {
	right:-9px;
	top:-4px;
}
button.omnipotent-button .right, x:-moz-any-link, x:default {
	right:8px;
	top:-5px;
}
button.omnipotent-button img {
	vertical-align:top;
}
/*
button.omnipotent-button:hover, button.omnipotent-button.hover {
	 color:#2f2f2f;
} 
button.omnipotent-button:active, button.omnipotent-button.active {
	color:white;
} 
/* END omnipotent-button type="button" core CSS*/

/* BEGIN omnipotent-button type="button" color="red" */
button.omnipotent-button.red, button.omnipotent-button.red:link {
	background-position:0 0;
}
button.omnipotent-button.red .right, button.omnipotent-button.red:link .right {
	background-position:-547px 0;
}
button.omnipotent-button.red:hover, button.omnipotent-button.red.hover {
	background-position:0 -31px;
}
button.omnipotent-button.red:hover .right, button.omnipotent-button.red.hover .right {
	background-position:-547px -31px;
}
button.omnipotent-button.red:active, button.omnipotent-button.red.active {
	background-position:0 -62px;
}
button.omnipotent-button.red:active .right, button.omnipotent-button.red.active .right {
	background-position:-547px -62px;
}
/* END omnipotent-button type="button" color="red" */

/* BEGIN omnipotent-button type="button" color="green" */
button.omnipotent-button.green, button.omnipotent-button.green:link {
	background-position:0 -93px;
}
button.omnipotent-button.green .right, button.omnipotent-button.green:link .right {
	background-position:-547px -93px;
}
button.omnipotent-button.green:hover, button.omnipotent-button.green.hover {
	background-position:0 -124px;
}
button.omnipotent-button.green:hover .right, button.omnipotent-button.green.hover .right {
	background-position:-547px -124px;
}
button.omnipotent-button.green:active, button.omnipotent-button.green.active {
	background-position:0 -155px;
}
button.omnipotent-button.green:active .right, button.omnipotent-button.green.active .right {
	background-position:-547px -155px;
}
/* END omnipotent-button type="button" color="green" */

/* BEGIN omnipotent-button type="button" color="blue" */
button.omnipotent-button.blue, button.omnipotent-button.blue:link {
	background-position:0 -186px;
}
button.omnipotent-button.blue .right, button.omnipotent-button.blue:link .right {
	background-position:-547px -186px;
}
button.omnipotent-button.blue:hover, button.omnipotent-button.blue.hover {
	background-position:0 -217px;
}
button.omnipotent-button.blue:hover .right, button.omnipotent-button.blue.hover .right {
	background-position:-547px -217px;
}
button.omnipotent-button.blue:active, button.omnipotent-button.blue.active {
	background-position:0 -248px;
}
button.omnipotent-button.blue:active .right, button.omnipotent-button.blue.active .right {
	background-position:-547px -248px;
}
/* END omnipotent-button type="button" color="blue" */
	
/* BEGIN omnipotent-button type="button" color="orange" */
button.omnipotent-button.orange, button.omnipotent-button.orange:link {
	background-position:0 -279px;
}
button.omnipotent-button.orange .right, button.omnipotent-button.orange:link .right {
	background-position:-547px -279px;
}
button.omnipotent-button.orange:hover, button.omnipotent-button.orange.hover {
	background-position:0 -310px;
}
button.omnipotent-button.orange:hover .right, button.omnipotent-button.orange.hover .right {
	background-position:-547px -310px;
}
button.omnipotent-button.orange:active, button.omnipotent-button.orange.active {
	background-position:0 -341px;
}
button.omnipotent-button.orange:active .right, button.omnipotent-button.orange.active .right {
	background-position:-547px -341px;
}
/* END omnipotent-button type="button" color="orange" */

/* Begin omnipotent-button type="button" size="small" core CSS*/
button.omnipotent-button.small {
	behavior: url('/caaers/js/button-pseudoclass-IE-hack.htc');
	height: 20px;
	padding:2px 5px 1px 5px;
	background-image:url(../images/buttons/buttons-small-bg-sprite.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:11px;
	color:white;
	text-decoration:none;
	vertical-align:middle;
}
button.omnipotent-button.small.no-icon {
	padding:1px 5px 4px;
}

button.omnipotent-button.small .right {
	background-color:white;
	background-image:url(../images/buttons/buttons-small-bg-sprite.png);
	background-repeat:no-repeat;
	display:block;
	height:20px;
	position:absolute;
	right:8px;
	top:-3px;
	width:3px;
}
button.omnipotent-button.small .right, x:-moz-any-link {
	right:-8px;
	top:-2px;
}
button.omnipotent-button.small .right, x:-moz-any-link, x:default {
	right:7px;
}
/* END omnipotent-button type="button" size="small" core CSS*/

/* BEGIN omnipotent-button type="button" size="small" color="red" */
button.omnipotent-button.small.red, button.omnipotent-button.small.red:link {
	background-position:0 0;
}
button.omnipotent-button.small.red .right, button.omnipotent-button.small.red:link .right {
	background-position:-547px 0;
}
button.omnipotent-button.small.red:hover, button.omnipotent-button.small.red.hover {
	background-position:0 -20px;
}
button.omnipotent-button.small.red:hover .right, button.omnipotent-button.small.red.hover .right {
	background-position:-547px -20px;
}
button.omnipotent-button.small.red:active, button.omnipotent-button.small.red.active {
	background-position:0 -40px;
}
button.omnipotent-button.small.red:active .right, button.omnipotent-button.small.red.active .right {
	background-position:-547px -40px;
}
/* END omnipotent-button type="button" size="small" color="red" */

/* BEGIN omnipotent-button type="button" size="small" color="green" */
button.omnipotent-button.small.green, button.omnipotent-button.small.green:link {
	background-position:0 -60px;
}
button.omnipotent-button.small.green .right, button.omnipotent-button.small.green:link .right {
	background-position:-547px -60px;
}
button.omnipotent-button.small.green:hover, button.omnipotent-button.small.green.hover {
	background-position:0 -80px;
}
button.omnipotent-button.small.green:hover .right, button.omnipotent-button.small.green.hover .right {
	background-position:-547px -80px;
}
button.omnipotent-button.small.green:active, button.omnipotent-button.small.green.active {
	background-position:0 -100px;
}
button.omnipotent-button.small.green:active .right, button.omnipotent-button.small.green.active .right {
	background-position:-547px -100px;
}
/* END omnipotent-button type="button" size="small" color="green" */

/* BEGIN omnipotent-button type="button" size="small" color="blue" */
button.omnipotent-button.small.blue, button.omnipotent-button.small.blue:link {
	background-position:0 -120px;
}
button.omnipotent-button.small.blue .right, button.omnipotent-button.small.blue:link .right {
	background-position:-547px -120px;
}
button.omnipotent-button.small.blue:hover, button.omnipotent-button.small.blue.hover {
	background-position:0 -140px;
}
button.omnipotent-button.small.blue:hover .right, button.omnipotent-button.small.blue.hover .right {
	background-position:-547px -140px;
}
button.omnipotent-button.small.blue:active, button.omnipotent-button.small.blue.active {
	background-position:0 -160px;
}
button.omnipotent-button.small.blue:active .right, button.omnipotent-button.small.blue.active .right {
	background-position:-547px -160px;
}
/* END omnipotent-button type="button" size="small" color="blue" */

/* BEGIN omnipotent-button type="button" size="small" color="orange" */
button.omnipotent-button.small.orange, button.omnipotent-button.small.orange:link {
	background-position:0 -180px;
}
button.omnipotent-button.small.orange .right, button.omnipotent-button.small.orange:link .right {
	background-position:-547px -180px;
}
button.omnipotent-button.small.orange:hover, button.omnipotent-button.small.orange.hover {
	background-position:0 -200px;
}
button.omnipotent-button.small.orange:hover .right, button.omnipotent-button.small.orange.hover .right {
	background-position:-547px -200px;
}
button.omnipotent-button.small.orange:active, button.omnipotent-button.small.orange.active {
	background-position:0 -220px;
}
button.omnipotent-button.small.orange:active .right, button.omnipotent-button.small.orange.active .right {
	background-position:-547px -220px;
}
/* END omnipotent-button type="button" size="small" color="orange" */