/* TODO: these styles should be consolidated into common.css, or removed */

/* top page search */
.search { margin: 0; }

.search td { white-space: nowrap; margin: 0; font-weight: normal; padding: 0 3px 0 0; }
.search .notation { font-weight: normal; }
.search .searchType { padding: 1px 5px 0 0; }
.search .labels { padding: 0 5px 0 1px; font-size: 9px; color: #3B73B9; }
.search select { font-size: 11px; }
.search .field1 { border: 1px solid #CCCCCC; background: #FFFFFF; height: 18px; font-size: 11px; line-height: 18px; margin: 0; }
.search .field2 { border: 1px solid #CCCCCC; background: #FFFFFF; width: 8px; height: 18px; font-size: 11px; line-height: 18px; margin: 0; }