input, label, select, textarea {
  vertical-align: baseline;
  margin: 0; padding: 0;
}
input[type=text], input[type=password], select, textarea {
  background-color: #f4f4f5;
  border: 1px inset #ccc;
  padding: 2px;
    border-color : #809eba;
    border-style : solid;
    border-width : 1px;
    font-family: Arial;
    font-size:12px;

}
input[disabled], select[disabled], textarea[disabled] {
  border-color: #ddc;
  background-color: #ddc;
}
input[type=button], input[type=submit], input[type=reset] {
  color: white;
  background-color: #3876C1;
  background-image:url(/caaers/images/blue/button_bg.jpg);
  border: 1px solid #3876c1;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	background-image:none;
	background-color:#eee;
	color:#000;
	outline:none;
	border: 1px solid #3876c1;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
	background-image:none;
	background-color:#333333;
	color:#fff;
	outline:none;
	border: 1px solid #ccc;
}

/*
    Styles for scriptaculous-generated autocompleters
 */
div.autocomplete {
	z-index: 3; /* To handle the overlapping issue*/
    position: absolute;
    background-color: white;
    border: 1px solid #888;
    border-top-width: 0;
    margin: 0;
    padding: 0;
    white-space: normal;
}
div.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.autocomplete ul li.selected {
	background-color: #314993;
	color: #fff;
}
div.autocomplete ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
    border-style: solid;
    border-color: #888;
    border-width: 1px 0 0 0;
    cursor: pointer;
}
input.autocomplete{
    font-style: normal;
    background-color: #CCE6FF;
}
input.pending-search {
    color: gray;
    font-style: italic;
    background-color: #CCE6FF;
}

/*
    SELECT-equivalent groups of radio buttons
 */
.longselect {
    border: 1px inset #ccc; 
}
.longselect label {
    display: block;
    padding: 0.2em 0.5em;
    /* next two properties combine to give a hanging indent */
    text-indent: -1.3em;
    padding-left: 1.8em;
    background-color: #f4f4f5;
}
.longselect label:hover {
    background-color: #D7E7ED;
}
/*
 Added for split date fields
*/
table.split-date-wrap td label {
	display:block;
}
input[type="text"].required, input[type="password"].required, select.required, textarea.required {
	background-color:#FF9F9F;
}