body {
	/* Have to use _all_ relative units 
     for the browser font setting to work on IE6. */
  font-size: 80%;
  background: url(../images/blue/bg_ie.jpg) repeat-y center #314993;
}

/* Force hasLayout */
* html div.row, * html .autoclear { height: 1% }
#workflow-tabs { height: 1%; }


.pane {
	/* Fix the issue of summary not aligned properly */
	clear:both;
}

div.row {
    clear:both;
}