.tabpane {
    margin: 0;
}

.tabcontrols {
    margin: 1em;
}

.tabcontrols a {
    display: block;
    background-color: #6E81A6;
    color: #fff;
    padding: 4px;
    text-decoration: none;
    cursor: pointer; /* don't know why this is necessary */
}

#flow-next {
    float: right;
}

#flow-prev {
    float: left;
}
