<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" default-autowire="no">
	
	<!--  This bean that implements the service  -->	
	<bean id="schedulerService" class="gov.nih.nci.cabig.caaers.scheduler.runtime.SchedulerServiceImpl" >
		<property name="scheduler" ><ref bean="schedulerFactory" /> </property>
		
		<!-- The mapping is used to identify the correct job class implementation -->
		<property name="jobClassMapping">
			<map>
				<entry key="gov.nih.nci.cabig.caaers.domain.notification.ScheduledEmailNotification"
					   value="gov.nih.nci.cabig.caaers.scheduler.runtime.job.ReminderEmailJob" />
			</map>
		</property>
		<property name="reportScheduleDao"><ref bean="reportScheduleDao" />	</property>
	</bean>
	
</beans>
