<!--
  Copyright SemanticBits, Northwestern University and Akaza Research
  
  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/caaers/LICENSE.txt for details.
-->
﻿<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  
  <!-- for testing, purge the log on each run -->
  <appender name="file" class="org.apache.log4j.RollingFileAppender">
 	<param name="maxBackupIndex" value="20"/>
    <param name="file" value="${catalina.home}/logs/wsrf-caaers.log"/>
	<param name="threshold" value="DEBUG"/>
    <param name="append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="conversionPattern" value="caAERS-wsrf-%d [%15t] %-5p %c %x: %m%n"/>
    </layout>
  </appender>
 
 	<logger name="gov.nih.nci"><level value="debug"/></logger>	
 	
  <root>
    <priority value="error"/>
    <appender-ref ref="file"/>
  </root>
</log4j:configuration>
