<?xml version="1.0" encoding="UTF-8"?>
<!--
    This applicationContext contains the definition of the default implementations
    of the public API services.
-->

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" default-autowire="no">

	<tx:annotation-driven proxy-target-class="true"/>

	<bean id="jcrSessionFactory" class="org.springmodules.jcr.JcrSessionFactory" autowire="byType">
		<property name="repository" ref="repository"/>
	</bean>

	
	
	<!-- configuring the default repository -->
	<!--
	<bean id="repository" class="org.springmodules.jcr.jackrabbit.RepositoryFactoryBean" autowire="byType">
		<property name="homeDir" value="/repo"/>
		<property name="configuration" value="classpath:gov/nih/nci/cabig/caaers/jackrabbit-repo.xml"/>
	</bean>
-->

	<!-- configuring a 'transient' repository (automatically starts when a session is opened 
		and shutdowns when all sessions are closed) -->
	
	<bean id="repository" class="org.springmodules.jcr.jackrabbit.TransientRepositoryFactoryBean">
		<property name="configuration" value="classpath:gov/nih/nci/cabig/caaers/jackrabbit-repo-postgresql.xml"/>
		<property name="homeDir" value="/repo"/>
	</bean>


	<bean id="transactionManager"
		class="org.springmodules.jcr.jackrabbit.LocalTransactionManager" autowire="byType">
		<property name="sessionFactory" ref="jcrSessionFactory"/>
	</bean>

	<bean id="jcrTransactionManager"
		class="org.springmodules.jcr.jackrabbit.LocalTransactionManager" autowire="byType">
		<property name="sessionFactory" ref="jcrSessionFactory"/>
	</bean>
	

	<!-- transaction proxy for Jcr services/facades -->

	<bean id="txProxyTemplate" abstract="true" 
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" autowire-candidate="false">
		<property name="proxyTargetClass" value="true"/>
		<property name="transactionManager" ref="jcrTransactionManager"/>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED, readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="jcrTemplate" class="org.springmodules.jcr.JcrTemplate" autowire="byType">
		<property name="sessionFactory" ref="jcrSessionFactory"/>
		<property name="allowCreate" value="true"/>
	</bean>

	<!--	
		<bean id="jcrService" parent="txProxyTemplate" autowire="byType">
		<property name="target">
		<bean class="gov.nih.nci.cabig.caaers.rules.jbossrules.repository.RepositoryServiceImpl" autowire="byType">
		<property name="template" ref="jcrTemplate"/>
		</bean>
		</property>
		</bean>
	-->
	<bean id="jcrService" class="gov.nih.nci.cabig.caaers.rules.jbossrules.repository.RepositoryServiceImpl" autowire="byType">
		<property name="template" ref="jcrTemplate"/>
	</bean>
	
</beans>