<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"/>
    <bean id="authCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean" 
    	p:cacheManager-ref="cacheManager"/>
    <bean id="authorizationDecisionCache" class="gov.nih.nci.cabig.caaers.web.tags.csm.AuthorizationDecisionCache"
    	p:decisionCache-ref="authCache"/>

	<!--
		This map defines rules for filtering granted authorities by FabricatedAuthenticationFilter.  
		Key is an URL to the protected page. Value is an entity's fully qualified class name along with a request parameter name, which holds the entity's ID.
	 -->
	<util:map id="filterByURLAndEntityMap">
		<entry key="/pages/admin/editResearchStaff" value="gov.nih.nci.cabig.caaers.ResearchStaff:researchStaffId"/>
		<entry key="/pages/admin/editInvestigator" value="gov.nih.nci.cabig.caaers.domain.Investigator:investigatorId"/>
		<entry key="/pages/study/edit" value="gov.nih.nci.cabig.caaers.domain.Study:studyId" />
		<entry key="/pages/study/export" value="gov.nih.nci.cabig.caaers.domain.Study:id" />
		<entry key="/pages/admin/editOrganization" value="gov.nih.nci.cabig.caaers.domain.Organization:organizationId"/>
	</util:map>
	
	<util:map id="filterByURLAndRoleListMap">		
		<entry key="/pages/admin/createResearchStaff" value="person_and_organization_information_manager,user_administrator,data_reader"/>
		<entry key="/pages/admin/editResearchStaff" value="person_and_organization_information_manager,user_administrator,data_reader"/>
		<entry key="/pages/admin/searchResearchStaff" value="person_and_organization_information_manager,user_administrator,data_reader"/>
		<entry key="/dwr/call/plaincall/search.getResearchStaffTable.dwr" value="person_and_organization_information_manager,user_administrator,data_reader"/>
		<entry key="/pages/admin/createInvestigator" value="person_and_organization_information_manager,user_administrator,data_reader"/>
		<entry key="/pages/admin/editInvestigator" value="person_and_organization_information_manager,user_administrator,data_reader"/>
		<entry key="/pages/admin/searchInvestigator" value="person_and_organization_information_manager,user_administrator,data_reader"/>
		<entry key="/dwr/call/plaincall/search.getInvestigatorTable.dwr" value="person_and_organization_information_manager,user_administrator,data_reader"/>
		<entry key="/pages/admin/searchOrganization" value="person_and_organization_information_manager,data_reader"/>
		<entry key="/dwr/call/plaincall/search.getOrganizationTable.dwr" value="person_and_organization_information_manager,data_reader"/>
		<entry key="/pages/admin/createOrganization" value="person_and_organization_information_manager,data_reader"/>
        <entry key="/pages/admin/editOrganization" value="person_and_organization_information_manager,data_reader"/>
		<entry key="/pages/admin/configure" value="system_administrator,data_reader, business_administrator"/>
		<entry key="/pages/admin/passwordPolicyConfigure" value="system_administrator,data_reader"/>
		<entry key="/pages/admin/mandatoryFields" value="business_administrator,data_reader"/>        
		<entry key="/pages/admin/trackReports" value="system_administrator,business_administrator,data_reader"/>		
		<entry key="/pages/admin/asaelSearch" value="business_administrator,data_reader"/>
		<entry key="/pages/admin/asaelCreate" value="business_administrator,data_reader"/>
        <entry key="/admin/asaelEdit" value="business_administrator,data_reader" />
        <entry key="/pages/admin/import" value="data_importer"/>
        <entry key="/pages/admin/createIND" value="business_administrator,data_reader"/>
        <entry key="/pages/admin/searchIND" value="business_administrator,data_reader"/>

		<entry key="/pages/participant/create" value="subject_manager,registrar" />
        <entry key="/pages/participant/search" value="registration_qa_manager,subject_manager,registrar,data_reader"/>
        <entry key="/pages/participant/assignParticipant" value="registrar" />
		<entry key="/pages/participant/edit" value="registration_qa_manager,subject_manager,registrar,data_reader" />
		<entry key="/pages/participant/view" value="registration_qa_manager,subject_manager,registrar,data_reader" />
		
		<entry key="/pages/study/create" value="study_creator,study_qa_manager,supplemental_study_information_manager,study_team_administrator,study_site_participation_administrator,data_reader" />
		<entry key="/pages/study/view" value="study_creator,study_qa_manager,supplemental_study_information_manager,study_team_administrator,study_site_participation_administrator,data_reader" />
		<entry key="/pages/study/search" value="study_creator,study_qa_manager,supplemental_study_information_manager,study_team_administrator,study_site_participation_administrator,data_reader" />
		<entry key="/dwr/call/plaincall/searchStudy.getStudiesTable.dwr" value="study_creator,study_qa_manager,supplemental_study_information_manager,study_team_administrator,study_site_participation_administrator,data_reader" /> 
		<entry key="/pages/study/edit" value="study_creator,study_qa_manager,supplemental_study_information_manager,study_team_administrator,study_site_participation_administrator,data_reader" />
        <entry key="/pages/study/studyAgentIND" value="study_creator,study_qa_manager,supplemental_study_information_manager,study_team_administrator,study_site_participation_administrator,data_reader" />
        <entry key="/pages/study/export" value="study_creator,study_qa_manager,supplemental_study_information_manager,study_team_administrator,study_site_participation_administrator" />
        <entry key="/pages/ae/blankForm" value="study_creator,study_qa_manager,supplemental_study_information_manager,study_team_administrator,study_site_participation_administrator,data_reader" />		

        <entry key="/pages/ae/list" value="ae_reporter,data_reader" />
		<entry key="/pages/ae/captureRoutine" value="ae_reporter,data_reader" />
		<entry key="/pages/ae/reviewResolver" value="ae_reporter,ae_expedited_report_reviewer,ae_study_data_reviewer,data_reader" />
		<entry key="/pages/ae/reviewEvaluationPeriod" value="ae_reporter,ae_expedited_report_reviewer,ae_study_data_reviewer,data_reader" />
		<entry key="/pages/ae/reviewAeReport" value="ae_reporter,ae_expedited_report_reviewer,ae_study_data_reviewer,data_reader" />
		<entry key="/pages/ae/submitReport" value="ae_reporter,data_reader" />		        
		<entry key="/pages/ae/edit" value="ae_reporter,data_reader" />        
		<entry key="/pages/ae/routingAndReview" value="ae_reporter,ae_expedited_report_reviewer,ae_study_data_reviewer,data_reader" />
		<entry key="/pages/ae/generateExpeditedfPdf" value="ae_reporter,ae_expedited_report_reviewer,ae_study_data_reviewer,data_reader" />
        <entry key="/pages/ae/aeModuleResolverController" value="ae_reporter,ae_expedited_report_reviewer,ae_study_data_reviewer,data_reader"  />
        
        <entry key="/pages/search/exportSearchResults" value="data_reader,data_analyst"/>
        <entry key="/pages/search/advancedSearch" value="data_reader,data_analyst"/>
        <entry key="/pages/search/listSearch" value="data_reader,data_analyst"/>   
        
		<entry key="/pages/rule/create" value="ae_rule_and_report_manager,data_reader"/>
        <entry key="/pages/rule/createOptions" value="ae_rule_and_report_manager,data_reader"/>
		<entry key="/pages/rule/list" value="ae_rule_and_report_manager,data_reader"/>
        <entry key="/pages/rule/util" value="ae_rule_and_report_manager,data_reader"/>
		<entry key="/pages/rule/addRule" value="ae_rule_and_report_manager,data_reader"/>
		<entry key="/pages/rule/addColumn" value="ae_rule_and_report_manager,data_reader"/>
		<entry key="/pages/rule/export" value="ae_rule_and_report_manager,data_reader"/>
        <entry key="/pages/rule/deploy" value="ae_rule_and_report_manager,data_reader"/>
        
		<entry key="/pages/rule/notification/create" value="ae_rule_and_report_manager,data_reader"/>
        <entry key="/pages/rule/notification/edit" value="ae_rule_and_report_manager,data_reader"/>
		<entry key="/pages/rule/notification/list" value="ae_rule_and_report_manager,data_reader"/>
		<entry key="/pages/rule/notification/import" value="ae_rule_and_report_manager,data_reader"/>
        <entry key="/pages/rule/notification/export" value="ae_rule_and_report_manager,data_reader"/>
        <entry key="/pages/rule/notification/createConfigProperty" value="ae_rule_and_report_manager,data_reader"/>             	

        <entry key="/dwr/call/plaincall/createAE.matchStudies.dwr" value="data_reader,ae_reporter,study_data_reviewer,expdited_report_reviewer" /> 
        <entry key="/dwr/call/plaincall/createAE.matchParticipants.dwr" value="data_reader,ae_reporter" /> 
        <entry key="/dwr/call/plaincall/routingAndReview.matchSites.dwr" value="data_reader,ae_reporter" /> 
        <entry key="/dwr/call/plaincall/search.buildParticipantTable.dwr" value="subject_manager,data_reader,registrar,registration_qa_manager" /> 
        <entry key="/dwr/call/plaincall/createParticipant.getParticipantTable.dwr" value="registrar" /> 
        <entry key="/dwr/call/plaincall/searchStudy.getTableForAssignParticipant.dwr" value="registrar" /> 
        <entry key="/pages/participant/create" value="subject_manager,registrar" /> 
 		
	</util:map>
	

	<util:map id="taskObjectPrivilegeMap">
        <!--========== TASK PAGE ===========-->
        <entry key="/pages/task" value="gov.nih.nci.cabig.caaers.Task:ACCESS"/>
        <entry key="/pages/dashboard" value="gov.nih.nci.cabig.caaers.Task:ACCESS"/>

        <!--========== PARTICIPANT ===========-->
		<entry key="/pages/participant/create" value="gov.nih.nci.cabig.caaers.domain.Participant:CREATE &amp;&amp; gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:CREATE" />
        <entry key="/pages/participant/search" value="gov.nih.nci.cabig.caaers.domain.Participant:READ"/>
        <entry key="/pages/participant/assignParticipant" value="gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:CREATE" />

		<entry key="/pages/participant/edit" value="gov.nih.nci.cabig.caaers.domain.Participant:READ" />
		<entry key="/pages/participant/view" value="gov.nih.nci.cabig.caaers.domain.Participant:READ" />

		<!--========== STUDY ===========-->
		<entry key="/pages/study/create" value="gov.nih.nci.cabig.caaers.domain.Study:CREATE" />
		<entry key="/pages/study/view" value="gov.nih.nci.cabig.caaers.domain.Study:READ" />
		<entry key="/pages/study/search" value="gov.nih.nci.cabig.caaers.domain.Study:READ" />
		<entry key="/pages/study/edit" value="gov.nih.nci.cabig.caaers.domain.Study:READ" />
        <entry key="/pages/study/studyAgentIND" value="gov.nih.nci.cabig.caaers.domain.StudyAgent:CREATE" />
        <entry key="/pages/study/export" value="gov.nih.nci.cabig.caaers.domain.Study:CREATE || gov.nih.nci.cabig.caaers.domain.Study:UPDATE" />
        

		<!--========== ADVERSE EVENT REPORT ===========-->
        <entry key="/pages/ae/aeModuleResolverController" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ || gov.nih.nci.cabig.caaers.domain.workflow.ReportReviewComment:READ || gov.nih.nci.cabig.caaers.domain.workflow.ReportingPeriodReviewComment:READ" />
        <entry key="/pages/ae/list" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ" />
		<entry key="/pages/ae/captureRoutine" value="gov.nih.nci.cabig.caaers.domain.AdverseEventReportingPeriod:CREATE" />
		<entry key="/pages/ae/reviewResolver" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ || gov.nih.nci.cabig.caaers.domain.AdverseEventReportingPeriod:READ || gov.nih.nci.cabig.caaers.domain.workflow.ReportReviewComment:READ || gov.nih.nci.cabig.caaers.domain.workflow.ReportingPeriodReviewComment:READ" />
		<entry key="/pages/ae/reviewEvaluationPeriod" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ || gov.nih.nci.cabig.caaers.domain.workflow.ReportingPeriodReviewComment:READ" />
		<entry key="/pages/ae/reviewAeReport" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ || gov.nih.nci.cabig.caaers.domain.workflow.ReportReviewComment:READ" />
		<entry key="/pages/ae/submitReport" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE" />
		<entry key="/pages/ae/createReportingPeriod" value="gov.nih.nci.cabig.caaers.domain.AdverseEventReportingPeriod:CREATE" />
        <entry key="/pages/ae/blankForm" value="gov.nih.nci.cabig.caaers.domain.AdverseEventReportingPeriod:CREATE || gov.nih.nci.cabig.caaers.domain.AdverseEventReportingPeriod:UPDATE || gov.nih.nci.cabig.caaers.domain.Study:READ" />
		<entry key="/pages/ae/edit" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE" />
        <entry key="/pages/ae/listReviewComments" value="gov.nih.nci.cabig.caaers.domain.workflow.ReportReviewComment:READ || gov.nih.nci.cabig.caaers.domain.workflow.ReportingPeriodReviewComment:READ" />
		<entry key="/pages/ae/routingAndReview" value="gov.nih.nci.cabig.caaers.domain.workflow.ReportReviewComment:READ || gov.nih.nci.cabig.caaers.domain.workflow.ReportingPeriodReviewComment:READ" />
		<entry key="/pages/ae/generateExpeditedfPdf" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ" />


		<!--========== ADMIN ===========-->
        <entry key="/pages/admin/adminResolverController" value="gov.nih.nci.cabig.caaers.domain.Agent:READ || gov.nih.nci.cabig.caaers.domain.Investigator:READ || gov.nih.nci.cabig.caaers.domain.ReportStatus:READ || gov.nih.nci.cabig.caaers.domain.Import:ACCESS" />
		<entry key="/pages/admin/configure" value="gov.nih.nci.cabig.caaers.tools.configuration.Configuration:READ || gov.nih.nci.cabig.caaers.tools.configuration.Configuration:UPDATE"/>
		<entry key="/pages/admin/passwordPolicyConfigure" value="gov.nih.nci.cabig.caaers.domain.security.passwordpolicy.PasswordPolicy:READ"/>
		<entry key="/pages/admin/mandatoryFields" value="gov.nih.nci.cabig.caaers.domain.CaaersFieldDefinition:READ || gov.nih.nci.cabig.caaers.domain.CaaersFieldDefinition:UPDATE"/>
        <entry key="/pages/admin/reload" value="gov.nih.nci.cabig.caaers.domain.CaaersFieldDefinition:READ || gov.nih.nci.cabig.caaers.domain.CaaersFieldDefinition:UPDATE"/>
		<entry key="/pages/admin/searchOrganization" value="gov.nih.nci.cabig.caaers.domain.Organization:READ"/>
		<entry key="/pages/admin/createOrganization" value="gov.nih.nci.cabig.caaers.domain.Organization:CREATE"/>
        <entry key="/pages/admin/editOrganization" value="gov.nih.nci.cabig.caaers.domain.Organization:READ"/>
		<entry key="/pages/admin/trackReports" value="gov.nih.nci.cabig.caaers.domain.ReportStatus:READ"/>
		<entry key="/pages/admin/happy" value="gov.nih.nci.cabig.caaers.domain.Notification:READ"/>
		<entry key="/pages/admin/asaelSearch" value="gov.nih.nci.cabig.caaers.domain.Agent:READ"/>
		<entry key="/pages/admin/asaelCreate" value="gov.nih.nci.cabig.caaers.domain.Agent:CREATE"/>
        <entry key="/pages/admin/asaelEdit" value="gov.nih.nci.cabig.caaers.domain.Agent:UPDATE || gov.nih.nci.cabig.caaers.domain.Agent:READ" /> 
        <entry key="/pages/admin/editInvestigator" value="gov.nih.nci.cabig.caaers.domain.Investigator:UPDATE || gov.nih.nci.cabig.caaers.domain.Investigator:READ"/>
        <entry key="/pages/admin/createInvestigator" value="gov.nih.nci.cabig.caaers.domain.Investigator:CREATE"/>
        <entry key="/pages/admin/searchInvestigator" value="gov.nih.nci.cabig.caaers.domain.Investigator:READ"/>
        <entry key="/pages/admin/viewInvestigator" value="gov.nih.nci.cabig.caaers.domain.Investigator:READ"/>
        <entry key="/pages/admin/import" value="gov.nih.nci.cabig.caaers.domain.Import:ACCESS"/>

        <entry key="/pages/admin/editResearchStaff" value="gov.nih.nci.cabig.caaers.ResearchStaff:UPDATE || gov.nih.nci.cabig.caaers.domain.ResearchStaff:READ"/>
        <entry key="/pages/admin/createResearchStaff" value="gov.nih.nci.cabig.caaers.domain.ResearchStaff:CREATE"/>
        <entry key="/pages/admin/searchResearchStaff" value="gov.nih.nci.cabig.caaers.domain.ResearchStaff:READ"/>

        <entry key="/pages/admin/createIND" value="gov.nih.nci.cabig.caaers.domain.InvestigationalNewDrug:CREATE"/>
        <entry key="/pages/admin/searchIND" value="gov.nih.nci.cabig.caaers.domain.InvestigationalNewDrug:READ"/>

        <!--========= RULES ========-->
		<entry key="/pages/rule/create" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
        <entry key="/pages/rule/createOptions" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/list" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
        <entry key="/pages/rule/util" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
		<entry key="/pages/rule/addRule" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/addColumn" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/export" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
        <entry key="/pages/rule/deploy" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
        
		<entry key="/pages/rule/notification/create" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
        <entry key="/pages/rule/notification/edit" value="gov.nih.nci.cabig.caaers.domain.Rule:UPDATE"/>
		<entry key="/pages/rule/notification/list" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
		<entry key="/pages/rule/notification/import" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
        <entry key="/pages/rule/notification/export" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
        <entry key="/pages/rule/notification/createConfigProperty" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
        
        <!-- Advance Search -->
        <entry key="/pages/search/exportSearchResults" value="gov.nih.nci.cabig.caaers.domain.AdvanceSearch:ACCESS"/>
        <entry key="/pages/search/advancedSearch" value="gov.nih.nci.cabig.caaers.domain.AdvanceSearch:ACCESS"/>
        <entry key="/pages/search/listSearch" value="gov.nih.nci.cabig.caaers.domain.AdvanceSearch:CREATE"/>

		<!--========= SEARCH ========-->
		<entry key="/pages/search/report" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>
		<entry key="/pages/search/study" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		<entry key="/pages/search/participant" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		<entry key="/pages/search/routineReport" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>

	</util:map>

    <util:map id="tabObjectPrivilegeMap">
          <!-- STUDY FLOW  , STUDY READ ONLY (assumption : user with CREATE , UPDATE would automatically have READ )-->
          <entry key="gov.nih.nci.cabig.caaers.web.study.EmptyStudyTab" value="gov.nih.nci.cabig.caaers.domain.Study:READ"/>

          <!-- STUDY FLOW ,  UPDATE (assumption : user with CREATE would automatically have UPDATE )-->
          <entry key="gov.nih.nci.cabig.caaers.web.study.DetailsTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.StudyTherapiesTab" value="gov.nih.nci.cabig.caaers.domain.StudyTherapy:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.AgentsTab" value="gov.nih.nci.cabig.caaers.domain.StudyAgent:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.TreatmentAssignmentTab" value="gov.nih.nci.cabig.caaers.domain.TreatmentAssignment:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.DiseaseTab" value="gov.nih.nci.cabig.caaers.domain.AbstractStudyDisease:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.SolicitedAdverseEventTab" value="gov.nih.nci.cabig.caaers.domain.SolicitedAdverseEvent:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.ExpectedAEsTab" value="gov.nih.nci.cabig.caaers.domain.AbstractExpectedAE:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.SitesTab" value="gov.nih.nci.cabig.caaers.domain.StudySite:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.InvestigatorsTab" value="gov.nih.nci.cabig.caaers.domain.StudyInvestigator:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.PersonnelTab" value="gov.nih.nci.cabig.caaers.domain.StudyPersonnel:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.study.IdentifiersTab" value="gov.nih.nci.cabig.caaers.domain.Identifier:CREATE"/>



        
          <!-- SUBJECT FLOW , READ (assumption : user with CREATE , UPDATE would automatically have READ ) -->
          <entry key="gov.nih.nci.cabig.caaers.web.participant.AssignParticipantTab" value="gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.participant.AssignStudyTab" value="gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.participant.AssignSubjectMedHistoryTab" value="gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.participant.ReviewAssignmentTab" value="gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:CREATE"/>

          <!-- SUBJECT FLOW , UPDATE (assumption : user with CREATE would automatically have UPDATE )-->
          <entry key="gov.nih.nci.cabig.caaers.web.participant.EditParticipantReviewParticipantTab" value="gov.nih.nci.cabig.caaers.domain.Participant:READ"/>
          <entry key="gov.nih.nci.cabig.caaers.web.participant.EditParticipantTab" value="gov.nih.nci.cabig.caaers.domain.Participant:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.participant.EditSubjectMedHistoryTab" value="gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:UPDATE"/>

          <!-- SUBJECT FLOW , CREATE -->
          <entry key="gov.nih.nci.cabig.caaers.web.participant.CreateParticipantTab" value="gov.nih.nci.cabig.caaers.domain.Participant:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.participant.SelectStudyForParticipantTab" value="gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.participant.CreateParticipantReviewParticipantTab" value="gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.participant.CreateSubjectMedHistoryTab" value="gov.nih.nci.cabig.caaers.domain.StudyParticipantAssignment:CREATE"/>




          <!-- AE FLOW , CREATE (assumption : user with CREATE would automatically have UPDATE )-->
          <entry key="gov.nih.nci.cabig.caaers.web.ae.BeginTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.AdverseEventCaptureTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.ReviewAndReportTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE"/>

          <!--  Advanced search flow -->
          <entry key="gov.nih.nci.cabig.caaers.web.search.AdvancedSearchCriteriaTab" value="gov.nih.nci.cabig.caaers.domain.AdvanceSearch:ACCESS"/>
          <entry key="gov.nih.nci.cabig.caaers.web.search.AdvancedSearchViewTab" value="gov.nih.nci.cabig.caaers.domain.AdvanceSearch:ACCESS"/>
          <entry key="gov.nih.nci.cabig.caaers.web.search.AdvancedSearchResultsTab" value="gov.nih.nci.cabig.caaers.domain.AdvanceSearch:ACCESS"/>

          <!-- AE FLOW , UPDATE -->
          <entry key="gov.nih.nci.cabig.caaers.web.ae.CtcBasicsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.MeddraBasicsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.ReporterTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.TreatmentTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.DescriptionTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.StudyInterventionsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.PatientDetailsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.OtherCausesTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.RadiationInterventionTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.SurgeryInterventionTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.MedicalDeviceTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.LabsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.AttributionTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.AdditionalInformationTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.ViewReportTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>

          <!--  AE Flow, Submit -->
          <entry key="gov.nih.nci.cabig.caaers.web.ae.SubmitterTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.SubmitReportTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
          <entry key="gov.nih.nci.cabig.caaers.web.ae.SubmitReportResultTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>

          <!--========= RULES ========-->
          <entry key="gov.nih.nci.cabig.caaers.web.rule.author.SelectRuleTypeTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
          <entry key="gov.nih.nci.cabig.caaers.web.rule.author.RuleTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
          <entry key="gov.nih.nci.cabig.caaers.web.rule.author.ReviewTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>

          <!--========= REPORT DEFINITIONS ========-->
          <entry key="gov.nih.nci.cabig.caaers.web.rule.notification.BasicsTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
          <entry key="gov.nih.nci.cabig.caaers.web.rule.notification.ReportDeliveryDefinitionTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
          <entry key="gov.nih.nci.cabig.caaers.web.rule.notification.ReportMandatoryFieldDefinitionTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
          <entry key="gov.nih.nci.cabig.caaers.web.rule.notification.NotificationsTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
          <entry key="gov.nih.nci.cabig.caaers.web.rule.notification.ReviewTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>

          <!--========= TODO ADMIN ========-->
          <entry key="gov.nih.nci.cabig.caaers.web.admin.ImportTab" value="gov.nih.nci.cabig.caaers.domain.Import:ACCESS"/>
          <entry key="gov.nih.nci.cabig.caaers.web.admin.ImportReviewTab" value="gov.nih.nci.cabig.caaers.domain.Import:ACCESS"/>
          <entry key="gov.nih.nci.cabig.caaers.web.admin.ImportSummaryTab" value="gov.nih.nci.cabig.caaers.domain.Import:ACCESS"/>
          <entry key="gov.nih.nci.cabig.caaers.web.admin.ResearchStaffTab" value="gov.nih.nci.cabig.caaers.domain.ResearchStaff:UPDATE" />
          <entry key="gov.nih.nci.cabig.caaers.web.admin.AgentTab" value="gov.nih.nci.cabig.caaers.domain.Agent:READ" />
          <entry key="gov.nih.nci.cabig.caaers.web.admin.InvestigatorTab" value="gov.nih.nci.cabig.caaers.domain.Investigator:READ" />
          <entry key="gov.nih.nci.cabig.caaers.web.admin.OrganizationTab" value="gov.nih.nci.cabig.caaers.domain.Organization:READ" />
          
      </util:map>

    <bean id="taskGroupAuthorizationCheck" class="gov.nih.nci.cabig.caaers.web.security.TaskGroupAuthorizationCheck">
        <property name="taskAuthorizationCheck" ref="taskAuthorizationCheck"/>
    </bean>
         
    <!--
	<bean id="taskPrivilegeAndObjectIdGenerator" class="gov.nih.nci.cabig.caaers.web.security.TaskPrivilegeAndObjectIdGenerator">
		<property name="objectPrivilegeMap" ref="taskObjectPrivilegeMap" />
	</bean>

	<bean id="taskAuthorizationCheck" class="gov.nih.nci.cabig.caaers.security.CaaersObjectPrivilegeAuthorizationCheck">
		<property name="authorizationSwitch" ref="authorizationSwitch"/>

		<property name="csmAuthorizationCheck">
            <bean class="gov.nih.nci.cabig.ctms.acegi.grid.authorization.CSMGridGroupAuthorizationCheck">
				<property name="csmUserProvisioningManager" ref="csmUserProvisioningManager" />
                <property name="authorizationSwitch" ref="authorizationSwitch"/>
            </bean>
		</property>

		<property name="objectIdGenerator" ref="taskPrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator" ref="taskPrivilegeAndObjectIdGenerator" />
		<property name="rolePrivilegeDao" ref="rolePrivilegeDao"/>	
	</bean>



	<bean id="sectionPrivilegeAndObjectIdGenerator"
		class="gov.nih.nci.cabig.caaers.web.security.SectionPrivilegeAndObjectIdGenerator">
		<property name="objectPrivilegeMap"
			ref="sectionObjectPrivilegeMap" />
	</bean>

	<bean id="sectionAuthorizationCheck"
		class="gov.nih.nci.cabig.caaers.security.CaaersObjectPrivilegeAuthorizationCheck">
		
		<property name="authorizationSwitch" ref="authorizationSwitch"/>
		
		<property name="csmAuthorizationCheck">

			<bean class="gov.nih.nci.cabig.caaers.web.security.RoleCheck"/>
			<bean class="gov.nih.nci.cabig.ctms.acegi.grid.authorization.CSMGridGroupAuthorizationCheck">
				<property name="csmUserProvisioningManager"
					ref="csmUserProvisioningManager" />
                <property name="authorizationSwitch" ref="authorizationSwitch"/>
			</bean>

		</property>
		<property name="objectIdGenerator"
			ref="sectionPrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator"
			ref="sectionPrivilegeAndObjectIdGenerator" />
		<property name="rolePrivilegeDao" ref="rolePrivilegeDao"/>	
	</bean>

    <bean  id="roleCheck" class="gov.nih.nci.cabig.caaers.web.security.RoleCheck">
    	<property name="authorizationSwitch" ref="authorizationSwitch"/>
    </bean>

	<bean id="tabPrivilegeAndObjectIdGenerator"
		class="gov.nih.nci.cabig.caaers.web.security.TabPrivilageAndObjectIdGenerator">
		<property name="objectPrivilegeMap"
			ref="tabObjectPrivilegeMap" />
	</bean>

	<bean id="tabAuthorizationCheck"
		class="gov.nih.nci.cabig.caaers.security.CaaersObjectPrivilegeAuthorizationCheck">

		<property name="authorizationSwitch" ref="authorizationSwitch"/>

		<property name="csmAuthorizationCheck">
			<bean class="gov.nih.nci.cabig.ctms.acegi.grid.authorization.CSMGridGroupAuthorizationCheck">
				<property name="csmUserProvisioningManager"
					ref="csmUserProvisioningManager" />
                <property name="authorizationSwitch" ref="authorizationSwitch"/>
			</bean>

		</property>
		<property name="objectIdGenerator"
			ref="tabPrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator"
			ref="tabPrivilegeAndObjectIdGenerator" />
		<property name="rolePrivilegeDao" ref="rolePrivilegeDao"/>
	</bean>


		
    <bean id="siteAuthorizationCheck"
          class="gov.nih.nci.cabig.caaers.security.CaaersObjectPrivilegeAuthorizationCheck">
        <property name="authorizationSwitch" ref="authorizationSwitch"/>
        <property name="csmAuthorizationCheck" ref="csmGroupAuthorizationCheck"></property>
        <property name="objectIdGenerator"
                  ref="sitePrivilegeAndObjectIdGenerator"/>
        <property name="privilegeGenerator"
                  ref="sitePrivilegeAndObjectIdGenerator"/>
		<property name="rolePrivilegeDao" ref="rolePrivilegeDao"/>                  
    </bean>
  -->

    <bean id="gridAuthenticationClient" class="gov.nih.nci.cabig.ctms.acegi.grid.authentication.GridBasicAuthenticationClientImpl">
    	<property name="idpUrl" value="https://localhost:58443/wsrf/services/cagrid/AuthenticationService"/>
		<property name="ifsUrl" value="https://localhost:28443/wsrf/services/cagrid/Dorian"/>
		<property name="proxyLifetimeHours" value="12"/>
		<property name="proxyLifetimeMinutes" value="0"/>
		<property name="proxyLifetimeSeconds" value="0"/>
		<property name="delegationPathLength" value="0"/>
    </bean>
    
    <bean id="gridProxyValidator" class="gov.nih.nci.cabig.ctms.acegi.grid.authentication.GridProxyValidatorImpl"/>
    
    <bean id="gridGroupSearch" class="gov.nih.nci.cabig.ctms.acegi.grid.authorization.CSMGridGroupSearch">
    	<property name="userProvisioningManager" ref="csmUserProvisioningManager"/>
    	<property name="csmApplicationContextName" ref="csmApplicationContextName"/>
    	<!-- Timeout per GridGrouperInstance -->
    	<property name="gridGrouperTimeout" value="10000"/>
    	<property name="gridGrouperClientFactory" ref="gridGrouperClientFactory"/>
    </bean>
    
    <bean id="gridGrouperClientFactory" class="gov.nih.nci.cabig.ctms.acegi.grid.authorization.DefaultGridGrouperClientFactory"/>	

  	
<!--   The bean managing the rendering decision-->
  	<bean id="renderDecisionManagerBean" class="gov.nih.nci.cabig.caaers.web.RenderDecisionManager" scope="session" lazy-init="true"/>
    <bean id="renderDecisionManager" class="gov.nih.nci.cabig.caaers.web.RenderDecisionManagerFactoryBean" />
    
    <bean id="caaersFieldConfigurationManager" class="gov.nih.nci.cabig.caaers.web.CaaersFieldConfigurationManager">
    	<property name="caaersFieldDefinitionDao" ref="caaersFieldDefinitionDao" />
    </bean>
    

    <bean id="siteAuthorizationCheck" class="gov.nih.nci.cabig.caaers.security.authorization.SiteAuthorizationCheck">
        <property name="caaersSecurityFacade" ref="caaersSecurityFacade" />
    </bean>
    
    <bean id="caaersWebAuthorizationCheck" abstract="true" class="gov.nih.nci.cabig.caaers.security.authorization.ObjectPrivilegeAuthorizationCheck">
          <property name="caaersSecurityFacade" ref="caaersSecurityFacade" />
    </bean>
    <bean id="taskAuthorizationCheck" parent="caaersWebAuthorizationCheck">
        <property name="objectPrivilegeGenerator" ref="taskObjectPrivilegeGenerator" />
    </bean>

    <bean id="tabAuthorizationCheck" parent="caaersWebAuthorizationCheck">
        <property name="objectPrivilegeGenerator" ref="tabObjectPrivilegeGenerator" />
    </bean>

    <bean id="urlAuthorizationCheck" parent="caaersWebAuthorizationCheck">
        <property name="objectPrivilegeGenerator" ref="filterInvocationObjectPrivilegeGenerator" />
    </bean>

    <bean id="taskObjectPrivilegeGenerator" class="gov.nih.nci.cabig.caaers.web.security.TasksObjectPrivilegeGenerator">
        <property name="objectPrivilegeMap" ref="taskObjectPrivilegeMap" />
    </bean>
    
    <bean id="tabObjectPrivilegeGenerator" class="gov.nih.nci.cabig.caaers.web.security.TabObjectPrivilegeGenerator">
        <property name="objectPrivilegeMap" ref="tabObjectPrivilegeMap" />
    </bean>

    <bean id="filterInvocationObjectPrivilegeGenerator" class="gov.nih.nci.cabig.caaers.web.security.FilterInvocationObjectPrivilegeGenerator">
           <property name="objectPrivilegeMap" ref="taskObjectPrivilegeMap" />
    </bean>


</beans>
