<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <context:annotation-config/>

    <bean id="wsAuditInfoInterceptor" class="gov.nih.nci.cabig.caaers.ws.AuditInfoPopulatorWSInterceptor"  />
    <bean id="authenticationWSHandler" class="gov.nih.nci.cabig.caaers.ws.AuthenticationWSHandler">
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="userRepository" ref="userRepository" />
    </bean>

    <bean id="adverseEventManagementWebServiceBean" class="gov.nih.nci.cabig.caaers.ws.impl.AdverseEventManagementWebService">
        <property name="impl" ref="adverseEventManagementServiceImpl" />
    </bean>
    
    <jaxws:endpoint
            id="adverseEventManagementWebService"
            implementor="#adverseEventManagementWebServiceBean"
            address="/AdverseEventManagementService">
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
                <constructor-arg>
                    <map>
                        <entry key="action" value="UsernameToken" />
                        <entry key="passwordType" value="PasswordText" />
                        <entry key="passwordCallbackRef">
                            <ref bean="authenticationWSHandler" />
                        </entry>
                    </map>
                </constructor-arg>
            </bean>
            <ref bean="wsAuditInfoInterceptor" />
        </jaxws:inInterceptors>
    </jaxws:endpoint>

    <bean id="studyManagementWebServiceBean" class="gov.nih.nci.cabig.caaers.ws.impl.StudyManagementWebService">
        <property name="impl" ref="studyProcessorImpl" />
    </bean>
    <jaxws:endpoint
            id="studyWebService"
            implementor="#studyManagementWebServiceBean"
            address="/StudyService">
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
                <constructor-arg>
                    <map>
                        <entry key="action" value="UsernameToken" />
                        <entry key="passwordType" value="PasswordText" />
                        <entry key="passwordCallbackRef">
                            <ref bean="authenticationWSHandler" />
                        </entry>
                    </map>
                </constructor-arg>
            </bean>
            <ref bean="wsAuditInfoInterceptor" />
        </jaxws:inInterceptors>
    </jaxws:endpoint>

    <bean id="participantManagementWebServiceBean"  class="gov.nih.nci.cabig.caaers.ws.impl.ParticipantManagementWebService">
        <property name="impl" ref="participantServiceImpl" />
    </bean>
    <jaxws:endpoint
            id="participantWebService"
            implementor="#participantManagementWebServiceBean"
            address="/ParticipantService">
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
                <constructor-arg>
                    <map>
                        <entry key="action" value="UsernameToken" />
                        <entry key="passwordType" value="PasswordText" />
                        <entry key="passwordCallbackRef">
                            <ref bean="authenticationWSHandler" />
                        </entry>
                    </map>
                </constructor-arg>
            </bean>
            <ref bean="wsAuditInfoInterceptor" />
        </jaxws:inInterceptors>
    </jaxws:endpoint>

    <bean id="investigatorManagementWebServiceBean" class="gov.nih.nci.cabig.caaers.ws.impl.InvestigatorManagementWebService">
        <property name="impl" ref="investigatorMigratorService"  />
    </bean>
    <jaxws:endpoint
            id="investigatorWebService"
            implementor="#investigatorManagementWebServiceBean"
            address="/InvestigatorMigratorService">
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
                <constructor-arg>
                    <map>
                        <entry key="action" value="UsernameToken" />
                        <entry key="passwordType" value="PasswordText" />
                        <entry key="passwordCallbackRef">
                            <ref bean="authenticationWSHandler" />
                        </entry>
                    </map>
                </constructor-arg>
            </bean>
            <ref bean="wsAuditInfoInterceptor" />
        </jaxws:inInterceptors>
    </jaxws:endpoint>

    <bean id="researchStaffManagementWebServiceBean" class="gov.nih.nci.cabig.caaers.ws.impl.ResearchStaffManagementWebService">
        <property name="impl" ref="researchStaffMigratorService"     />
    </bean>
    <jaxws:endpoint
            id="researchStaffWebService"
            implementor="#researchStaffManagementWebServiceBean"
            address="/ResearchStaffMigratorService">
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
                <constructor-arg>
                    <map>
                        <entry key="action" value="UsernameToken" />
                        <entry key="passwordType" value="PasswordText" />
                        <entry key="passwordCallbackRef">
                            <ref bean="authenticationWSHandler" />
                        </entry>
                    </map>
                </constructor-arg>
            </bean>
            <ref bean="wsAuditInfoInterceptor" />
        </jaxws:inInterceptors>
    </jaxws:endpoint>


</beans>
