<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


	<util:map id="taskObjectPrivilegeMap">
        <!--========== TASK PAGE ===========-->
        <entry key="/pages/task"
               value="gov.nih.nci.cabig.caaers.Task:ACCESS"/>


        <!--========== PARTICIPANT ===========-->
		<entry key="/pages/participant/create"
			value="gov.nih.nci.cabig.caaers.domain.Participant:CREATE" />
		<entry key="/pages/participant/edit"
			value="gov.nih.nci.cabig.caaers.domain.Participant:UPDATE" />		
		<entry key="/pages/participant/view"
			value="gov.nih.nci.cabig.caaers.domain.Participant:READ" />
		<entry key="/pages/participant/assign"
			value="gov.nih.nci.cabig.caaers.domain.Participant:UPDATE" />
		<entry key="/pages/participant/assignStudy"
			value="gov.nih.nci.cabig.caaers.domain.Participant:UPDATE" />
		<entry key="/pages/participant/assignParticipant"
			value="gov.nih.nci.cabig.caaers.domain.Participant:READ" />
		<entry key="/pages/participant/search" 
			value="gov.nih.nci.cabig.caaers.domain.Participant:READ"/>

		<!--========== STUDY ===========-->
		<entry key="/pages/study/create"
			value="gov.nih.nci.cabig.caaers.domain.Study:CREATE" />
		<entry key="/pages/study/view"
			value="gov.nih.nci.cabig.caaers.domain.Study:READ" />
		<entry key="/pages/study/search"
			value="gov.nih.nci.cabig.caaers.domain.Study:READ" />
		<entry key="/pages/study/edit"
			value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE" />

		<!--========== ADVERSE EVENT REPORT ===========-->
		<entry key="/pages/ae/create"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE" />
		<entry key="/pages/ae/createRoutine"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE" />
		<entry key="/pages/ae/captureRoutine"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE" />

		<entry key="/pages/ae/reviewResolver"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:ACCESS" />
		<entry key="/pages/ae/reviewEvaluationPeriod"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:ACCESS" />
		<entry key="/pages/ae/reviewAeReport"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:ACCESS" />
		<entry key="/pages/ae/submitReport"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ" />	
		<entry key="/pages/ae/createReportingPeriod"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE" />
		<entry key="/pages/ae/createAeReportingPeriod"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE" />	
		<entry key="/pages/ae/edit"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE" />
		<entry key="/pages/ae/editRoutine"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE" />
		<entry key="/pages/ae/list"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ" />
		<entry key="/pages/ae/routingAndReview"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:ACCESS" />
		<entry key="/pages/ae/generateExpeditedfPdf"
			value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:ACCESS" />

		<!--========== TODO: REPORT ===========-->

		<!--========== TODO: ADMIN ===========-->
		
        <entry key="/pages/admin/reload" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/configure" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/configure" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/createInvestigator" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/searchInvestigator" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/viewInvestigator" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/createResearchStaff" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/searchResearchStaff" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/viewResearchStaff" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/import" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/importMeddra" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/createIND" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/createOrganization" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/searchIND" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/passwordPolicyConfigure" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/mandatoryFields" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/trackReports" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>               
        <entry key="/pages/admin/asaelSearch" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/asaelCreate" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/asaelEdit" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
        <entry key="/pages/admin/asaelImport" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>

        <!--========= RULES ========-->
		<entry key="/pages/rule/create" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/list" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
		<entry key="/pages/rule/addRule" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/addColumn" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/notification/create" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/notification/list" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/deploy" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/export" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/import" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/notification/import" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		
		<!--========= SEARCH ========-->
		<entry key="/pages/search/report" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>
		<entry key="/pages/search/advancedSearch" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>
		<entry key="/pages/search/listSearch" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE"/>
		<entry key="/pages/search/study" value="gov.nih.nci.cabig.caaers.domain.Study:READ"/>
		<entry key="/pages/search/participant" value="gov.nih.nci.cabig.caaers.domain.Participant:READ"/>
		<!--<entry key="/pages/search/adverseEvent" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>-->
		
		<entry key="/pages/search/routineReport" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>

	</util:map>
	

	<bean id="taskPrivilegeAndObjectIdGenerator"
		class="gov.nih.nci.cabig.caaers.web.security.TaskPrivilegeAndObjectIdGenerator">
		<property name="objectPrivilegeMap"
			ref="taskObjectPrivilegeMap" />
	</bean>

	<bean id="taskAuthorizationCheck"
		class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
		
		<property name="authorizationSwitch" ref="authorizationSwitch"/>
		
		<property name="csmAuthorizationCheck">
			<bean
                class="gov.nih.nci.security.acegi.grid.authorization.CSMGridGroupAuthorizationCheck">
				<property name="csmUserProvisioningManager" ref="csmUserProvisioningManager" />
                <property name="authorizationSwitch" ref="authorizationSwitch"/>
            </bean>

		</property>
		<property name="objectIdGenerator"
			ref="taskPrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator"
			ref="taskPrivilegeAndObjectIdGenerator" />
	</bean>

    <bean id="taskGroupAuthorizationCheck"
          class="gov.nih.nci.cabig.caaers.web.security.TaskGroupAuthorizationCheck">
        <property name="taskAuthorizationCheck" ref="taskAuthorizationCheck"/>
    </bean>


    <util:map id="sectionObjectPrivilegeMap">
		<entry key="/pages/ae/list" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>
		<entry key="/pages/study/search" value="gov.nih.nci.cabig.caaers.domain.Study:READ"/>
		<entry key="/pages/participant/search" value="gov.nih.nci.cabig.caaers.domain.Participant:READ"/>
		<entry key="/pages/report/notImplemented" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/rule/create" value="gov.nih.nci.cabig.caaers.domain.Rule:CREATE"/>
		<entry key="/pages/admin/configure" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		<entry key="/pages/search/report" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>
		<entry key="/pages/search/advancedSearch" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>
		<entry key="/pages/search/listSearch" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE"/>
	</util:map>
	
	<bean id="sectionPrivilegeAndObjectIdGenerator"
		class="gov.nih.nci.cabig.caaers.web.security.SectionPrivilegeAndObjectIdGenerator">
		<property name="objectPrivilegeMap"
			ref="sectionObjectPrivilegeMap" />
	</bean>

	<bean id="sectionAuthorizationCheck"
		class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
		
		<property name="authorizationSwitch" ref="authorizationSwitch"/>
		
		<property name="csmAuthorizationCheck">
		<!-- 
			<bean class="gov.nih.nci.cabig.caaers.web.security.RoleCheck"/>
 -->
			<bean class="gov.nih.nci.security.acegi.grid.authorization.CSMGridGroupAuthorizationCheck">
				<property name="csmUserProvisioningManager"
					ref="csmUserProvisioningManager" />
                <property name="authorizationSwitch" ref="authorizationSwitch"/>
			</bean>

		</property>
		<property name="objectIdGenerator"
			ref="sectionPrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator"
			ref="sectionPrivilegeAndObjectIdGenerator" />
	</bean>
	
    <bean  id="roleCheck" class="gov.nih.nci.cabig.caaers.web.security.RoleCheck">
    	<property name="authorizationSwitch" ref="authorizationSwitch"/>
    </bean>
    
    <util:map id="tabObjectPrivilegeMap">
    	<!-- STUDY FLOW  , STUDY READ ONLY (assumption : user with CREATE , UPDATE would automatically have READ )-->
		<entry key="gov.nih.nci.cabig.caaers.web.study.EmptyStudyTab" value="gov.nih.nci.cabig.caaers.domain.Study:READ"/>
		
		<!-- STUDY FLOW ,  UPDATE (assumption : user with CREATE would automatically have UPDATE )-->
		<entry key="gov.nih.nci.cabig.caaers.web.study.DetailsTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.StudyTherapiesTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.AgentsTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.TreatmentAssignmentTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.DiseaseTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.SolicitedAdverseEventTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.ExpectedAEsTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.SitesTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.InvestigatorsTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.PersonnelTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.study.IdentifiersTab" value="gov.nih.nci.cabig.caaers.domain.Study:UPDATE"/>

		
		<!-- SUBJECT FLOW , READ (assumption : user with CREATE , UPDATE would automatically have READ ) -->	
		<entry key="gov.nih.nci.cabig.caaers.web.participant.EditParticipantReviewParticipantTab" value="gov.nih.nci.cabig.caaers.domain.Participant:READ"/>

		<!-- SUBJECT FLOW , UPDATE (assumption : user with CREATE would automatically have UPDATE )-->		
		<entry key="gov.nih.nci.cabig.caaers.web.participant.EditParticipantTab" value="gov.nih.nci.cabig.caaers.domain.Participant:UPDATE"/>		
		<entry key="gov.nih.nci.cabig.caaers.web.participant.SubjectMedHistoryTab" value="gov.nih.nci.cabig.caaers.domain.Participant:UPDATE"/>		
		<entry key="gov.nih.nci.cabig.caaers.web.participant.AssignParticipantTab" value="gov.nih.nci.cabig.caaers.domain.Participant:UPDATE"/>	
		<entry key="gov.nih.nci.cabig.caaers.web.participant.AssignStudyTab" value="gov.nih.nci.cabig.caaers.domain.Participant:UPDATE"/>	
		<entry key="gov.nih.nci.cabig.caaers.web.participant.ReviewAssignmentTab" value="gov.nih.nci.cabig.caaers.domain.Participant:UPDATE"/>	
				
		<!-- SUBJECT FLOW , CREATE -->	
		<entry key="gov.nih.nci.cabig.caaers.web.participant.CreateParticipantTab" value="gov.nih.nci.cabig.caaers.domain.Participant:CREATE"/>		
		<entry key="gov.nih.nci.cabig.caaers.web.participant.SelectStudyForParticipantTab" value="gov.nih.nci.cabig.caaers.domain.Participant:CREATE"/>			
		<entry key="gov.nih.nci.cabig.caaers.web.participant.CreateParticipantReviewParticipantTab" value="gov.nih.nci.cabig.caaers.domain.Participant:CREATE"/>		
		
		<!-- AE FLOW , CREATE (assumption : user with CREATE would automatically have UPDATE )-->	
		<entry key="gov.nih.nci.cabig.caaers.web.ae.BeginTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.AdverseEventCaptureTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE"/>	
		<entry key="gov.nih.nci.cabig.caaers.web.ae.ReviewAndReportTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:CREATE"/>	

		<!--  Advanced search flow -->
		<entry key="gov.nih.nci.cabig.caaers.web.search.AdvancedSearchCriteriaTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>
		<entry key="gov.nih.nci.cabig.caaers.web.search.AdvancedSearchViewTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>
		<entry key="gov.nih.nci.cabig.caaers.web.search.AdvancedSearchResultsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:READ"/>

		<!-- AE FLOW , UPDATE -->
		<entry key="gov.nih.nci.cabig.caaers.web.ae.CtcBasicsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.MeddraBasicsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.ReporterTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>	
		<entry key="gov.nih.nci.cabig.caaers.web.ae.TreatmentTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.DescriptionTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>	
		<entry key="gov.nih.nci.cabig.caaers.web.ae.StudyInterventionsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>	
		<entry key="gov.nih.nci.cabig.caaers.web.ae.PatientDetailsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.OtherCausesTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.RadiationInterventionTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>	
		<entry key="gov.nih.nci.cabig.caaers.web.ae.SurgeryInterventionTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>	
		<entry key="gov.nih.nci.cabig.caaers.web.ae.MedicalDeviceTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>	
		<entry key="gov.nih.nci.cabig.caaers.web.ae.LabsTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>			
		<entry key="gov.nih.nci.cabig.caaers.web.ae.AttributionTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.AdditionalInformationTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.ViewReportTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:UPDATE"/>
		
		<!--  AE Flow, Submit -->
		<entry key="gov.nih.nci.cabig.caaers.web.ae.SubmitterTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:ACCESS"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.SubmitReportTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:ACCESS"/>
		<entry key="gov.nih.nci.cabig.caaers.web.ae.SubmitReportResultTab" value="gov.nih.nci.cabig.caaers.domain.ExpeditedAdverseEventReport:ACCESS"/>
		
        <!--========= RULES ========-->
		<entry key="gov.nih.nci.cabig.caaers.web.rule.author.SelectRuleTypeTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
		<entry key="gov.nih.nci.cabig.caaers.web.rule.author.DisplayRuleSetsTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
		<entry key="gov.nih.nci.cabig.caaers.web.rule.author.RuleTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
		<entry key="gov.nih.nci.cabig.caaers.web.rule.author.ReviewTab" value="gov.nih.nci.cabig.caaers.domain.Rule:READ"/>
		
        <!--========= REPORT DEFINITIONS ========-->
		<entry key="gov.nih.nci.cabig.caaers.web.rule.notification.BasicsTab" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		<entry key="gov.nih.nci.cabig.caaers.web.rule.notification.ReportDeliveryDefinitionTab" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		<entry key="gov.nih.nci.cabig.caaers.web.rule.notification.ReportMandatoryFieldDefinitionTab" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		<entry key="gov.nih.nci.cabig.caaers.web.rule.notification.NotificationsTab" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		<entry key="gov.nih.nci.cabig.caaers.web.rule.notification.ReviewTab" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		
		<!--========= TODO ADMIN ========-->
		<entry key="gov.nih.nci.cabig.caaers.web.admin.ImportTab" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		<entry key="gov.nih.nci.cabig.caaers.web.admin.ImportReviewTab" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
		<entry key="gov.nih.nci.cabig.caaers.web.admin.ImportSummaryTab" value="gov.nih.nci.cabig.caaers.Admin:ACCESS"/>
				
	</util:map>
	
	<bean id="tabPrivilegeAndObjectIdGenerator"
		class="gov.nih.nci.cabig.caaers.web.security.TabPrivilageAndObjectIdGenerator">
		<property name="objectPrivilegeMap"
			ref="tabObjectPrivilegeMap" />
	</bean>	

	<bean id="tabAuthorizationCheck"
		class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
		
		<property name="authorizationSwitch" ref="authorizationSwitch"/>
		
		<property name="csmAuthorizationCheck">
			<bean class="gov.nih.nci.security.acegi.grid.authorization.CSMGridGroupAuthorizationCheck">
				<property name="csmUserProvisioningManager"
					ref="csmUserProvisioningManager" />
                <property name="authorizationSwitch" ref="authorizationSwitch"/>
			</bean>

		</property>
		<property name="objectIdGenerator"
			ref="tabPrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator"
			ref="tabPrivilegeAndObjectIdGenerator" />
	</bean>
		
    <bean id="siteAuthorizationCheck"
          class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
        <property name="authorizationSwitch" ref="authorizationSwitch"/>
        <property name="csmAuthorizationCheck" ref="csmGroupAuthorizationCheck"></property>
        <property name="objectIdGenerator"
                  ref="sitePrivilegeAndObjectIdGenerator"/>
        <property name="privilegeGenerator"
                  ref="sitePrivilegeAndObjectIdGenerator"/>
    </bean>


    <bean id="gridAuthenticationClient" class="gov.nih.nci.security.acegi.grid.authentication.GridBasicAuthenticationClientImpl">
    	<property name="idpUrl" value="https://localhost:58443/wsrf/services/cagrid/AuthenticationService"/>
		<property name="ifsUrl" value="https://localhost:28443/wsrf/services/cagrid/Dorian"/>
		<property name="proxyLifetimeHours" value="12"/>
		<property name="proxyLifetimeMinutes" value="0"/>
		<property name="proxyLifetimeSeconds" value="0"/>
		<property name="delegationPathLength" value="0"/>
    </bean>
    
    <bean id="gridProxyValidator" class="gov.nih.nci.security.acegi.grid.authentication.GridProxyValidatorImpl"/>
    
    <bean id="gridGroupSearch" class="gov.nih.nci.security.acegi.grid.authorization.CSMGridGroupSearch">
    	<property name="userProvisioningManager" ref="csmUserProvisioningManager"/>
    	<property name="csmApplicationContextName" ref="csmApplicationContextName"/>
    	<!-- Timeout per GridGrouperInstance -->
    	<property name="gridGrouperTimeout" value="10000"/>
    	<property name="gridGrouperClientFactory" ref="gridGrouperClientFactory"/>
    </bean>
    
    <bean id="gridGrouperClientFactory" class="gov.nih.nci.security.acegi.grid.authorization.DefaultGridGrouperClientFactory"/>	

  	
<!--   The bean managing the rendering decision-->
  	<bean id="renderDecisionManagerBean" class="gov.nih.nci.cabig.caaers.web.RenderDecisionManager" scope="session" lazy-init="true"/>
    <bean id="renderDecisionManager" class="gov.nih.nci.cabig.caaers.web.RenderDecisionManagerFactoryBean" />
    
    <bean id="caaersFieldConfigurationManager" class="gov.nih.nci.cabig.caaers.web.CaaersFieldConfigurationManager">
    	<property name="caaersFieldDefinitionDao" ref="caaersFieldDefinitionDao" />
    </bean>
    
    
	<bean id="authenticationSuccessListener" class="gov.nih.nci.cabig.caaers.web.listener.AuthenticationSuccessListener">
		<property name="filteredDataLoader" ref="filteredDataLoader"/>
	</bean>
	
</beans>
