<?xml version="1.0" encoding="UTF-8"?>
<!--
  Beans related to data migration are defined here. 
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">



	<bean id="authenticationSuccessListener" class="gov.nih.nci.cabig.caaers.web.listener.AuthenticationSuccessListener">
		<property name="filteredDataLoader" ref="fullIndexDataLoader"/>
	</bean>

    <bean id="organizationModificationEventListener" class="gov.nih.nci.cabig.caaers.web.listener.OrganizationModificationEventListener">
        <property name="filteredDataLoader" ref="organizationIndexDataLoader" />
        <property name="caaersSecurityFacade" ref="caaersSecurityFacade"/>
    </bean>
    
    <bean id="studyModificationEventListener" class="gov.nih.nci.cabig.caaers.web.listener.StudyModificationEventListener">
        <property name="filteredDataLoader" ref="studyIndexDataLoader" />
        <property name="studyRepository" ref="studyRepository" />
        <property name="caaersSecurityFacade" ref="caaersSecurityFacade"/>
    </bean>

    <bean id="subjectModificationEventListener" class="gov.nih.nci.cabig.caaers.web.listener.SubjectModificationEventListener">
        <property name="filteredDataLoader" ref="subjectIndexDataLoader" />
    </bean>

    <bean id="researchStaffModificationEventListener" class="gov.nih.nci.cabig.caaers.web.listener.ResearchStaffModificationEventListener">
        <property name="filteredDataLoader" ref="researchStaffIndexDataLoader" />
        <property name="caaersSecurityFacade" ref="caaersSecurityFacade"/>
    </bean>

    <bean id="investigatorModificationEventListener" class="gov.nih.nci.cabig.caaers.web.listener.InvestigatorModificationEventListener">
        <property name="filteredDataLoader" ref="investigatorIndexDataLoader" />
        <property name="caaersSecurityFacade" ref="caaersSecurityFacade"/>
    </bean>

    <bean id="courseModificationEventListener" class="gov.nih.nci.cabig.caaers.web.listener.CourseModificationEventListener">
        <property name="filteredDataLoader" ref="courseIndexDataLoader" />
    </bean>

    <bean id="reportModificationEventListener" class="gov.nih.nci.cabig.caaers.web.listener.ReportModificationEventListener">
        <property name="filteredDataLoader" ref="reportIndexDataLoader" />
    </bean>

</beans>