gridldap{
  gov.nih.nci.security.authentication.loginmodules.LDAPLoginModule Required
  ldapHost="@ldap_host@"
  ldapSearchableBase="@ldap_base@"
  ldapUserIdLabel="@user_id_label@"
  ldapAdminUserName="@admin_user_name@"
  ldapAdminPassword="@admin_password@"
  
  USER_FIRST_NAME="@user_first_name_ldap@"
  USER_LAST_NAME="@user_last_name_ldap@"
  USER_EMAIL_ID="@email_ldap@";
  
  
};

 

gridrdbms{
  gov.nih.nci.security.authentication.loginmodules.RDBMSLoginModule Required
  driver="@driver@" 
  url="@url@"
  user="@user@" 
  passwd="@password@" 
  
  TABLE_NAME="@table_name@"
  USER_LOGIN_ID="@user_login@"
  USER_PASSWORD="@user_password@"
  USER_FIRST_NAME="@user_first_name_rdbms@"
  USER_LAST_NAME="@user_last_name_rdbms@"
  USER_EMAIL_ID="@email_rdbms@";
};
